.geo-buttons {
  list-style: none;
  color: var(--mediumGray);
  display: grid;
  button { width: 100% !important; }
  svg {
    display: block;
    max-width: 80px;
    max-height: 40px;
    margin: 0.5em auto;
    box-sizing: border-box;
    path {
      fill: currentColor;
    }
  }
  button {
    background: transparent;
    padding: 0.3em 0.75em;
    display: flex;
    border: var(--lightGray) 1px solid;
    width: 40%;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
    transition: 0.2s all;
    svg {
      display: block;
      height: 25px;
      margin: 0.5em auto;
      max-width: 100%;
    }
    span {
      text-transform: none;
      font-size: 1em;
    }
    &:hover {
      background: #f2f2f2;
      transition: 0.2s all;
    }
    &.active {
      background: #fff;
      border-color: #005eaa;
      color: #005eaa;
      position: relative;
      path {
        fill: #005eaa;
      }
      &:before {
        content: ' ';
        width: 5px;
        background: #005eaa;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
      }
    }
  }
}

.editor-toggle {
  background: #f2f2f2;
  border-radius: 60px;
  color: #000;
  font-size: 1em;
  border: 0;
  position: fixed;
  z-index: 100;
  transition: 0.1s background;
  cursor: pointer;
  width: 25px;
  height: 25px;
  left: 307px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  &:before {
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: '\00ab';
  }
  &.collapsed {
    left: 1em;
    margin-left: 0;
    &:before {
      content: '\00bb';
    }
  }
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

