.geo-buttons {
  color: var(--mediumGray);
  display: grid;
  list-style: none;
  button { width: 100% !important; }
  svg {
    box-sizing: border-box;
    display: block;
    margin: 0.5em auto;
    max-height: 40px;
    max-width: 80px;
    path {
      fill: currentColor;
    }
  }
  button {
    align-items: center;
    background: transparent;
    border: var(--lightGray) 1px solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    overflow: hidden;
    padding: 0.3em 0.75em;
    transition: 0.2s all;
    width: 40%;
    svg {
      display: block;
      height: 25px;
      margin: 0.5em auto;
      max-width: 100%;
    }
    span {
      font-size: 1em;
      text-transform: none;
    }
    &:hover {
      background: #f2f2f2;
      transition: 0.2s all;
    }
    &.active {
      background: #fff;
      border-color: #005eaa;
      color: #005eaa;
      position: relative;
      path {
        fill: #005eaa;
      }
      &:before {
        background: #005eaa;
        bottom: 0;
        content: ' ';
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }
    }
  }
}

.editor-toggle {
  background: #f2f2f2;
  border: 0;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  height: 25px;
  left: 307px;
  position: fixed;
  transition: 0.1s background;
  width: 25px;
  z-index: 100;
  &:before {
    content: '\00ab';
    left: 50%;
    position: absolute;
    top: 43%;
    transform: translate(-50%, -50%);
  }
  &.collapsed {
    left: 1em;
    margin-left: 0;
    &:before {
      content: '\00bb';
    }
  }
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

.editor-panel-action-button {
  margin-top: 1rem;
}
