@import '~bootstrap/scss/bootstrap';
@import '@cdc/core/styles/base';
@import 'scss/reset';
@import 'scss/variables';
@import 'scss/mixins';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

.visually-hidden {
  position: fixed;
  left: -10000px;
}

.loader {
  width: 100%;
  text-align: center;
  display: inline-block;
  animation: spin 1s linear infinite;

  &::before {
    content: '\21BB';
  }
}

.chart-title {
    text-align: center;
    margin-bottom: 40px;
}

.chart-description {
  margin-bottom: 20px;
}

.chart-container {
  display: inline-block;
  width: 75%;

  &.legend-hidden {
    width: 100%;
  }
}

.legend-container {
  display: inline-block;
  width: 25%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
  float: right;

  &.left {
    float: left;
  }

  .visx-legend-item {
    cursor: pointer;
  }
}

svg {
  overflow: visible;
}

.table-header {
  font-size: x-large;
  font-weight: bold;
  line-height: 2em;
  padding-left: 10px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  padding: 0.25em 1em;

  .table-indicator {
    float: right;
    font-size: xx-large;
    font-weight: bold;
  }
}

.table-container {
  overflow-x: auto;

  table {
    width: auto;
    min-width: 100%;
    border-collapse: collapse;

    thead th {
      cursor: pointer;

      &:first-child {
        cursor: default;
      }
    }



    tbody {
      width: auto;
    }

    th, td {
      border: 1px solid black;
    }

    th {
      line-height: 1.5em;
      padding: 5px;
      user-select: none;
      background-color: #e5e5e5;
    }

    .table-sort-indicator {
      float: right;
      display: inline-block;
      font-weight: bold;
      font-size: x-large;

      &.down {
        transform: rotate(180deg);
      }
    }
  }
}

.region-table {
  margin-top: 15px;
}

@media (max-width: 900px) {
  .chart-container, .legend-container {
    width: 100%;
  }

  .legend-container > div {
    display: flex;
  }
}