$editorAnimationTimer: 400ms;
$editorWidth: 350px;
$mediumGray: #e6e6e6;

@import 'editor-grid-view.scss';

.cove-editor {
  display: grid;
  grid-template-areas: 'panel content';
  grid-template-columns: auto 1fr;
  position: relative;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  isolation: isolate;

  @at-root {
    .cove-dashboard #{&} {
      height: calc(100vh - 3rem);
    }

    .cove-tabs #{&} {
      // height: calc(100vh - #{$wizardTabsHeight});
    }
  }
}

.cove-editor__toggle {
  position: absolute;
  top: 0.5rem;
  left: 309px;
  width: 1.5rem;
  height: 1.5rem;
  color: #000;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 999px;
  transition: left 300ms ease 60ms, background-color 200ms ease;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  user-select: none;
  cursor: pointer;
  z-index: 8;

  &:before {
    content: '\00ab';
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
  }

  &.collapsed {
    left: 1rem;
    margin-left: 0;

    &:before {
      content: '\00bb';
    }
  }

  &:hover {
    background-color: #fff;
  }
}

.cove-editor__panel {
  grid-area: panel;
  position: relative;
  width: 0;
  max-height: 100vh;
  // padding-top: 2.5rem;
  background-color: #fff;
  //border-right: 1px solid #c2c2c2;
  transition: width $editorAnimationTimer ease;
  overflow: hidden;
  box-shadow: 1px 0 0 rgb(0 0 0 / 15%);
  z-index: 7;

  @at-root {
    .cove-editor {
      width: $editorWidth;
    }
  }
}

// .cove-editor__panel-heading {
//   box-sizing: border-box;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: $editorWidth;
//   padding: 0.5rem 1.125rem;
//   margin: 0;
//   font-size: 1.125em;
//   line-height: 1.5rem;
//   color: #fff;
//   background-color: $mediumGray;
//   user-select: none;
//   z-index: 1;
// }

// .cove-editor__panel-container {
//   float: right;
//   width: $editorWidth - 1px;
//   min-width: $editorWidth - 1px;
//   height: 100%;
//   overflow: hidden auto;
// }

.cove-editor__divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #e2e2e2;
}

.cove-editor__content {
  display: flex;
  position: relative;
  height: 100vh;
  grid-area: content;
  justify-content: center;
  position: relative;
  background-color: #e6e6e6;
  transition: background-color 400ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow: hidden auto;
  width: calc(100% - $editorWidth);
  left: $editorWidth;
  @at-root {
    .cove-editor.panel-shown #{&} {
      background-color: #e7e7e7;
    }
  }
}
