.date-highlight {
  select,
  input {
    background: var(--cove-lightestGray);
  }

  .radio-group {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .group {
      display: flex;
    }

    input[type='number'] {
      margin: 0 10px;
      max-width: 50px;
      min-width: 50px;
      width: 50px;
    }

    /* reset spacing */
    input,
    label {
      margin-top: 0 !important;
    }
  }
}

.date-highlight__day-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;

  .week-button {
    align-items: center;
    background: var(--cove-lightestGray);
    border-radius: 50%;
    color: var(--cove-darkGray);
    display: flex;
    height: 24px;
    justify-content: center;
    margin: 5px 2px 0;
    margin-bottom: 0;
    width: 24px;

    &--active {
      background: var(--cove-primary);
      color: white;
    }
  }
}

.date-highlight__occurance {
  display: flex;

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }

  input[type='number'] {
    margin: 0 10px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
  }
}

.sankey__color-input {
  align-items: center;
  display: flex;
  margin: 10px auto;

  label {
    align-items: center;
    margin-top: 0 !important;
    padding-left: 5px;
  }
}

.annotation-group {
  border: 1px solid black;
}
