@use 'sass:string';
@import './../../variables';

$theme: (
  'amber': (
    '#fbab18',
    '#ffd54f',
    '#ffecb3',
    '#fff7e1'
  ),
  'blue': (
    '#005eaa',
    '#88c3ea',
    '#c0e9ff',
    '#edf9ff'
  ),
  'brown': (
    '#705043',
    '#ad907b',
    '#d7ccc8',
    '#f2ebe8'
  ),
  'cyan': (
    '#007B91',
    '#65b0bd',
    '#cce5e9',
    '#ebf5f6'
  ),
  'green': (
    '#4b830d',
    '#84bc49',
    '#dcedc8',
    '#f1f8e9'
  ),
  'indigo': (
    '#26418f',
    '#92a6dd',
    '#dee8ff',
    '#f2f6ff'
  ),
  'orange': (
    '#bb4d00',
    '#ffad42',
    '#ffe97d',
    '#fff4cf'
  ),
  'pink': (
    '#af4448',
    '#e57373',
    '#ffc2c2',
    '#ffe7e7'
  ),
  'purple': (
    '#712177',
    '#b890bb',
    '#e3d3e4',
    '#f7f2f7'
  ),
  'slate': (
    '#29434e',
    '#7e9ba5',
    '#b6c6d2',
    '#e2e8ed'
  ),
  'teal': (
    '#00695c',
    '#4ebaaa',
    '#ceece7',
    '#ebf7f5'
  )
);

// .type-sparkline class used for creating sparklines
// once v2 is released plz update html structure
// to use .cove
.markup-include,
.type-waffle-chart,
.type-data-bite,
.type-filtered-text,
.cdc-open-viz-module.type-chart.type-sparkline,
.cove {
  @each $theme-name, $theme-colors in $theme {
    // Header
    .theme-#{$theme-name} {
      background-color: string.unquote(nth($theme-colors, 1));
      border-color: string.unquote(nth($theme-colors, 2));
      border-bottom-style: solid;
      border-bottom-width: 4px;
    }

    &.theme-#{$theme-name} {
      /// area that appears underneath the title of the component.
      .cove-component__content {
        /// when there are borders on a component
        &:not(.no-borders) {
          /// borders are the theme color
          &.component--has-borderColorTheme {
            border: 1px solid string.unquote(nth($theme-colors, 1));
          }
          /// using default border color to draw borders
          &:not(.component--has-borderColorTheme) {
            border: 1px solid $lightGray;
          }
          &.component--has-title {
            border-top: none !important;
          }
        }

        /// left accent bar
        &.component--has-accent {
          border-left: 0.5rem solid string.unquote(nth($theme-colors, 1)) !important;
        }

        /// Apply a background color
        &.component--has-background:not(.component--hideBackgroundColor) {
          background: string.unquote(nth($theme-colors, 3));
        }
      }

      .cove-component__header {
        border-color: string.unquote(nth($theme-colors, 2));
      }
    }

    &.theme-#{$theme-name} {
      .cove-component__header {
        border-color: string.unquote(nth($theme-colors, 2));
      }
    }
  }
}

// Charts filter styles
.cdc-open-viz-module {
  @each $theme-name, $theme-colors in $theme {
    &.theme-#{$theme-name} {
      .single-filters--tab .tab--active:not(.tab--simple) {
        border: 1px solid string.unquote(nth($theme-colors, 1));
        border-top: 3px solid string.unquote(nth($theme-colors, 1));
        border-bottom: none;
      }

      .single-filters--tab .tab:not(.tab--active):not(.tab--simple) {
        border-bottom: 1px solid string.unquote(nth($theme-colors, 1));
      }

      .single-filters--pill .pill--active {
        background-color: string.unquote(nth($theme-colors, 1));
        color: #fff;
      }
      .filters-section button.cove-button:not([disabled]) {
        // css var added for secondary button https://uxpreview.cdc.gov/3GE5EW/?id=6cg4ol&p=fonts__spacing__and_elements_in_charts__ux-1249_ removing !importants so filter styles apply
        --theme: #{string.unquote(nth($theme-colors, 1))};
        background-color: string.unquote(nth($theme-colors, 1));
      }
    }

    .theme-#{$theme-name} {
      .single-filters--tab .tab--active:not(.tab--simple) {
        border: 1px solid string.unquote(nth($theme-colors, 1));
        border-top: 3px solid string.unquote(nth($theme-colors, 1));
        border-bottom: none;
      }

      .single-filters--tab .tab:not(.tab--active):not(.tab--simple) {
        border-bottom: 1px solid string.unquote(nth($theme-colors, 1));
      }

      .single-filters--pill .pill--active {
        background-color: string.unquote(nth($theme-colors, 1));
        color: #fff;
      }

      .button__tab-bar--active {
        outline: 2px solid string.unquote(nth($theme-colors, 1));
      }
      .apply:not([disabled]) {
        --theme: #{string.unquote(nth($theme-colors, 1))};
        background-color: string.unquote(nth($theme-colors, 1));
      }
    }
  }
}

$baseColor: #333;
$blue: #005eaa;
$lightestGray: #f2f2f2;
$lightGray: #c7c7c7;
$mediumGray: #565656;
$darkGray: #333;
$red: #d8000c;
$white: #fff;

$primary: #005eaa !default;
$secondary: #88c3ea !default;
$tertiary: #c0e9ff !default;
$quaternary: #edf9ff !default;

$purple-primary: #712177 !default;
$purple-secondary: #b890bb !default;
$purple-tertiary: #e3d3e4 !default;
$purple-quaternary: #f7f2f7 !default;

$brown-primary: #705043 !default;
$brown-secondary: #ad907b !default;
$brown-tertiary: #d7ccc8 !default;
$brown-quaternary: #f2ebe8 !default;

$teal-primary: #00695c !default;
$teal-secondary: #4ebaaa !default;
$teal-tertiary: #ceece7 !default;
$teal-quaternary: #ebf7f5 !default;

$pink-primary: #af4448 !default;
$pink-secondary: #e57373 !default;
$pink-tertiary: #ffc2c2 !default;
$pink-quaternary: #ffe7e7 !default;

$orange-primary: #bb4d00 !default;
$orange-secondary: #ffad42 !default;
$orange-tertiary: #ffe97d !default;
$orange-quaternary: #fff4cf !default;

$slate-primary: #29434e !default;
$slate-secondary: #7e9ba5 !default;
$slate-tertiary: #b6c6d2 !default;
$slate-quaternary: #e2e8ed !default;

$indigo-primary: #26418f !default;
$indigo-secondary: #92a6dd !default;
$indigo-tertiary: #dee8ff !default;
$indigo-quaternary: #f2f6ff !default;

$cyan-primary: #006778 !default;
$cyan-secondary: #65b0bd !default;
$cyan-tertiary: #cce5e9 !default;
$cyan-quaternary: #ebf5f6 !default;

$green-primary: #4b830d !default;
$green-secondary: #84bc49 !default;
$green-tertiary: #dcedc8 !default;
$green-quaternary: #f1f8e9 !default;

$amber-primary: #fbab18 !default;
$amber-secondary: #ffd54f !default;
$amber-tertiary: #ffecb3 !default;
$amber-quaternary: #fff7e1 !default;
