.data-table-container {
  clear: both;
  margin: 0;
  display: flex;
  flex-direction: column;  
  .legend-color {
    @include legendDot;
  }

  div.data-table-heading {
    background: rgba(0, 0, 0, 0.05);
    padding: .5em .7em;
    border: $lightGray 1px solid;
    border-bottom: 0;
    cursor: pointer;
    background-image: url(../images/minus.svg);
    background-size: 15px 15px; // Need to define both for IE11
    background-position: right .7em center;
    background-repeat: no-repeat;
    &:focus {
      z-index: 2;
      position: relative;
    }
    &.collapsed {
      background-image: url(../images/plus.svg);
      background-size: 15px 15px; // Need to define both for IE11
      background-position: right .7em center;
      background-repeat: no-repeat;
      border-bottom: $lightGray 1px solid;
    }
  }

  table {    
    th,
    td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:last-child {
        border-right: 0 !important;
      }
    }

    td {
      display: flex !important;
      align-items: center;
      position: relative;
    }

    td a {
      padding: .3em .7em;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      color: inherit;
      text-decoration: none;
    }
    
    td span.table-link {
      text-decoration: underline;
      cursor: pointer;
      color: #075290;
      svg {
        max-width: 13px;
        vertical-align: baseline;
        margin-left: 5px;
      }
    }
  }

  .btn-download {
    color: #fff;
    align-self: flex-end;
    text-decoration: none;
    transition: .3s all;
    margin: 1em 0;
    font-weight: 600;
    &:hover {
      transition: .3s all;
    }
  }

  .region-table {
    display: table;
    
    thead, tbody {
      display: table-row-group;
  
      tr {
        display: table-row;

        td {
          display: table-cell !important;
        }
      }
    }
  }
}