@include breakpointClass(md) {
  .data-table-container {
    margin: 5px 1em;
  }
}

.data-table-container {
  .region-table {
    display: table;

    thead,
    tbody {
      display: table-row-group;

      tr {
        display: table-row;

        td {
          display: table-cell !important;
        }
      }
    }
  }
}
