@include breakpointClass(md) {
  .data-table-container {
    margin: 5px 0em;
    width: 100%;
  }
}

.data-table-container {
  // Hides Category Column
  .row-Box-Plot--0 {
    display: none !important;
  }

  // Highlight Boxplot 5 Number Summary
  .row-Box-Plot--1 > td:first-child,
  .row-Box-Plot--2 > td:first-child,
  .row-Box-Plot--3 > td:first-child,
  .row-Box-Plot--4 > td:first-child,
  .row-Box-Plot--5 > td:first-child {
    background-color: #ffe699;
  }
  // Highlight Boxplot Measures
  .row-Box-Plot--6 > td:first-child,
  .row-Box-Plot--7 > td:first-child,
  .row-Box-Plot--8 > td:first-child,
  .row-Box-Plot--9 > td:first-child,
  .row-Box-Plot--10 > td:first-child,
  .row-Box-Plot--11 > td:first-child {
    background-color: #d9d9d9;
  }
  .region-table {
    display: table;

    thead,
    tbody {
      display: table-row-group;

      tr {
        display: table-row;

        td {
          display: table-cell !important;
        }
      }
    }
  }
}
