@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1300px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpointClass($class) {
  @if $class == xs {
    &.xs,
    &.xxs {
      @content;
    }
  } @else if $class == sm {
    &.sm,
    &.md,
    &.lg {
      @content;
    }
  } @else if $class == md {
    &.md,
    &.lg {
      @content;
    }
  } @else if $class == lg {
    &.lg {
      @content;
    }
  } @else {
    @warn "Breakpoint Class mixin supports: xs, sm, md, lg";
  }
}

.form-container {
  overflow-y: auto;
}

.cdc-open-viz-module.type-dashboard {
  .cdc-open-viz-module.type-chart.isEditor {
    .cdc-chart-inner-container {
      background: white;
    }
  }
}

.cdc-open-viz-module.type-chart {
  @import 'DataTable';

  .legend-top {
    .legend-wrapper .tooltip-boundary {
      display: flex;
      flex-wrap: wrap;
      order: 2;
      aside {
        width: 100%;
        order: 1;
      }
    }
  }

  .legend-bottom {
    .legend-wrapper {
      display: flex;
      flex-wrap: wrap;
      aside {
        width: 100%;
      }
    }
  }

  &.isEditor .cdc-chart-inner-container {
    background: white;
  }

  border-radius: 3px;

  .checkbox-group {
    padding: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .visually-hidden {
    position: fixed;
    left: -10000px;
  }

  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  .warning-icon {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-left: 5px;

    path {
      fill: #d8000c;
    }
  }

  .chart-description {
    margin-bottom: 20px;
  }

  .subtext,
  .subtext--responsive-ticks,
  .section-subtext {
    &--brush-active {
      margin-top: 3rem !important;
    }
  }

  .type-pie {
    svg.animated-pie {
      width: auto !important;
    }
  }

  .legend-container {
    background: #fff;
    width: 100%;
    vertical-align: top;
    text-align: left;
    border: 1px solid var(--cool-gray-10);
    border-radius: 6px;
    position: relative;

    h3 {
      font-size: var(--legend-title-font-size);
    }

    p {
      font-size: var(--legend-description-font-size);
    }

    tspan,
    div {
      font-size: var(--legend-item-font-size);
    }

    &.border-0 {
      border: 1px solid transparent;
      padding: 0;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      row-gap: var(--space-between-legend-item-rows);
      column-gap: var(--space-between-legend-item-columns);
      &.double-column,
      &.single-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      &.single-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .legend-item {
          flex-basis: auto;
        }
      }

      &.double-column.reverse-items div.legend-item:last-child {
        margin-bottom: 0.2rem !important;
      }
    }

    .legend-item {
      text-align: left;
      user-select: none;
      line-height: var(--legend-item-font-size);
      .visx-legend-label {
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }

    .vertical-sorted:not(.single-row) .legend-item {
      white-space: nowrap;
    }

    .legend-item > .legend-item {
      display: inline-block;
      flex: 0 0 auto;
    }

    .legend-item {
      cursor: pointer;
      transition: 0.2s all;

      &.inactive {
        opacity: 0.5;
        transition: 0.2s all;
      }
      &.highlighted {
        outline: 1px solid #005ea2;
        outline-offset: 5px;
        border-radius: 1px;
      }
    }

    &__outer {
      &.definition-link {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0%;
        top: 108%;
        & > * {
          margin: 0;
        }
        & > p,
        a {
          margin-left: 5px;
        }
      }
    }
    .legend-group {
      * > {
        font-family: 'Nunito', sans-serif !important;
      }
      .group-label {
        font-size: 1rem;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 0.5rem;
      }

      .group-item > * {
        font-size: 0.889;
        font-weight: 90;
        line-height: 18px;
        margin-bottom: 0.5rem;
      }
    }

    .legend-group.top,
    .legend-group.bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;

      &.group-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      & .inactive {
        opacity: 0.5;
        transition: 0.2s all;
      }
      & .highlighted {
        outline: 1px solid #005ea2;
        outline-offset: 5px;
        border-radius: 1px;
      }
    }
  }

  .dynamic-legend-list {
    // overide traditional legend item that uses !important
    .legend-item {
      align-items: flex-end !important;
      justify-content: space-between;

      .btn-wrapper {
        background: transparent;
      }
    }

    .visx-legend-label {
      width: auto !important;
      display: inline-block !important;
    }

    button {
      width: auto;
      display: inline-block;
    }
  }

  .div[class*='Asterisk'] {
    transform: 0;
  }

  .legend-preliminary {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    vertical-align: middle;

    & > span {
      display: flex;
      justify-items: center;
      align-items: center;
      white-space: nowrap;
      font-size: 1em;
      margin-right: 9px;
      max-height: 1px;
    }

    & > span[class*='Asterisk'] {
      transform: scale(1.8);
      margin-top: 15px;
    }
    & > span[class*='Dagger'] {
      margin-top: 2px;
    }
    & > span[class*='Sign'] {
      margin-top: 1px;
    }

    & > svg {
      width: 50px;
      height: 23px;
    }

    & > p {
      margin: 0;
    }
  }

  .visx-tooltip {
    z-index: 100000;
  }

  .region-table {
    margin-top: 15px;
  }

  .p-relative {
    position: relative;
  }

  .chart-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    &.legend-top:not(.legend-hidden) {
      .legend-wrapper {
        & > div {
          order: 2;
          width: 100%;
        }
        aside {
          width: 100%;
          order: 1;
          height: fit-content;
        }
      }
    }

    &.legend-left:not(.legend-hidden) {
      .legend-wrapper {
        & > div {
          order: 2;
          width: 75%;
        }
        aside {
          width: 25%;
          order: 1;
          height: fit-content;
        }
      }
    }

    &.legend-right:not(.legend-hidden) {
      .legend-wrapper {
        & > div {
          order: 1;
          width: 75%;
        }
        aside {
          width: 25%;
          height: fit-content;
          order: 2;
        }
      }
    }

    &.left {
      display: flex;
      flex-direction: row-reverse;
    }
    &.top {
      flex-wrap: nowrap;
      flex-direction: column-reverse;
      & > div.tooltip-boundary {
        margin-top: 1.5em;
      }
    }
    &.bottom {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    &.legend-hidden > svg {
      width: 100% !important;
    }
    &.dashboard-brush {
      margin-bottom: 2.5em;
    }

    svg.dragging-annotation * {
      user-select: none;
    }

    svg.dragging-annotation path {
      pointer-events: none;
    }

    > svg {
      overflow: visible;
      font-size: 14px;
      margin: 1rem 0 2rem;

      .visx-linepath {
        pointer-events: none;
      }

      circle {
        opacity: 0;
      }
    }

    &.chart-line--hover {
      > svg circle {
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.chart-line--always {
      > svg circle {
        opacity: 1;
      }

      // Animations for line chart and data points
      > svg.animated {
        circle {
          opacity: 0;
          animation: revealLolly 0.25s linear forwards;
          animation-delay: 0.75s;
          animation-play-state: paused;
        }

        &.animate {
          circle {
            animation-play-state: running;
          }
        }
      }
    }

    @keyframes revealLolly {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &.chart-bar--no-border {
      .visx-group:not(.visx-axis) rect {
        stroke: none;
      }
    }
  }

  @include breakpointClass(sm) {
    .chart-container {
      .no-wrap {
        flex-wrap: nowrap;
      }

      .legend-container {
        width: 25%;
        margin-left: 1em;
        height: fit-content;

        &.left {
          margin-left: 0;
          margin-right: 1em;
          order: 0;
        }
        &.bottom,
        &.top {
          width: 100%;
          margin-left: 0;
        }
      }
      .legend-group {
        grid-template-columns: repeat(2, 1fr);
        &.group-item {
          margin-bottom: 1rem;
        }
      }
    }
  }

  @include breakpointClass(xs) {
    .chart-container {
      .legend-group {
        margin-bottom: 1rem;
        grid-template-columns: repeat(1, 1fr);

        &.group-item {
          margin-bottom: 1rem;
        }
      }
    }
  }

  @include breakpointClass(md) {
    .chart-container {
      > svg {
        font-size: 16px;
        width: 75%;
        order: 1;

        circle {
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
          transform-origin: 50% 50%;
        }
      }
      .legend-group {
        grid-template-columns: repeat(4, 1fr);

        &.group-item {
          margin-right: 2rem;
        }
      }
    }
  }

  [tabindex]:focus-visible {
    outline: 2px solid rgb(0, 95, 204) !important;
  }

  // ANIMATIONS
  // Pie Chart Animations
  .animated-pie {
    margin: auto !important;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform-origin: center;
    transform: scale(0, 0);

    &.animated {
      opacity: 1;
      transform-origin: center;
      transform: scale(1, 1);
    }

    path,
    text {
      border: rgba(0, 0, 0, 0.3) 1px solid !important;
      box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 7px;
      opacity: 1;
      line-height: 1.4em;
      font-size: 1em;
      border-radius: 4px;
      padding: 8px 12px;
    }

    .animated-pie-text {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      transition-delay: 0.4s;

      &.animated {
        opacity: 1;
      }
    }
  }

  // Line/Combo Chart Animations
  .linear,
  .Line,
  .Combo {
    &.animated path.animation {
      opacity: 0;
    }
    &.animate {
      path.animation {
        opacity: 1;
        stroke-dasharray: 2000;
        stroke-dashoffset: 4000;
        animation: dash 2s ease-in-out forwards;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
          opacity: 0;
        }
      }
    }
  }

  // Bar/Combo Chart Animations
  .linear,
  .Bar,
  .Combo {
    .visx-group {
      position: relative;
    }

    &.animated {
      .vertical path,
      .vertical rect,
      .vertical foreignObject div {
        opacity: 0;
        animation: growBar 0.5s linear both;
        animation-play-state: paused;
      }

      .horizontal path,
      .horizontal rect,
      .horizontal foreignObject div {
        opacity: 0;
        animation: growBarH 0.5s linear both;
        animation-play-state: paused;
      }

      &.animate {
        path,
        rect,
        foreignObject div {
          animation-play-state: running;
        }
      }

      .group-1,
      .group-2 {
        transform-origin: center;
      }

      .visx-linepath .animation {
        opacity: 0;
      }
    }
  }

  @keyframes growBar {
    from {
      opacity: 1;
      transform: scale(1, 0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes growBarH {
    from {
      opacity: 1;
      transform: scale(0, 1);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fieldset--boxplot {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;

    label {
      margin: 5px 0;
    }
  }
}

.cdc-visualization__paired-bar-chart {
  text-align: center;
  transform: scale(1);
  > .visx-group[style] {
    transform: scale(1);
  }
}

#paired-bar-legend {
  text-align: center;

  div {
    margin: 0 0.5em;
    display: flex;
  }

  .indicator {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin: 0.25em;
  }
}

.cdc-open-viz-module .is-editor .cdc-chart-inner-container {
  overflow: hidden;
  background-color: var(--white);
}

.isEditor.type-sparkline .cdc-chart-inner-container {
  margin: 3em auto 0;
  max-width: 60%;
}

.cdc-open-viz-module.type-chart.lg.type-sparkline .chart-container > svg {
  width: 100%;
}

.chart-container.sparkline {
  display: flex !important;
  flex-wrap: wrap !important;
}

.cdc-open-viz-module.type-chart.type-sparkline {
  .cove-component__content {
    background: #f2f2f2;
  }

  .cove-component__content.component--hideBackgroundColor {
    background: transparent;
  }

  .cove-component__content .chart-container {
    padding: 1em;
  }

  .subtext,
  .subtext--responsive-ticks {
    margin-top: 0px;
  }

  .isEditor {
    position: relative;
  }
}

.cdc-open-viz-module .cove-component__content.sparkline {
  padding: 1em;
}

.cove-component__content.sparkline {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .visx-axis-tick:first-of-type {
    transform: translate(20px, 0);
  }

  .visx-axis-tick:last-of-type {
    transform: translate(-20px, 0);
  }
}

.cdc-open-viz-module .debug {
  border: 2px solid red;
}
