@import '@cdc/core/styles/base';
@import '@cdc/core/styles/heading-colors';
@import '@cdc/core/styles/v2/themes/color-definitions';

.form-container {
  overflow-y: auto;
}

.d-flex {
  display: flex;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.cdc-open-viz-module.type-dashboard {
  .cdc-open-viz-module.type-chart.isEditor {
    .cdc-chart-inner-container {
      background: white;
    }
  }
}

.cdc-open-viz-module.type-chart {
  @import 'DataTable';

  &.isEditor .cdc-chart-inner-container {
    background: white;
  }

  border-radius: 3px;

  .checkbox-group {
    padding: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .visually-hidden {
    position: fixed;
    left: -10000px;
  }

  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  .btn {
    background: #005eaa;
    color: #fff !important;
    border: 0;
    padding: 0.4em 0.8em;
    display: block;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      z-index: -1;
      position: relative;
    }
  }

  .warning-icon {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-left: 5px;

    path {
      fill: #d8000c;
    }
  }

  .chart-description {
    margin-bottom: 20px;
  }

  .subtext,
  .subtext--responsive-ticks,
  .section-subtext {
    padding: 0 1rem;
    &--brush-active {
      margin-top: 2.5em;
    }
  }

  .legend-container {
    background: #fff;
    width: 100%;
    padding: 15px;
    vertical-align: top;
    text-align: left;
    border: 1px solid $lightGray;
    order: 1;
    position: relative;

    &__inner {
      &.bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5em;
      }
      &.vertical-sorted {
        display: block;

        @include breakpoint(md) {
          column-count: 2;
          column-width: 100%;
        }
        column-gap: 1.5em;
        column-fill: balance;
      }

      &.single-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .legend-item {
          flex-basis: auto;
        }
      }
    }

    .legend-item {
      text-align: left;
      align-items: flex-start !important;
      user-select: none;
      white-space: nowrap;

      .visx-legend-label {
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }

    .vertical-sorted:not(.single-row) .legend-item {
      white-space: nowrap;
    }

    .legend-item > .legend-item {
      display: inline-block;
      margin-right: 0.5rem;
      flex: 0 0 auto;
    }

    h3 {
      font-size: 1.3rem;
    }

    h3,
    p {
      margin-bottom: 0.8em;
    }

    & div.legend-item {
      margin-bottom: 0.5em !important;

      &:last-child {
        margin: 0 !important;
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.2s all;

      &.inactive {
        opacity: 0.5;
        transition: 0.2s all;
      }
    }
  }

  .dynamic-legend-list {
    // overide traditional legend item that uses !important
    .legend-item {
      align-items: flex-end !important;
      justify-content: space-between;

      .btn-wrapper {
        background: transparent;
      }
    }

    .visx-legend-label {
      width: auto !important;
      display: inline-block !important;
    }

    button {
      width: auto;
      display: inline-block;
    }
  }

  .div[class*='Asterisk'] {
    transform: 0;
  }

  .legend-preliminary {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    vertical-align: middle;
    margin-bottom: 0.5em;

    & > span {
      display: flex;
      justify-items: center;
      align-items: center;
      white-space: nowrap;
      font-size: 1em;
      margin-right: 8px;
      max-height: 1px;
    }

    & > span[class*='Asterisk'] {
      transform: scale(1.8);
      margin-top: 15px;
    }
    & > span[class*='Dagger'] {
      margin-top: 2px;
    }
    & > span[class*='Sign'] {
      margin-top: 1px;
    }

    & > svg {
      width: 50px;
      height: 23px;
    }

    & > p {
      margin: 0;
    }
  }

  .visx-tooltip {
    z-index: 100000;
  }

  .region-table {
    margin-top: 15px;
  }

  .p-relative {
    position: relative;
  }

  .chart-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    &.bottom {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    &.legend-hidden > svg {
      width: 100% !important;
    }

    > svg {
      overflow: visible;
      font-size: 14px;
      margin: 1rem 0 2rem;

      .visx-linepath {
        pointer-events: none;
      }

      circle {
        opacity: 0;
      }
    }

    &.chart-line--hover {
      > svg circle {
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.chart-line--always {
      > svg circle {
        opacity: 1;
      }

      // Animations for line chart and data points
      > svg.animated {
        circle {
          opacity: 0;
          animation: revealLolly 0.25s linear forwards;
          animation-delay: 0.75s;
          animation-play-state: paused;
        }

        &.animate {
          circle {
            animation-play-state: running;
          }
        }
      }
    }

    @keyframes revealLolly {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &.chart-bar--no-border {
      .visx-group:not(.visx-axis) rect {
        stroke: none;
      }
    }
  }

  .filters-section {
    margin-left: 1rem;
    margin-right: 1rem;

    &__title {
      margin: 15px 0;
    }

    &__wrapper {
      hr {
        margin-bottom: 20px;
      }

      label {
        display: inherit;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 16px;
      }
    }

    @include breakpoint(md) {
      display: flex;
      gap: 30px;
    }

    label:not(:empty) {
      margin-right: 0.4em;
    }

    select {
      font-size: 1em;
      padding-right: 5px;
    }

    .single-filter {
      margin-bottom: 0.5em;
    }
  }

  @include breakpointClass(xs) {
    &.font-small {
      font-size: 0.8em;

      .chart-container > svg {
        font-size: 12px;
      }
    }

    &.font-medium {
      font-size: 0.9em;

      .chart-container > svg {
        font-size: 14px;
      }
    }

    &.font-large {
      font-size: 1em;

      .chart-container > svg {
        font-size: 16px;
      }
    }
  }

  @include breakpointClass(md) {
    .filters-section,
    .chart-container:not(.sparkline) {
      margin-left: 1em;
      margin-right: 1em;
    }

    .chart-container {
      flex-wrap: nowrap;

      .no-wrap {
        flex-wrap: nowrap;
      }

      .legend-container {
        width: 25%;
        margin-left: 1em;
        order: 2;

        &.left {
          margin-left: 0;
          margin-right: 1em;
          order: 0;
        }
        &.bottom {
          width: 100%;
          margin-left: 0;
        }
      }

      > svg {
        font-size: 16px;
        width: 75%;
        order: 1;

        circle {
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
          transform-origin: 50% 50%;
        }
      }
    }

    &.font-small {
      font-size: 0.9em;

      .chart-container > svg {
        font-size: 14px;
      }
    }

    &.font-large {
      font-size: 1.1em;

      .chart-container > svg {
        font-size: 18px;
      }
    }
  }

  @include breakpointClass(lg) {
    &.font-small {
      font-size: 1em;

      .chart-container > svg {
        font-size: 16px;
      }
    }

    &.font-medium {
      font-size: 1.1em;

      .chart-container > svg {
        font-size: 18px;
      }
    }

    &.font-large {
      font-size: 1.2em;

      .chart-container > svg {
        font-size: 20px;
      }
    }
  }

  [tabindex]:focus-visible {
    outline: 2px solid rgb(0, 95, 204) !important;
  }

  // ANIMATIONS
  // Pie Chart Animations
  .animated-pie {
    margin: auto !important;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform-origin: center;
    transform: scale(0, 0);

    &.animated {
      opacity: 1;
      transform-origin: center;
      transform: scale(1, 1);
    }

    path,
    text {
      border: rgba(0, 0, 0, 0.3) 1px solid !important;
      box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 7px;
      opacity: 1;
      line-height: 1.4em;
      font-size: 1em;
      border-radius: 4px;
      padding: 8px 12px;
    }

    .animated-pie-text {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      transition-delay: 0.4s;

      &.animated {
        opacity: 1;
      }
    }
  }

  // Line/Combo Chart Animations
  .linear,
  .Line,
  .Combo {
    &.animated path.animation {
      opacity: 0;
    }
    &.animate {
      path.animation {
        opacity: 1;
        stroke-dasharray: 2000;
        stroke-dashoffset: 4000;
        animation: dash 2s ease-in-out forwards;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
          opacity: 0;
        }
      }
    }
  }

  // Bar/Combo Chart Animations
  .linear,
  .Bar,
  .Combo {
    .visx-group {
      position: relative;
    }

    &.animated {
      .vertical path,
      .vertical rect,
      .vertical foreignObject div {
        opacity: 0;
        animation: growBar 0.5s linear both;
        animation-play-state: paused;
      }

      .horizontal path,
      .horizontal rect,
      .horizontal foreignObject div {
        opacity: 0;
        animation: growBarH 0.5s linear both;
        animation-play-state: paused;
      }

      &.animate {
        path,
        rect,
        foreignObject div {
          animation-play-state: running;
        }
      }

      .group-1,
      .group-2 {
        transform-origin: center;
      }

      .visx-linepath .animation {
        opacity: 0;
      }
    }
  }

  @keyframes growBar {
    from {
      opacity: 1;
      transform: scale(1, 0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes growBarH {
    from {
      opacity: 1;
      transform: scale(0, 1);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fieldset--boxplot {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;

    label {
      margin: 5px 0;
    }
  }
}

.cdc-visualization__paired-bar-chart {
  text-align: center;
  transform: scale(1);
  > .visx-group[style] {
    transform: scale(1);
  }
}

#paired-bar-legend {
  text-align: center;

  div {
    margin: 0 0.5em;
    display: flex;
  }

  .indicator {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin: 0.25em;
  }
}

.cdc-open-viz-module .is-editor .cdc-chart-inner-container {
  overflow: hidden;
  background-color: var(--white);
}

.isEditor.type-sparkline .cdc-chart-inner-container {
  margin: 3em auto 0;
  max-width: 60%;
}

.cdc-open-viz-module.type-chart.lg.type-sparkline .chart-container > svg {
  width: 100%;
}

.chart-container.sparkline {
  display: flex !important;
  flex-wrap: wrap !important;
}

.cdc-open-viz-module.type-chart.type-sparkline {
  .cove-component__content {
    background: #f2f2f2;
  }

  .cove-component__content.component--hideBackgroundColor {
    background: transparent;
  }

  .cove-component__content .chart-container {
    padding: 1em;
  }

  .subtext,
  .subtext--responsive-ticks {
    margin-top: 0px;
    padding: 0 1rem;
  }

  .isEditor {
    position: relative;
  }
}

.cdc-open-viz-module .cove-component__content.sparkline {
  padding: 1em;
}

.cove-component__content.sparkline {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .visx-axis-tick:first-of-type {
    transform: translate(20px, 0);
  }

  .visx-axis-tick:last-of-type {
    transform: translate(-20px, 0);
  }
}

.cdc-open-viz-module .debug {
  border: 2px solid red;
}
