@import '~bootstrap/scss/bootstrap';
@import '~@cdc/core/styles/base';
@import 'reset';
@import 'variables';
@import 'mixins';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

.visually-hidden {
  position: fixed;
  left: -10000px;
}

.loader {
  width: 100%;
  text-align: center;
  display: inline-block;
  animation: spin 1s linear infinite;

  &::before {
    content: '\21BB';
  }
}

.btn {
  background: #005eaa;
  color: #fff !important;
  border: 0;
  padding: .4em .8em;
  font-size: 1em;
  display: block;
  border-radius: 5px;
  transition: .1s all;
  cursor: pointer;
}

.chart-title {
    text-align: center;
    margin-bottom: 40px;
}

.chart-description {
  margin-bottom: 20px;
}

.chart-container {
  display: inline-block;
  width: 75%;

  &.legend-hidden {
    width: 100%;
  }
}

.legend-container {
  display: inline-block;
  width: 25%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
  float: right;

  &.left {
    float: left;
  }

  .visx-legend-item {
    cursor: pointer;
  }
}

.legend-color {
  display: inline-block;
  margin: 0 5px;
}

svg {
  overflow: visible;
}

.tooltip {
  border: rgba(0,0,0,0.3) 1px solid !important;
  box-shadow: rgba(0,0,0,.1) 3px 3px 7px;
  line-height: 1.4em;
  font-size: 1em !important;
  border-radius: 4px !important;
  padding: 8px 12px !important;
}

.region-table {
  margin-top: 15px;
}

@media (max-width: $md) {
  .chart-container, .legend-container {
    width: 100%;
  }

  .legend-container > div {
    display: flex;
  }
}