@import '~@cdc/core/styles/base';
@import "~@cdc/core/styles/heading-colors";
@import 'mixins';
@import 'variables';

.cdc-open-viz-module.type-chart {
  @import 'datatable';
  @import 'editor-panel';
  .visually-hidden {
    position: fixed;
    left: -10000px;
  }

  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  .btn {
    background: #005eaa;
    color: #fff !important;
    border: 0;
    padding: .4em .8em;
    font-size: .9em;
    display: block;
    border-radius: 5px;
    transition: .1s all;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      z-index: -1;
      position: relative;
    }
  }

  .warning-icon {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    path {
      fill: #d8000c;
    }
  }

  div.chart-title {
      color: white;
      padding: .6em .8em;
      border-bottom-width: 3px;
      border-bottom-style: solid;
  }

  div.chart-title {
    margin: 0;
    color: #fff;
    font-size: 1.1em;
    position: relative;
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
    &:not(:empty) {
      margin: 0 0 1rem 0 !important;
      padding: .6em .8em;
      border-bottom-width: 3px;
      border-bottom-style: solid;
    }
  }

  .chart-description {
    margin-bottom: 20px;
  }

  .legend-container {
    background: #fff;
    width: 100%;
    padding: 15px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #C7C7C7;
    order: 1;
    position: relative;
    .legend-reset {
      font-size: .7em;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      right: 1em;
      background: rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      transition: .3s all;
      padding: .375rem;
      top: 1em;
      border-radius: 3px;
      &:hover {
        background: rgba(0,0,0,.15);
        transition: .3s all;
      }
    }
    .legend-color {
      display: inline-block;
      margin: 0 .5rem 0 0;
    }
    h2 {
      font-size: 1.3em;
      margin-bottom: .3em;
    }
    .legend-item {
      cursor: pointer;
      transition: .2s all;
      &.inactive {
        opacity: .5;
        transition: .2s all;
      }
    }
  }

  .tooltip {
    background-color: #fff;
    border: rgba(0,0,0,0.3) 1px solid !important;
    box-shadow: rgba(0,0,0,.1) 3px 3px 7px;
    line-height: 1.4em;
    font-size: 1em !important;
    border-radius: 4px !important;
    padding: 8px 12px !important;
    opacity: 1;
  }

  .region-table {
    margin-top: 15px;
  }
  .chart-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &.legend-hidden > svg {
      width: 100% !important;
    }
    > svg {
      overflow: visible;
      font-size: 14px;
      margin: 1rem 0 2rem;
      .visx-linepath {
        pointer-events: none;
      }
    }
  }
  @include breakpointClass(xs) {
    &.font-small {
      font-size: .8em;

      .chart-container > svg {
        font-size: 12px;
      }

    }
    &.font-medium {
      font-size: .9em;

      .chart-container > svg {
        font-size: 14px;
      }
      
    }
    &.font-large {
      font-size: 1em;

      .chart-container > svg {
        font-size: 16px;
      }
    }
  }
  @include breakpointClass(md) {
    .chart-container {
      flex-wrap: nowrap;
      .legend-container {
        width: 25%;
        margin-left: 1em;
        order: 2;
        &.left {
          margin-left: 0;
          margin-right: 1em;
          order: 0;
        }
      }
      > svg {
        font-size: 16px;
        width: 75%;
        order: 1;
        circle {
          filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
          transform-origin: 50% 50%;
        }
      }
    }
    &.font-small {
      font-size: .9em;

      .chart-container > svg {
        font-size: 14px;
      }

    }
    &.font-large {
      font-size: 1.1em;

      .chart-container > svg {
        font-size: 18px;
      }
    }
  }
  @include breakpointClass(lg) {
    &.font-small {
      font-size: 1em;

      .chart-container > svg {
        font-size: 16px;
      }
    }
    &.font-medium {
      font-size: 1.1em;

      .chart-container > svg {
        font-size: 18px;
      }
    }
    &.font-large {
      font-size: 1.2em;

      .chart-container > svg {
        font-size: 20px;
      }
    }
  }
}