@import "~bootstrap/scss/bootstrap";
@import 'scss/reset';
@import 'scss/variables';
@import 'scss/mixins';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// For presentation purposes
body {
  max-width: 75vw; margin: 0 auto;
}

.loader {
  width: 100%;
  text-align: center;
  display: inline-block;
  animation: spin 1s linear infinite;

  &::before {
    content: '\21BB';
  }
}

.chart-title {
    text-align: center;
    margin-bottom: 40px;
}

.chart-container {
  display: inline-block;
  width: 75%;

  &.legend-hidden {
    width: 100%;
  }
}

.legend-container {
  display: inline-block;
  width: 25%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
}

svg {
  overflow: visible;
}

table {
  border-collapse: collapse;

  caption {
    caption-side: top;
    font-size: x-large;
    font-weight: bold;
    line-height: 2em;
    padding-left: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 0.25em 1em;

    .table-indicator {
      float: right;
      font-size: xx-large;
      font-weight: bold;
    }
  }

  th, td {
    border: 1px solid black;
  }

  th {
    line-height: 1.5em;
    padding: 5px;
    user-select: none;
    cursor: pointer;
  }

  .table-sort-indicator {
    float: right;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;

    &.down {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 900px) {
  .chart-container, .legend-container {
    width: 100%;
  }
}