@import "~bootstrap/scss/bootstrap";
@import 'scss/reset';
@import 'scss/variables';
@import 'scss/mixins';

.chart-title {
    text-align: center;
    margin-bottom: 40px;
}

.chart-container, .legend-container {
    display: inline-block;
}

.legend-container {
  padding: 15px;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
}

svg {
  overflow: visible;
}

table {
  border-collapse: collapse;

  caption {
    caption-side: top;
    font-size: x-large;
    font-weight: bold;
    line-height: 2em;
    padding-left: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 0.25em 1em;

    .table-indicator {
      float: right;
      font-size: xx-large;
      font-weight: bold;
    }
  }

  th, td {
    border: 1px solid black;
  }

  th {
    line-height: 1.5em;
    padding: 5px;
    user-select: none;
    cursor: pointer;
  }

  .table-sort-indicator {
    float: right;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;

    &.down {
      transform: rotate(180deg);
    }
  }
}