.multi-config-tabs {
  .nav-link {
    border-radius: 6px 6px 0 0;
    font-weight: 400;
    display: block;
    padding: 0.5rem 1rem;
    color: var(--primary);
    border-color: var(--lightGray);
    :is(button) {
      display: none;
      background: none;
    }
    &:hover {
      :is(button) {
        display: inline-block;
        color: var(--gray);
        &:hover {
          color: var(--black);
          font-weight: bold;
        }
      }

      background: var(--quaternary);
    }
    &:focus {
      outline: none !important;
    }

    &.active {
      background: var(--primary);
      border-color: var(--primary);
      color: white;
      font-weight: bold;
    }
  }
  .remove {
    color: var(--gray);
    &:hover {
      color: var(--black);
      font-weight: bold;
    }
  }
  .add {
    font-weight: 800;
    padding: 0.5rem 1rem;
  }
}
