.multi-config-tabs {
  .nav-link {
    font-weight: 400;
    display: block;
    padding: 0.5rem 1rem;
    :is(button) {
      display: none;
      background: none;
    }
    &:hover {
      :is(button) {
        display: inline-block;
      }
    }
    .btn-danger {
      text-decoration: none;
      padding: 0px 5px;
      font-size: inherit;
    }
  }
  .add {
    font-weight: 800;
    padding: 0.5rem 1rem;
  }
}
