.multi-config-tabs {
  .nav-link {
    border-color: var(--cove-lightGray);
    border-radius: 6px 6px 0 0;
    color: var(--cove-primary);
    display: block;
    font-weight: 400;
    padding: 0.5rem 1rem;
    @media (max-width: 480px) {
      padding: 0.5rem 0.8rem;
    }
    :is(button) {
      background: none;
      display: none;
    }
    &:hover {
      :is(button) {
        display: inline-block;
      }

      background: var(--cove-quaternary);
    }
    &:focus {
      outline: none !important;
    }

    &.active {
      background: var(--cove-primary);
      border-color: var(--cove-primary);
      color: white;
      font-weight: bold;
    }
    .btn-danger {
      font-size: inherit;
      padding: 0px 5px;
      text-decoration: none;
    }
  }
  .add {
    font-weight: 800;
    padding: 0.5rem 1rem;
  }
}
