{
    "semi": false,
    "singleQuote": true,
    "useTabs": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "printWidth": 250,
    "editorconfig": true
}
