.dashboard-filters__form {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

.dashboard-filters__field {
  margin: 0;
}

.cove-dashboard-filters-container {
  .cdc-callout--dashboard-filters {
    --cdc-callout-background: #f4f8fa;
  }

  :is(label) {
    font-size: var(--filter-label-font-size);
    font-weight: 700;
  }
  .btn {
    align-self: flex-end;
    /* this is the height that is defined for the .form-control class in _forms.scss in bootstrap. */
    height: calc(1.5em + 0.75rem + 2px);
  }
  .loading-filter {
    position: relative;
    .spinner-border {
      height: 1.5rem;
      position: absolute;
      right: 10%;
      top: 55%;
      width: 1.5rem;
    }
  }
  :is(select):disabled {
    background-color: var(--lightestGray);
    & > :is(option) {
      color: var(--darkGray);
    }
  }
}
