.cove-dashboard-filters-container {
  :is(label) {
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: var(--filter-label-font-size);
    font-weight: 700;
  }
  .btn {
    /* this is the height that is defined for the .form-control class in _forms.scss in bootstrap. */
    height: calc(1.5em + 0.75rem + 2px);
    align-self: flex-end;
  }
  .loading-filter {
    position: relative;
    .spinner-border {
      position: absolute;
      top: 55%;
      right: 10%;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  :is(select):disabled {
    background-color: var(--lightestGray);
    & > :is(option) {
      color: var(--darkGray);
    }
  }
}
