.group-label {
  font-weight: 500;
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.group-list-item {
  display: block;
  list-style: none;
  font-weight: 400;
  font-size: 0.889rem;
  margin-bottom: 0.5rem;
}
