.group-label {
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.group-list-item {
  cursor: pointer;
  font-size: 0.889rem;
  font-weight: 400;
  list-style: none;
  margin-top: 0.5rem !important;
}

.group-container {
  margin-bottom: 2rem;
}

.legend-group-item-disable {
  opacity: 0.4;
}

.legend-group-item-not-disable {
  border-radius: 1px;
  outline: 1px solid #005ea2;
  outline-offset: 5px;
}
