.cdc-editor {
  .data-designer {
    --data-import-padding: 1.875em;
    --btn-active-bg: #00345d;
    display: flex;
    justify-content: flex-end;

    .left-col {
      background: var(--cove-white);
      border-right: var(--cove-lightGray) 1px solid;
      bottom: 0;
      left: 0;
      margin-top: 3rem;
      overflow-y: auto;
      padding: var(--data-import-padding);
      position: fixed;
      top: 0;
      width: 50%;
      z-index: 1;

      .dataset-name-input {
        width: 100%;
      }

      .heading-3 {
        border-top: 1px solid gray;
        font-weight: 600;
        margin-bottom: 0.5em;
        margin-top: 1em;
        padding-top: 0.5em;
      }

      .tabs {
        margin-bottom: 2em;

        > ul.nav {
          display: flex;
        }

        .nav-item {
          align-items: center;
          border-bottom: var(--cove-lightGray) 1px solid;
          color: var(--cove-mediumGray);
          display: flex;
          flex-grow: 1;
          justify-content: center;
          list-style: none;
          padding: 0.6rem 0;

          svg {
            margin-right: 0.3em;
          }

          &:hover {
            border-bottom-color: var(--cove-mediumGray);
          }

          &.active {
            border-bottom-color: var(--cove-mediumGray);
            border-bottom-width: 5px;
            color: var(--cove-darkGray);
          }
        }

        .tab-content {
          border-top: 1px solid var(--cove-baseColor);
          padding-top: var(--data-import-padding);
        }
      }

      table {
        border: 1px solid gray;
        width: 100%;

        thead {
          background-color: rgb(220, 220, 200);
          border-bottom: 1px solid gray;
        }

        td {
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;

          button {
            font-size: 11pt;
          }
        }
      }

      .cdcdataviz-file-selector {
        border: var(--cove-lightGray) 2px dashed;
        border-radius: 0.2rem;
        color: var(--cove-mediumGray);
        cursor: pointer;
        font-size: 1em;
        padding: 1rem 3rem;
        text-align: center;
        transition: 0.1s all;

        svg {
          color: var(--cove-baseColor);
          margin: 0 auto 0.5em;
          max-width: 35px;
          transition: 0.1s all;

          path {
            fill: currentColor;
          }
        }

        &.drag-active {
          background-color: var(--cove-lightestGray);

          svg {
            transform: scale(0.8);
            transition: 0.1s all;
          }
        }

        span {
          color: var(--cove-blue);
          text-decoration: underline;
          white-space: pre;
        }
      }

      .footnote {
        color: var(--cove-mediumGray);
        font-size: 0.8rem;
        font-style: italic;
        margin: 1em 0 2em 0;
      }

      .btn.active {
        background: var(--btn-active-bg);
      }

      .input-group {
        align-items: stretch;
        display: flex;

        input[type='text'] {
          border-right: 0;
          flex-grow: 1;
        }
      }

      .keep-url {
        color: var(--cove-mediumGray);
        font-size: 0.8rem;
      }

      .sample-data-list {
        font-size: 0.8rem;
        list-style: none;

        li {
          color: var(--cove-blue);
          cursor: pointer;
          margin-top: 0.3rem;
          text-decoration: underline;
        }
      }

      .file-loaded-area {
        margin-bottom: 20px;
      }

      .edit-block {
        border-left: rgba(0, 0, 0, 0.2) 4px solid;
        padding-left: 1em;
        transition: 0.2s all;

        &:not(:first-child) {
          margin-top: 2em;
        }

        input[type='text'],
        input[type='number'] {
          font-size: 1em;
        }

        label {
          margin-top: 0;

          & + label {
            margin-top: 1em;
          }
        }

        &:hover {
          border-left: rgba(0, 0, 0, 0.7) 4px solid;
          transition: 0.2s all;
        }

        .column-heading {
          display: block;
          text-transform: uppercase;
        }

        select,
        input {
          width: 100%;
        }
      }

      .url-filters-block {
        font-size: 12.8px;

        .cove-icon {
          margin: 0 0.5rem;
        }

        .url-value-label {
          margin: 0 1em;
        }

        label {
          display: inline-block;
          margin-top: 1em;
          width: 100%;
        }
      }

      .url-source-options,
      .data-source-options {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 100px;
        margin-bottom: 20px;

        .btn {
          margin: 0;
        }

        .cdcdataviz-file-selector.loaded-file {
          font-size: 0.9em;
          padding: 0.4rem 3rem;

          svg {
            height: 1em;
            margin: 0;
            position: relative;
            top: 4px;
            width: 1em;
          }
        }
      }

      .data-source-options {
        align-items: center;
      }
    }

    .right-col {
      background-color: var(--cove-gray2);
      padding: var(--data-import-padding);
      position: relative;
      width: 50% !important;

      table {
        border-collapse: collapse;
        table-layout: unset;
        width: 100%;

        th,
        td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
