@import '../themes/color-definitions';

.cove {
  margin: 0;
  font: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans,
    Helvetica Neue, Fira Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: $baseColor;
  text-rendering: optimizeLegibility;

  small {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    color: $mediumGray;
  }

  .sr-only,
  .sr-only-focusable:not(:focus) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    display: flex;
  }
}
