.cove--developer-mode {
  position: absolute;
  top: 1rem;
  right: 4rem;
  z-index: 1;

  .cove-input {
    color: #767e85;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d9dbdd;
    border-radius: 0;
    margin-bottom: 0;

    &:active,
    &:focus {
      border: 0;
      border-bottom: 2px solid #005eaa;
    }
  }
}
