*[class^='cove-heading'] {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.cove-heading--1 {
  font-size: 1.5rem;
}

.cove-heading--2 {
  font-size: 1.25rem;
}

.cove-heading--3 {
  font-size: 1rem;
}

.cove-heading--4 {
  font-size: 0.75rem;
}
