.cove-trend-arrow {
  height: 1.1em;
  width: 1.1em;
  margin-top: -0.7em;
  margin-bottom: -0.5em;
  margin-left: 0.2em;
  display: inline-block;
  flex-shrink: 0;
}

.cove-trend-arrow.is-down {
  transform: scale(-1, 1) rotate(180deg);
}

