// Content Align Classes
.align-content-start {
  align-content: flex-start !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-self-center {
  align-self: center !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-between {
  align-content: space-between !important;
}
