@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake-horizontal {
  0% {
    transform: translate(20px);
  }
  20% {
    transform: translate(-20px);
  }
  40% {
    transform: translate(10px);
  }
  60% {
    transform: translate(-10px);
  }
  80% {
    transform: translate(4px);
  }
  100% {
    transform: translate(0px);
  }
}
