@import "../../utils/variables";

.cove-color-picker {
  display: flex;
  margin-bottom: 1.5rem;
}

.cove-color-picker__button {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  padding: 5px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

  > * {
    pointer-events: none;
    user-select: none;
  }
}

.cove-color-picker__color,
.cove-color-picker__color--ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transition: transform 400ms $transition-expo-out;
  transform: translate(-50%, -50%) scale(1);
}

.cove-color-picker__color {
  background-color: #ccc;

  @at-root {
    .cove-color-picker__button:hover,
    .cove-color-picker__button:focus,
    .cove-color-picker__button.selected {
      .cove-color-picker__color {
        transform: translate(-50%, -50%) scale(0.9);
      }
    }
  }
}

.cove-color-picker__color--ring {
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
  border-color: transparent !important;

  @at-root {
    .cove-color-picker__button:hover,
    .cove-color-picker__button:focus,
    .cove-color-picker__button[data-selected="true"] {
      .cove-color-picker__color--ring {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }

    .cove-color-picker__button:hover,
    .cove-color-picker__button:focus {
      .cove-color-picker__color--ring {
        border-color: #ccc !important;
      }
    }

    .cove-color-picker__button[data-selected="true"] {
      .cove-color-picker__color--ring {
        border-color: #4c4c4c !important;
      }
    }
  }
}
