@import "../../utils/variables";
@import "../../utils/animations";

.cove-render {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: 1.25rem;
  user-select: none;
}

.cove-render__content {
  text-align: center;
}

.cove-render__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cove-render__text {
  position: absolute;
  font-size: 1rem;
  font-style: italic;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  white-space: nowrap;
  animation: fadeOutIn 3000ms ease infinite;
  z-index: 1;
}
