$cove-tooltip-bg: #fff;
$cove-tooltip-color: #333;
$cove-tooltip-animation: 500ms cubic-bezier(0.16, 1, 0.3, 1) 50ms 1 forwards;

.cove-tooltip {
  display: inline-block;
  position: relative;
  line-height: 1em;

  &.cove-tooltip--border {
    border: 1px solid #bdbdbd;
  }

  @at-root {
    .cove-label + .cove-tooltip {
      top: 1px;
      margin-left: 0.5rem;
      font-size: 0.75rem;
    }

    .cove-accordion__button .cove-tooltip {
      display: inline-flex;
      right: 1.5rem;
      line-height: inherit;
    }

    .cove-list-group__item .cove-tooltip {
      width: 100%;
      display: block;
      line-height: inherit;
    }
  }
}

.cove-tooltip--target {
  display: inherit;
  cursor: pointer;

  @at-root {
    .cove-accordion__button + .cove-tooltip--target {
      display: inline-flex;
      line-height: inherit;
    }
  }
}

.cove-tooltip__content {
  max-width: 280px;
  padding: 10px 8px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: left;
  color: $cove-tooltip-color;
  background-color: $cove-tooltip-bg;
  border-radius: 5px;
  user-select: none;
  opacity: 0;
  cursor: default;
  z-index: 1;

  &.place-top {
    &.has-shadow {
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.cove-tooltip__content--animated[class*='styles-module_show__'] {
      animation: tooltip-btt $cove-tooltip-animation;
    }
  }

  &.place-right {
    &.has-shadow {
      box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.15), -4px 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.cove-tooltip__content--animated[class*='styles-module_show__'] {
      animation: tooltip-ltr $cove-tooltip-animation;
    }
  }

  &.place-bottom {
    &.has-shadow {
      box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1);
    }

    &.cove-tooltip__content--animated[class*='styles-module_show__'] {
      animation: tooltip-ttb $cove-tooltip-animation;
    }
  }

  &.place-left {
    &.has-shadow {
      box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15), 4px 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.cove-tooltip__content--animated[class*='styles-module_show__'] {
      animation: tooltip-rtl $cove-tooltip-animation;
    }
  }
}

.interactive {
  a {
    pointer-events: all;
  }
}

@keyframes tooltip-ltr {
  0% {
    opacity: 0;
    transform: translateX(-8px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tooltip-rtl {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tooltip-ttb {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tooltip-btt {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
