@import "@cdc/core/styles/v2/themes/theme-colors";
@import "@cdc/core/styles/v2/utils/variables";

$blue-light: #8bc6f7;
$UI-red: #f74242;

.cove-dashboard {
  display: grid;
  grid-template-rows: 6rem auto;
  height: 100vh;

  &.cove-dashboard--subviz {
    grid-template-rows: 3rem auto;
  }
}

.cove-dashboard__header,
.cove-dashboard__content {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: auto;
  overflow: hidden;
}



.cove-dashboard__data-table {
  display: inline-block;
  width: 100%;
  margin: 15px 0 0;
}

.cove-dashboard__viz-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}


