@import '@cdc/core/styles/base';
@import '@cdc/core/styles/heading-colors';
@import 'mixins';
@import 'variables';

.cdc-open-viz-module.type-dashboard {
  @import 'editor-panel';
  @import 'grid';
  .loading > div.la-ball-beat {
    margin-top: 20%;
  }

  .editor-heading {
    background-color: #ddd;
    border-bottom: #c7c7c7 1px solid;
    padding: 0 1em;
    display: flex;
    width: 100vw;
    z-index: 5;
    &.sub-dashboard-viz {
      height: 3em;
    }
    .heading-1 {
      min-width: 335px;
      font-size: 1.2em;
      padding-right: 1em;
      margin: 0.5em 1em 0.5em 0;
      border-right: 1px solid black;
      &.back-to {
        display: flex;
        span {
          font-weight: bold;
          padding-right: 0.3em;
        }
      }
      input[type='text'] {
        width: 100%;
        margin-top: 10px;
      }
    }

    .heading-body {
      display: flex;

      .wrap {
        display: inline-flex;
        flex-wrap: wrap;
        width: 33%; // changed from 20% so that long checkbox name will fit without wrapping
        font-size: 0.8em;

        .table-height-input {
          width: 100%;
          height: 25px;
        }

        label {
          display: block;
          width: 100%;
        }
      }
    }

    .heading-body {
      padding: 0.5em;

      input[type='checkbox'] {
        margin-right: 5px;
        margin-left: 0.5em;
      }

      .table-height-input {
        width: 6em;
      }
    }

    .toggle-bar {
      overflow: hidden;
      display: flex;
      list-style: none;
      align-self: stretch;
      position: relative;
      bottom: -1px;
      border-bottom: #c7c7c7 1px solid;
      li {
        padding: 0.3em 1.5em;
        color: $mediumGray;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &.active {
          border-bottom-color: $mediumGray;
          border-bottom-style: inherit;
          border-bottom-width: 5px;
          color: $darkGray;
        }
        &:hover {
          border-bottom-color: $darkGray;
          color: $darkGray;
        }
      }

      &__wrapper {
        width: 100%;
      }
    }

    .description-input {
      width: 100%;
    }

    .shared-filter-button {
      display: inline-block;
      border-radius: 1em;
      border: 1px solid gray;
      background-color: white;
      padding: 0.5em;
      margin-right: 1em;
    }
  }

  .visually-hidden {
    position: fixed;
    left: -10000px;
  }

  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  .btn {
    background: #005eaa;
    color: #fff;
    border: 0;
    padding: 0.4em 0.8em;
    font-size: 0.9em;
    display: block;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      z-index: -1;
      position: relative;
    }
  }

  .warning-icon {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-left: 5px;

    path {
      fill: #d8000c;
    }
  }

  .multi-table-container {
    margin: 15px 0 0;
  }

  .data-table-container {
    margin: 0;
    @include breakpointClass(md) {
      margin: 15px 0;
    }
  }

  .dashboard-download-link {
    font-size: 14px;
  }

  .dashboard-description {
    margin-bottom: 20px;
  }

  .dashboard-row {
    display: flex;
    flex-direction: column;
    &.toggle {
      display: block;
    }
  }

  .dashboard-col {
    margin: 0;
    // Disable the module individual margin
    .map-container,
    .cdc-chart-inner-container > * {
      margin-left: 0;
      margin-right: 0;
    }
    &.hidden-toggle {
      display: none;
    }
  }

  .dashboard-col-12 {
    width: 100%;
  }

  .preview-table-container {
    padding-left: 350px;
    padding-top: 100px;
  }

  .multi-table-container {
    display: inline-block;
    width: 100%;
  }

  .cove-dashboard-filters {
    display: inline-flex;
    margin: 1em;
  }

  @include breakpointClass(md) {
    .dashboard-row {
      flex-direction: row;
      margin: 1em 0;
      justify-content: space-between;
      column-gap: 1em;
    }

    .dashboard-col-8 {
      width: 66%;
    }
    .dashboard-col-6 {
      width: 50%;
    }

    .dashboard-col-4 {
      width: 33%;
    }
  }

  @include breakpointClass(sm) {
    .dashboard-col {
      margin-bottom: 1em;
    }
  }

  @include breakpointClass(xs) {
    .dashboard-col {
      margin-bottom: 1em;
    }
  }

  .dashboard-filters-section {
    margin: 0 0 1em;
  }
  .builder-grid .editor-heading {
    position: relative;
    right: -2em;
  }

  .cdc-dashboard-inner-container {
    margin: 1em;
  }

  .sub-editor {
    margin-top: 40px;
    .sub-editor-heading {
      display: flex;
      align-items: center;
      padding: 1em;
      position: fixed;
      top: 0;
      width: 100%;
      height: 40px;
      background-color: red;
      z-index: 101;
    }
    .editor-panel {
      top: 40px;
    }
  }
}

.shared-filter-modal {
  border: none;

  label {
    display: block;
    margin: 1em 0;
  }
}
