@import '../../../scss/mixins';

.cdc-map-inner-container {
  .map-container.world aside.side {
    border-top: 0;
  }
  @include breakpointClass(md) {
    .map-container.world aside.side {
      border-top: var(--cool-gray-10) 1px solid;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.2) 0 10px 18px;
    }
  }

  aside {
    background-color: #fff;
    z-index: 6;
    border-top: var(--cool-gray-10) 1px solid;

    @include breakpointClass(md) {
      &.bottom,
      &.top {
        border: var(--cool-gray-10) 1px solid;
      }
      &.side {
        z-index: 1;
        box-sizing: content-box;
        max-width: 450px;
        margin-top: 2em;
        margin-bottom: 2em;
        align-self: flex-start;
        z-index: 4;
        right: 1em;
        border: var(--cool-gray-10) 1px solid;
        top: 2em;
        right: 1em;

        ul.vertical-sorted {
          display: block;
          column-count: 2;
          column-fill: balance;
          & > li {
            white-space: nowrap;
          }
        }

        ul:not(.vertical-sorted) {
          column-count: initial;
          column-fill: initial;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      &.no-border {
        border: none;
      }

      &.bottom,
      &.top {
        ul.legend-container__ul.vertical-sorted {
          display: block;
          column-count: 2;
          column-fill: balance;
        }
      }
    }

    .legend-container {
      position: relative;
      .legend-container__title,
      .legend-container__description,
      tspan,
      span {
        font-family: var(--app-font-main);
      }
      .tspan {
        font-size: var(--legend-item-font-size) !important;
      }

      .legend-container__title {
        font-size: var(--legend-title-font-size);
        font-weight: var(--legend-title-font-weight);
        padding-bottom: 0;
        display: inline-block;
        color: black;
      }
      .legend-container__description {
        font-size: var(--legend-description-font-size);
      }
      .legend-container__reset-button {
        margin-top: 1em;
      }
      p {
        line-height: 1.4em;
      }

      .legend-container__ul {
        line-height: 1;
        row-gap: var(--space-between-legend-item-rows);
        column-gap: var(--space-between-legend-item-columns);
      }
      .legend-container__ul:not(.single-row) {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;

        @include breakpoint(md) {
          grid-template-columns: 1fr 1fr;
        }

        button {
          font-size: unset;
          background: transparent;
        }

        &.vertical-sorted {
          flex-direction: column;
        }

        &:not(.vertical-sorted, .legend-container__ul--single-column, .single-row) {
          width: 100%;
        }
        .legend-container__li {
          flex-shrink: 0;
          display: inline-block;
          padding-right: 1em;
          vertical-align: middle;
          transition: 0.1s opacity;
          display: flex;
          cursor: pointer;
          white-space: wrap;
          flex-grow: 1;
          &:last-child {
            margin-bottom: 0;
          }
          @include breakpoint(md) {
            white-space: nowrap;
          }

          &.legend-container__li--disabled {
            opacity: 0.4;
          }
        }
      }
      .legend-container__ul.single-row {
        width: 100%;
        cursor: pointer;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        & > li {
          white-space: wrap;
          display: flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          @include breakpoint(md) {
            white-space: nowrap;
          }

          & svg {
            vertical-align: baseline;
          }
        }
      }
      .legend-container__ul.patterns-only {
        margin-top: 10px;
      }
    }

    .bottom .legend-container__ul--single-column:not(.vertical-sorted) {
      display: inline-block;

      @include breakpoint(md) {
        display: flex;
      }

      .legend-container__li {
        width: 100%;
        white-space: nowrap;
      }
    }

    &.side .legend-container .legend-container__ul--single-column {
      @include breakpointClass(md) {
        width: 25%;
        min-width: 200px;
        .legend-section ul {
          flex-direction: column;
          li {
            width: 100%;
            &:nth-last-of-type(-n + 2) {
              padding-bottom: 1em;
            }
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
      li {
        width: 100%;
      }
    }

    @include breakpointClass(sm) {
      .legend-container ul:not(.single-row) {
        align-items: flex-start;
        justify-content: space-between;
        li {
          flex-grow: 1;
          padding-right: 0.5em;
        }
      }
    }

    .filters-section {
      padding: 0 1em 1em;
      .heading-3 {
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      form {
        margin-top: 0.5em;
        line-height: 2em;
        display: flex;
        align-items: flex-end;
        section + section {
          margin-left: 0.75em;
        }
        select {
          display: block;
          font-size: 1em;
        }
      }
    }
    & .shape-container {
      &.single-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        & > div {
          margin-right: 2em;
        }
        & > div:last-child {
          margin-right: 0;
        }
      }

      & > div {
        display: flex;
        flex-direction: row;
      }
      & div > svg {
        width: 25px;
        height: 32px;
      }
      & div > p {
        white-space: nowrap;
        margin-top: 1px;
      }
    }
  }
}
