@import '@cdc/core/styles/base';
@import '@cdc/core/styles/heading-colors';

.cdc-map-inner-container {
  .map-container.world aside.side {
    border-top: 0;
  }
  @include breakpointClass(md) {
    .map-container.world aside.side {
      border-top: $lightGray 1px solid;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.2) 0 10px 18px;
    }
  }

  aside {
    background-color: #fff;
    z-index: 6;
    border-top: $lightGray 1px solid;
    @include breakpointClass(md) {
      &.bottom {
        border: $lightGray 1px solid;
      }
      &.side {
        z-index: 1;
        box-sizing: content-box;
        max-width: 450px;
        margin-top: 2em;
        margin-bottom: 2em;
        align-self: flex-start;
        z-index: 4;
        right: 1em;
        border: $lightGray 1px solid;
        top: 2em;
        right: 1em;

        ul.vertical-sorted {
          column-count: 2;
          column-fill: balance;
        }

        ul:not(.vertical-sorted) {
          column-count: initial;
          column-fill: initial;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      &.bottom {
        ul.legend-container__ul.vertical-sorted {
          display: block;
          column-count: 2;
          column-fill: balance;
        }
      }
    }

    .legend-container {
      padding: 1em;
      position: relative;
      .legend-container__title {
        font-size: 1.3em;
        padding-bottom: 0;
        display: inline-block;
      }
      .legend-container__title + p,
      .legend-container__title + ul,
      p + ul,
      p + p {
        padding-top: 1em;
      }
      .legend-container__reset-button {
        font-size: 0.75em;
        right: 1em;
        text-transform: uppercase;
        transition: 0.2s all;
        padding: 0.2em 0.5em;
        border: rgba(0, 0, 0, 0.2) 1px solid;
        padding: 0.375rem;
        &:hover {
          text-decoration: none;
          transition: 0.2s all;
        }
      }
      p {
        line-height: 1.4em;
      }
      .legend-container__ul:not(.single-row) {
        list-style: none;
        padding-top: 1em;
        button {
          font-size: unset;
          background: transparent;
        }

        &.vertical-sorted {
          flex-direction: column;
        }

        &:not(.vertical-sorted, .legend-container__ul--single-column, .single-row) {
          width: 100%;
          @include breakpoint(sm) {
            .legend-container__li {
              width: 50%;
            }
          }
        }
        .legend-container__li {
          flex-shrink: 0;
          display: inline-block;
          padding-right: 1em;
          padding-bottom: 1em;
          vertical-align: middle;
          transition: 0.1s opacity;
          display: flex;
          cursor: pointer;
          flex-grow: 1;

          &.legend-container__li--disabled {
            opacity: 0.4;
          }
        }
      }
      .legend-container__ul.single-row {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        & > li {
          margin-right: 1em;
          margin-bottom: 1em;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .bottom .legend-container__ul--single-column:not(.vertical-sorted) {
      display: inline-block;

      @include breakpoint(md) {
        display: flex;
      }

      .legend-container__li {
        width: 100%;
      }
    }

    &.side .legend-container .legend-container__ul--single-column {
      @include breakpointClass(md) {
        width: 25%;
        min-width: 200px;
        .legend-section ul {
          flex-direction: column;
          li {
            width: 100%;
            &:nth-last-of-type(-n + 2) {
              padding-bottom: 1em;
            }
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
      li {
        width: 100%;
      }
    }

    @include breakpointClass(sm) {
      .legend-container ul:not(.single-row) {
        align-items: flex-start;
        justify-content: space-between;
        li {
          flex-grow: 1;
          padding-right: 0.5em;
        }
      }
    }

    .filters-section {
      padding: 0 1em 1em;
      .heading-3 {
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      form {
        margin-top: 0.5em;
        line-height: 2em;
        display: flex;
        align-items: flex-end;
        section + section {
          margin-left: 0.75em;
        }
        select {
          display: block;
          font-size: 1em;
        }
      }
    }
    & .shape-container {
      &.single-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        & > div {
          margin-right: 2em;
        }
        & > div:last-child {
          margin-right: 0;
        }
      }

      & > div {
        display: flex;
        flex-direction: row;
      }
      & div > svg {
        width: 25px;
        height: 32px;
      }
      & div > p {
        white-space: nowrap;
        margin-top: 1px;
      }
    }
  }
}
