.cove,
.cdc-open-viz-module {
  .table {
    min-width: 100%;
    width: unset;
  }

  .bs4 .table.table-width-unset {
    width: unset;
  }

  .collapsed+.table-container {
    border-bottom: none;
  }

  .table-container {
    border-bottom: 1px solid var(--cove-lightGray);
    border-left: 1px solid var(--cove-lightGray);
    border-right: 1px solid var(--cove-lightGray);
    overflow-x: auto;
  }

  div.data-table-heading {
    border: var(--cove-cool-gray-10) 1px solid;
    border-radius: 6px;
    position: relative;

    svg {
      height: 100%;
      position: absolute;
      right: 1em;
      top: 0;
      width: 15px;
    }

    &:focus {
      position: relative;
      z-index: 2;
    }
  }

  table.horizontal {

    th,
    td {
      min-width: 200px;
    }
  }

  table.data-table {
    appearance: none;
    background: #fff;
    border: none;
    border-collapse: collapse;
    margin-bottom: 0;
    position: relative;
    table-layout: fixed;

    * {
      box-sizing: border-box;
    }

    thead {
      -moz-user-select: none;
      user-select: none;
      user-select: none;

      button {
        background: none;
        border: 0;
        color: #fff !important;
        font-size: initial;
      }

      tr {
        background: none;
      }
    }

    thead {
      color: #fff !important;

      .resizer {
        bottom: 0;
        cursor: e-resize;
        position: absolute;
        right: 0;
        top: 0;
        touch-action: none;
        width: 10px;
      }

      tr {
        text-align: left;
      }

      th,
      td {
        border-right: 1px solid var(--cove-lightGray) !important;
        line-height: normal;
        padding: 0.5em 0.7em;
        position: relative;
        text-align: left;
      }

      th {
        background-color: var(--cove-primary);
        background-position: right 0.5em center;
        background-repeat: no-repeat;
        background-size: 10px 5px;
        color: #fff !important
      }

      th:last-child,
      td:last-child {
        border-right: 0;
      }
    }

    tr {
      &.row-group {
        background-color: var(--cove-tertiary) !important;
        font-weight: bold;
      }

      border-bottom: solid 1px #e5e5e5;
      min-width: 100%;

      /* Needed to fill content up*/
      &:last-child {
        border-bottom: 0;
      }
    }

    th,
    td {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.3em 0.7em;
      white-space: nowrap;

      &:last-child {
        border-right: 0 !important;
      }
    }

    td {
      position: relative;

      svg {
        margin-left: 1rem;

        &.legend-shape-svg {
          display: flex;
          margin-left: 0 !important;
        }
      }

    }

    td a {
      bottom: 0;
      color: inherit;
      display: block;
      left: 0;
      padding: 0.3em 0.7em;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;
    }

    td div a {
      display: inline;
      padding: 0;
      position: relative;
    }

    td span.table-link {
      color: #075290;
      cursor: pointer;
      text-decoration: underline;

      svg {
        margin-left: 5px;
        max-width: 13px;
        vertical-align: baseline;
      }
    }

    .boxplot-td {
      table-layout: fixed;
      width: 200;
    }
  }

  .no-data {
    position: relative;

    .no-data-message {
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      z-index: 7;

      :is(h3) {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }
    }

    tr:hover {
      background: #fff;
    }

    th,
    td {
      width: 50%;

      &::before {
        content: '\00a0';
      }
    }
  }

  .data-table-pagination {
    align-items: center;
    display: flex;
    margin: 1rem 0;

    ul {
      display: flex;
      list-style: none;
      margin: 0 1rem 0 0;

      li+li {
        margin-left: 0.3rem;
      }

      button {
        background: var(--cove-mediumGray);

        &:hover {
          background: lighten(var(--cove-mediumGray), 5%);
        }
      }

      button.btn svg {
        margin: 0px 0 3px 0;
      }

      button[disabled] {
        background: var(--cove-mediumGray);
        cursor: default;
        opacity: 0.3;

        &:hover {
          background: var(--cove-mediumGray);
        }
      }
    }
  }

  .btn-download {
    color: #fff;
    float: right;
    margin: 1em 0;
    text-decoration: none;
    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
    }
  }

  .download-links a:not(:last-child) {
    display: inline-block;
    margin-right: 10px;
  }
}