.warming-stripes-gradient-legend {
  margin: 1rem 0;
  width: 100%;

  &__title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }

  &__description {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #555;
  }

  &__container {
    width: 100%;
  }

  &__svg {
    display: block;
    width: 100%;
    overflow: visible;
  }

  &__series-label {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
}
