.tooltip-link {
  color: var(--cool-gray-90);
  cursor: pointer;
  font-family: var(--app-font-main);
  font-size: 0.833rem !important;
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--cool-gray-90);
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25rem;
}
.tooltip-link:hover {
  color: var(--cool-gray-90);
  text-decoration-color: #009ec1;
}
