:is(ul).cove-footnotes {
  :is(li) {
    list-style: none;
  }

  .cove-footnotes__symbol {
    margin-right: 0.25rem;
  }
}

.cove-visualization__footnotes {
  margin-top: var(--cove-visualization-section-gap, 1.5rem);
}
