.cdc-open-viz-module header.cove-component__header {
  position: relative;
  padding: 1rem;
  margin: 0;
  color: var(--white);

  h3 {
    font-size: var(--superTitle-font-size);
    font-family: var(--app-font-secondary);
    font-weight: 500;
    text-transform: uppercase;
    top: 0;
    color: var(--white);
  }

  h2 {
    font-size: var(--title-font-size);
    font-family: var(--app-font-secondary);
    color: var(--white);
    margin: 0;
  }

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &.mb-0 {
    margin-bottom: 0 !important;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  &:not(:empty) {
    border-bottom-width: 4px;
    border-bottom-style: solid;
  }

  &.bite-header {
    margin-bottom: 0 !important;
  }

  // THEMES
  &.theme-purple {
    background: #712177;
    border-bottom-color: #b890bb;
  }
  &.theme-brown {
    background: #705043;
    border-bottom-color: #ad907b;
  }
  &.theme-teal {
    background: #00695c;
    border-bottom-color: #4ebaaa;
  }
  &.theme-pink {
    background: #af4448;
    border-bottom-color: #e57373;
  }
  &.theme-orange {
    background: #bb4d00;
    border-bottom-color: #ffad42;
  }
  &.theme-slate {
    background: #29434e;
    border-bottom-color: #7e9ba5;
  }
  &.theme-indigo {
    background: #26418f;
    border-bottom-color: #92a6dd;
  }
  &.theme-cyan {
    background: #007b91;
    border-bottom-color: #65b0bd;
  }
  &.theme-green {
    background: #4b830d;
    border-bottom-color: #84bc49;
  }
  &.theme-amber {
    background: #fbab18;
    border-bottom-color: #ffd54f;
  }
  &.theme-blue {
    background: #005eaa;
    border-bottom-color: #88c3ea;
  }

  &.mb-0 {
    margin-bottom: 0 !important;
  }
}

// fix sparkline bottom margin gap
.type-sparkline.type-chart .cove-component__header {
  margin: 0px !important;
}
