.cdc-open-viz-module header.cove-component__header {

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: var(--cove-white);
  margin: 0;
  padding: 1rem;
  position: relative;

  & > sup {
    font-family: var(--cove-app-font-secondary);
    font-size: var(--cove-superTitle-font-size);
    font-weight: 500;
    text-transform: uppercase;
    top: 0;
  }

  h2 {
    color: var(--cove-white);
    font-family: var(--cove-app-font-secondary);
    font-size: var(--cove-title-font-size);
    margin: 0;
  }

  &.mb-0 {
    margin-bottom: 0 !important;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  &:not(:empty) {
    border-bottom-style: solid;
    border-bottom-width: 4px;
  }

  &.bite-header {
    margin-bottom: 0 !important;
  }

  &.theme-purple {
    background: #712177;
    border-bottom-color: #b890bb;
  }
  &.theme-brown {
    background: #705043;
    border-bottom-color: #ad907b;
  }
  &.theme-teal {
    background: #00695c;
    border-bottom-color: #4ebaaa;
  }
  &.theme-pink {
    background: #af4448;
    border-bottom-color: #e57373;
  }
  &.theme-orange {
    background: #bb4d00;
    border-bottom-color: #ffad42;
  }
  &.theme-slate {
    background: #29434e;
    border-bottom-color: #7e9ba5;
  }
  &.theme-indigo {
    background: #26418f;
    border-bottom-color: #92a6dd;
  }
  &.theme-cyan {
    background: #007b91;
    border-bottom-color: #65b0bd;
  }
  &.theme-green {
    background: #4b830d;
    border-bottom-color: #84bc49;
  }
  &.theme-amber {
    background: #fbab18;
    border-bottom-color: #ffd54f;
  }
  &.theme-blue {
    background: #005eaa;
    border-bottom-color: #88c3ea;
  }

  &.mb-0 {
    margin-bottom: 0 !important;
  }
}

.type-sparkline.type-chart .cove-component__header {
  margin: 0px !important;
}

/* ============================================================================
   MODERN TITLE
   ============================================================================ */

.cdc-open-viz-module .cove-title--small {
  margin-bottom: 0.75rem;
}

.cdc-open-viz-module .cove-title--large {
  margin-bottom: 1.33rem;
}

/* Used in dashboards to more closely associate a title-only component with the content below it */
.cdc-open-viz-module .cove-title--no-content {
  margin-bottom: 0;
  margin-top: 1rem;
}

.cdc-open-viz-module .cove-title h2 {
  border-bottom: 1px solid var(--cove-cool-gray-10);
  color: #0b4778;
  font-family: var(--cove-app-font-secondary);
  font-size: 1.95rem;
  font-weight: 300;
}

.cdc-open-viz-module .cove-title h3 {
  font-family: var(--cove-app-font-secondary);
  font-size: 1.5rem;
}

.cdc-open-viz-module .cove-title sup {
  color: #666;
  font-family: var(--cove-app-font-secondary);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  sup {
    font-size: 75%;
  }
}
