@import '../../styles/base.scss';
@import '../../styles/_variables';
@import '../../styles/_mixins';
@import '../../styles/_global.scss';

.visually-hidden {
  position: fixed;
  left: -10000px;
}

.debug .editor-panel {
  border: 2px dashed red !important;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
}

.debug div[class*='type-'] {
  border: 2px dashed green !important;
  background-color: rgba(55, 255, 0, 0.1);
  padding: 5px;
}
