@import 'variables';

.cdc-editor .choose-vis {
  padding: $gbl-padding;

  .capitalize {
    text-transform: capitalize;
  }

  ul + .heading-2 {
    margin-top: 1em;
  }

  .grid {
    display: flex;
    margin-top: 1em;
    list-style: none;

    li {
      width: 165px;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 1.3em $gbl-padding;
      margin-right: 1em;
      color: $baseColor;
      background-color: #fff;
      border: solid 1px;
      border: $lightGray 1px solid;
      border-color: rgb(199, 199, 199);
      transition: 0.1s all;
      cursor: pointer;

      span {
        font-size: 1em;
        text-transform: none;
      }

      &:hover {
        background: #f2f2f2;
        border-color: #949494;
        transition: 0.1s all;
      }

      &.active {
        position: relative;
        color: #005eaa;
        background: #fff;
        border-color: #005eaa;

        path {
          fill: #005eaa;
        }

        &:before {
          content: ' ';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 5px;
          background: #005eaa;
        }
      }

      svg {
        display: block;
        box-sizing: border-box;
        width: 100px;
        height: 75px;
        margin: 0 auto 0.5em;
      }
    }
  }
}
