@import 'variables';

.cdc-editor .data-designer {
  display: flex;
  justify-content: flex-end;

  .left-col {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: $gbl-padding;
    margin-top: 3rem;
    background: #fff;
    border-right: $lightGray 1px solid;
    overflow-y: auto;
    z-index: 1;

    .dataset-name-input {
      width: 100%;
    }

    .heading-3 {
      padding-top: 0.5em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-weight: 600;
      border-top: 1px solid gray;
    }

    .tabs {
      margin-bottom: 2em;

      > ul.nav {
        display: flex;
      }

      .nav-item {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 0;
        list-style: none;
        color: $mediumGray;
        border-bottom: $lightGray 1px solid;

        svg {
          margin-right: 0.3em;
        }

        &:hover {
          border-bottom-color: $mediumGray;
        }

        &.active {
          color: $darkGray;
          border-bottom-width: 5px;
          border-bottom-color: $mediumGray;
        }
      }

      .tab-content {
        padding-top: $gbl-padding;
        border-top: 1px solid $baseColor;
      }
    }

    table {
      width: 100%;
      border: 1px solid gray;

      thead {
        background-color: rgb(220, 220, 200);
        border-bottom: 1px solid gray;
      }

      td {
        max-width: 40px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        button {
          font-size: 11pt;
        }
      }

      td:last-child {
        max-width: 10px;
      }
    }

    .cdcdataviz-file-selector {
      padding: 1rem 3rem;
      font-size: 1em;
      text-align: center;
      color: $mediumGray;
      border: $lightGray 2px dashed;
      border-radius: 0.2rem;
      transition: 0.1s all;
      cursor: pointer;

      svg {
        max-width: 35px;
        margin: 0 auto 0.5em;
        color: $baseColor;
        transition: 0.1s all;

        path {
          fill: currentColor;
        }
      }

      &.drag-active {
        background-color: $lightest-gray;

        svg {
          transition: 0.1s all;
          transform: scale(0.8);
        }
      }

      span {
        text-decoration: underline;
        white-space: pre;
        color: $blue;
      }
    }

    .footnote {
      margin: 1em 0 2em 0;
      font-size: 0.8rem;
      font-style: italic;
      color: $mediumGray;
    }

    .btn {
      display: inline-block;
      margin: 1em 0;
    }

    .btn.active {
      background: darken($primary, 15%);
    }

    .input-group {
      display: flex;
      align-items: stretch;

      input[type='text'] {
        flex-grow: 1;
        border-right: 0;
      }
    }

    .keep-url {
      font-size: 0.8rem;
      color: $mediumGray;
    }

    .sample-data-list {
      list-style: none;
      font-size: 0.8rem;

      li {
        margin-top: 0.3rem;
        text-decoration: underline;
        color: $blue;
        cursor: pointer;
      }
    }

    .file-loaded-area {
      margin-bottom: 20px;
    }

    .url-source-options,
    .data-source-options {
      display: grid;
      grid-template-columns: 1fr 100px;
      gap: 10px;
      margin-bottom: 20px;

      .btn {
        margin: 0;
      }

      .cdcdataviz-file-selector.loaded-file {
        padding: 0.4rem 3rem;
        font-size: 0.9em;

        svg {
          position: relative;
          top: 4px;
          width: 1em;
          height: 1em;
          margin: 0;
        }
      }
    }

    .data-source-options {
      align-items: center;
    }
  }

  .right-col {
    position: relative;
    width: 50% !important;
    padding: $gbl-padding;
    background-color: $lightest-gray;
    @import 'data-table';
  }
}
