@import '../../../core/styles/base';
@import 'variables';

.cdc-open-viz-module.cdc-editor {
  display: flex;
  flex-direction: column;
  min-height: inherit;

  .tabs {
    nav {
      display: flex;
    }

    .nav-item {
      user-select: none;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
      }

      &.active {
        cursor: default;
      }
    }
  }

  // Top level tabs
  .top-level {
    position: fixed;
    width: 100%;
    z-index: 10;

    ul {
      display: flex;
      list-style: none;

      li {
        flex-grow: 1;
        flex-shrink: 0;
        width: 25%;
        line-height: 3rem;
        text-align: center;
        color: #333;
        background: #f2f2f2;
        border-right: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;

        &:last-child {
          border-right: none;
        }

        &.active {
          color: #fff;
          background-color: #565656;
        }
      }
    }
  }

  > .tab-content {
    flex-grow: 1;
    position: relative;
    margin-top: 3rem;
  }

  .dropdown {
    display: block;
    width: 100%;

    nav {
      display: none;

      button {
        display: block;
      }
    }

    &:focus-within nav {
      display: block;
    }
  }

  .info-box {
    padding: 1rem;
    font-size: 0.9rem;
    border: $lightGray 1px solid;

    h4 {
      font-size: 1.2em;
      font-weight: 600;
    }

    ul {
      padding: inherit;
    }
  }

  .alert--info {
    padding: 0.75em 1em;
    margin: 1em 0;
    font-size: 0.8em;
    color: #004085;
    background-color: #cce5ff;
    border: #b8daff 1px solid;
    border-radius: 0.4em;
  }

  .link.link-upload {
    display: block;
    padding-left: unset;
    margin-top: 0.3rem;
    font-size: 12px;
    text-decoration: underline;
    color: #005eaa;
    background: unset;
    cursor: pointer;
  }
}

// Modal
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 500;
  backdrop-filter: blur(2px);
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: inherit;
  font-family: sans-serif;
  outline: 0;
  transform: translate(-50%, -50%);
  z-index: 700;

  .modal {
    position: relative;
    padding: 16px 20px;
    margin: auto;
    line-height: 1.4em;
    background: #fff;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 3px 3px 7px;
    z-index: 100;
  }

  .modal-header {
    justify-content: space-between;
    padding: 0.3rem 0 0 0;
  }

  .modal-close {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 1em;
    cursor: pointer;
  }

  .confirmation-buttons {
    text-align: right;
  }

  // todo import global style
  .btn {
    display: block;
    padding: 0.4em 0.8em;
    font-size: 1em;
    color: #fff;
    background: #005eaa;
    border: 0;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;

    &.btn-inline {
      display: inline-block;
      margin: 10px 0 0 10px;
    }
  }
}

//TODO: Remove after refactor to wizard
.cdc-open-viz-module .cove-temp {
  @import '@cdc/core/styles/v2/components/ui/tooltip.scss';
}

section.introText {
  padding: 15px;
}

section.footnotes {
  padding: 15px;
  margin-top: 70px;
  border-top: 1px solid #ddd;
}
