.cdc-dashboard-inner-container.cove-component__content.cove-dashboard-filters-container:has(
    > .nested-dropdown.open-filter
  )
  :has(> .nested-dropdown-container) {
  z-index: 9;
}

.nested-dropdown {
  .nested-dropdown-group {
    list-style: none;
  }

  .search-input {
    border: none;
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .main-nested-dropdown-container,
  .nested-dropdown-input-container {
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    min-width: 200px;
    cursor: pointer;
    /* this is the height that is defined for the .form-control class in _forms.scss in bootstrap. */
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .selectable-item {
    list-style: none;
    padding-left: 20px;
    position: relative;
    font-weight: normal;
    white-space: nowrap;

    & .check-mark {
      position: absolute;
      left: 0px;
    }

    &:hover {
      background-color: var(--lightGray);
    }
  }

  .nested-dropdown-input-container {
    position: relative;
    & > span.list-arrow {
      color: var(--mediumGray);
      position: absolute;
      top: 6px;
      right: 1px;
      float: right;
    }
  }

  & .main-nested-dropdown-container {
    max-height: 375px;
    overflow-y: scroll;
    position: absolute;
    z-index: 3;
    min-width: 200px;
  }

  .hide {
    display: none;
  }
}
