.cdc-dashboard-inner-container.cove-component__content.cove-dashboard-filters-container:has(
    > .nested-dropdown.open-filter
  )
  :has(> .nested-dropdown-container) {
  z-index: 9;
}

.nested-dropdown {
  [class^='nested-dropdown-group-'] {
    list-style: none;
  }

  .search-input {
    font-family: var(--app-font-secondary);
    font-size: var(--filter-select-font-size);
    color: var(--cool-gray-90);
    font-weight: 300;

    border: none;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    &::placeholder {
      color: var(--cool-gray-90);
    }
  }

  .main-nested-dropdown-container,
  .nested-dropdown-input-container {
    border: 1px solid var(--cool-gray-10);
    min-width: 200px;
    cursor: pointer;
    padding: 0.33rem 0.75rem;
    font-size: 1em;
  }

  [class^='selectable-item-'] {
    list-style: none;
    padding-left: 20px;
    position: relative;
    font-weight: normal;
    white-space: nowrap;

    & .check-mark {
      position: absolute;
      left: 0px;
    }

    &:hover {
      background-color: var(--lightGray);
    }
  }

  .nested-dropdown-input-container {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
    & > span.list-arrow {
      position: absolute;
      top: 9px;
      right: 1px;
      float: right;
    }

    &.disabled {
      background-color: var(--lightestGray);
      & > :is(input) {
        background-color: var(--lightestGray);
      }
    }
  }

  & .main-nested-dropdown-container {
    max-height: 375px;
    overflow-y: scroll;
    position: absolute;
    z-index: 3;
    min-width: 200px;
    background: white;
  }

  .hide {
    display: none;
  }
}
