.cdc-dashboard-inner-container.cove-visualization__body.cove-dashboard-filters-container:has(
    > .nested-dropdown.open-filter
  )
  :has(> .nested-dropdown-container) {
  z-index: 9;
}

.nested-dropdown {
  [class^='nested-dropdown-group-'] {
    list-style: none;
  }

  * {
    font-family: var(--app-font-secondary) !important;
    font-size: var(--filter-select-font-size) !important;
  }

  .search-input {
    border: none;
    color: var(--cool-gray-90);
    display: inline-block;
    font-weight: 300;
    padding: 0;
    position: relative;
    top: 1px;
    width: 100%;
    &::placeholder {
      color: #6c757d;
      opacity: 1;
    }

    &:focus,
    &:focus-visible {
      box-shadow: none;
      outline: none !important;
    }
  }

  [class^='main-nested-dropdown-container-'] {
    cursor: pointer;
  }

  [class^='main-nested-dropdown-container-'],
  .nested-dropdown-input-container {
    border: 1px solid var(--cool-gray-10);
    font-size: 1em;
    min-width: 200px;
    padding: 0.4rem 0.75rem;
  }

  [class^='selectable-item-'] {
    font-size: 0.833rem !important;
    font-weight: 300;
    list-style: none;
    padding: 0.1rem 0 0.1rem 20px;
    position: relative;
    white-space: nowrap;

    & .check-mark {
      left: 0px;
      position: absolute;
    }

    &:hover {
      background-color: var(--cool-gray-10);
    }

    &:focus,
    &:focus-visible {
      background-color: var(--cool-gray-10);
      outline: none;
    }
  }

  .nested-dropdown-input-container {
    border-radius: 0.333rem;
    display: block;
    padding: calc(0.4rem + 1px) 0.75rem calc(0.4rem + 1px) calc(0.75rem - 4px);
    position: relative;
    width: calc(100% + 7px);

    &:focus-within:not(.disabled) {
      outline: dashed 2px rgb(0, 122, 153) !important;
      outline-offset: 3px !important;
    }

    & > span.list-arrow {
      float: right;
      pointer-events: none;
      position: absolute;
      right: 8px;
      top: 11px;
    }

    &.disabled {
      background-color: var(--lightestGray);
      & > :is(input) {
        background-color: var(--lightestGray);
      }
    }
  }

  & [class^='main-nested-dropdown-container-'] {
    background: white;
    color: var(--cool-gray-90);
    font-size: 0.833rem !important;
    max-height: 375px;
    min-width: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 3;
  }

  [class^='nested-dropdown-group-'] {
    cursor: pointer;
    font-size: 0.833rem !important;
    font-weight: 400;
  }

  .nested-dropdown-group-header {
    box-sizing: border-box;
    display: inline-flex;
    padding: 0.1rem 0 0.1rem 0.2rem;
    width: 100%;

    &:hover {
      background-color: var(--cool-gray-10);
    }
  }

  [class^='nested-dropdown-group-'] {
    &:focus,
    &:focus-visible {
      outline: none;

      .nested-dropdown-group-header {
        background-color: var(--cool-gray-10);
      }
    }
  }

  .nested-dropdown-group-arrow {
    cursor: pointer;
    display: inline-flex;
    margin-left: 0.25rem;
    position: static !important;
    vertical-align: middle;
  }

  .nested-dropdown-group-arrow-icon {
    cursor: pointer !important;
    width: 12px;
  }

  .nested-dropdown-group-arrow-icon--collapsed {
    transform: rotate(-90deg);
    transform-origin: center;
  }

  .nested-dropdown-group-label {
    font-size: 0.833rem !important;
    font-weight: 600 !important;
  }

  .hide {
    display: none;
  }
}
