.cove-multiselect {
  position: relative;
  .selected {
    border: 1px solid #ccc;
    padding: 5px;
    min-height: 40px;
    :is(button) {
      border: none;
      background: none;
    }
    :is(div) {
      display: inline-block;
      padding: 0 0 0 5px;
      margin-right: 5px;
      margin-bottom: 2px;
      background: #ccc;
      border-radius: 5px;
    }
    .expand {
      padding: 0 5px;
      border-radius: 5px;
      background: #ccc;
      float: right;
    }
    border-radius: 5px;
  }
  .dropdown {
    background: white;
    position: absolute;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 0;
    min-height: 40px;
    overflow: scroll;
    max-height: 200px;
    z-index: 1;
    &.hide {
      display: none;
    }

    :is(li) {
      cursor: pointer;
      list-style: none;
      padding-left: 10px;
      &:hover {
        background: #ccc;
      } 
    }
  }
}