.cove-multiselect {
  .cove-input__label {
    display: block;
  }
  .wrapper {
    align-items: center;
    display: inline-flex;
    width: 100%;
    .selected {
      &[aria-disabled='true'] {
        background: var(--lightestGray);
      }
      border: 1px solid var(--lightGray);
      border-radius: 5px;
      display: inline-block;
      min-width: 200px;
      padding: 7px;
      width: 100%;
      :is(button) {
        background: none;
        border: none;
      }
      :is(div) {
        background: var(--lightGray);
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 5px;
        padding: 0 0 0 5px;
      }
      .expand {
        color: var(--mediumGray);
        float: right;
        margin-bottom: -3px;
        margin-right: -6px;
        padding: 2px 0px;
        &:focus {
          outline: none;
        }
      }
    }
    .cove-tooltip__content {
      min-width: 120px;
      position: absolute;
      :is(p) {
        margin-bottom: 0;
      }
    }
    .spinner-border {
      right: 20% !important;
    }
  }
  .dropdown {
    background: white;
    border: 1px solid var(--lightGray);
    margin-top: 0px;
    max-height: 200px;
    min-height: 40px;
    min-width: 200px;
    overflow-y: scroll;
    padding-left: 0;
    position: absolute;
    top: var(--select-height);
    z-index: 4;

    :is(li) {
      cursor: pointer;
      list-style: none;
      padding: 0 10px;
      &:hover {
        background: var(--lightGray);
      }
    }
  }
}

.accordion__panel .cove-multiselect .dropdown {
  position: relative;
}
