.cove-multiselect {
  /* --select-height is the height that is defined for the .form-control class in _forms.scss in bootstrap. */
  --select-height: calc(1.5em + 0.75rem + 2px);
  position: relative;
  height: var(--select-height);
  .cove-input__label {
    display: block;
  }
  .wrapper {
    display: inline-flex;
    align-items: center;
    .selected {
      border: 1px solid var(--lightGray);
      padding: 5px;
      min-height: 40px;
      min-width: 200px;
      display: inline-block;
      :is(button) {
        border: none;
        background: none;
      }
      :is(div) {
        display: inline-block;
        padding: 0 0 0 5px;
        margin-right: 5px;
        margin-bottom: 2px;
        background: var(--lightGray);
        border-radius: 5px;
      }
      .expand {
        padding: 2px 0px;
        margin-right: -6px;
        float: right;
        margin-bottom: -3px;
        color: var(--mediumGray);
        &:focus {
          outline: none;
        }
      }
      border-radius: 5px;
    }
    .cove-tooltip__content {
      position: absolute;
      min-width: 120px;
      :is(p) {
        margin-bottom: 0;
      }
    }
  }
  .dropdown {
    background: white;
    position: absolute;
    top: var(--select-height);
    margin-top: 0px;
    border: 1px solid var(--lightGray);
    padding-left: 0;
    min-height: 40px;
    max-height: 200px;
    overflow-y: scroll;
    min-width: 200px;
    z-index: 4;

    :is(li) {
      cursor: pointer;
      list-style: none;
      padding: 0 10px;
      &:hover {
        background: var(--lightGray);
      }
    }
  }
}
