.tooltip-link {
  text-decoration: underline;
  text-decoration-color: #005ea2;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25rem;
  position: relative;
  cursor: pointer;
  color: #005ea2;
  font-family: Arial !important;
  font-size: 0.833rem !important;
}
.tooltip-link:hover {
  color: #009ec1;
  text-decoration-color: #009ec1;
}
