@import '@cdc/core/styles/base';
@import '@cdc/core/styles/heading-colors';
@import '@cdc/core/styles/v2/themes/color-definitions';
@import 'waffle-chart';

.cdc-open-viz-module.type-waffle-chart {
  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  .cove-component__content:not(.component--has-background, .component--hideBackgroundColor) {
    background-color: white;
  }

  .cove-component__content {
    padding-top: 0 !important;
  }

  &.is-editor .cove-component {
    padding-left: 350px;
  }

  &.is-editor .cove-editor__content .cove-component {
    padding-left: 0px;
  }
}
