@import '~@cdc/core/styles/base';
@import "~@cdc/core/styles/heading-colors";
@import 'variables';
@import 'waffle-chart';

.cdc-open-viz-module.type-waffle-chart {
  @import 'editor-panel';

  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  @include breakpointClass(xs) {
    &.font-small {
      font-size: .8em;
    }
    &.font-medium {
      font-size: .9em;
    }
    &.font-large {
      font-size: 1em;
    }
  }

  @include breakpointClass(md) {
    &.font-small {
      font-size: .9em;
    }
    &.font-large {
      font-size: 1.1em;
    }
  }

  @include breakpointClass(lg) {
    &.font-small {
      font-size: 1em;
    }
    &.font-medium {
      font-size: 1.1em;
    }
    &.font-large {
      font-size: 1.2em;
    }
  }
}
