$theme-colors: (
  "blue": $primary,
  "purple": $purple-primary,
  "brown": $brown-primary,
  "teal": $teal-primary,
  "pink": $pink-primary,
  "orange": $orange-primary,
  "slate": $slate-primary,
  "indigo": $indigo-primary,
  "cyan": $cyan-primary,
  "green": $green-primary,
  "amber": $amber-primary
);

$theme-colors-secondary: (
  "blue": $secondary,
  "purple": $purple-secondary,
  "brown": $brown-secondary,
  "teal": $teal-secondary,
  "pink": $pink-secondary,
  "orange": $orange-secondary,
  "slate": $slate-secondary,
  "indigo": $indigo-secondary,
  "cyan": $cyan-secondary,
  "green": $green-secondary,
  "amber": $amber-secondary
);

$editorWidth: 350px;
