@mixin set-theme($property, $color) {
  @if $property == 'background-color' {
    background-color: $color;
  } @else if $property == 'border-color' {
    border-color: $color;
  } @else if $property == 'color' {
    color: $color;
  }
}

.warning-icon {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: red;
}

.cove {
  &-editor__panel {
    ul.color-palette {
      margin: 0;
    }
  }

  .cove-gauge-chart {
    &__chart {
      width: 85%;
      margin: 0 auto;
      margin-left: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: flex-start;

      & > svg {
        margin: 0.7em 0;
      }
    }

    &__subtext {
      font-style: italic;
      font-size: 0.9em !important;
    }
    &__text {
      line-height: 1.25em;
      font-weight: 400;
    }
  }

  .cove-waffle-chart {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 1em 0;
    justify-content: flex-start;

    &.cove-waffle-chart--verical {
      align-items: center;
      flex-flow: column;

      .cove-waffle-chart__chart {
        padding-right: 0;
      }
    }
  }

  .cove-waffle-chart__chart {
    padding-right: 1rem;
    margin-bottom: 1rem;
    box-sizing: content-box;
  }

  .cove-waffle-chart__data {
    flex: 1 1 0;
    min-width: 175px;
    margin-bottom: 1rem;
  }

  .cove-waffle-chart__data {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    font-size: 14px;

    .cove-waffle-chart__data--primary {
      font-size: 70px;
      font-weight: 400;
      line-height: 1em;
    }

    .cove-waffle-chart__data--text {
      line-height: 1.25em;
      width: 100%;
    }
  }

  .cove-waffle-chart__node {
    transition: all 300ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .reverse-labels div {
    float: left;
    margin-right: 5px;
  }

  .reverse-labels {
    overflow: auto;
  }
}

@at-root {
  .cove-waffle-chart.font-small,
  .cove-gauge-chart.font-small #{&} {
    .cove-waffle-chart__data--primary {
      font-size: 35px;
    }
    .cove-waffle-chart__data--text {
      font-size: 14px;
    }
  }

  .cove-waffle-chart.font-medium,
  .cove-gauge-chart.font-medium #{&} {
    .cove-waffle-chart__data--primary {
      font-size: 50px;
    }
    .cove-waffle-chart__data--text {
      font-size: 18px;
    }
  }

  .cove-waffle-chart.font-large,
  .cove-gauge-chart.font-large #{&} {
    .cove-waffle-chart__data--primary {
      font-size: 80px;
    }
    .cove-waffle-chart__data--text {
      font-size: 20px;
    }
  }
}

.cdc-open-viz-module.type-waffle-chart .editor-panel:not(.hidden) + .cove-component__inner {
  padding-left: 350px;
}
