.cdc-waffle-chart {
  position: relative;
  border: solid 1px #ccc;
  border-radius: .3em;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
  background: $lightestGray;
  overflow: hidden;

  .cdc-waffle-chart__inner-container {
    display: flex;
    padding: 1em;
    justify-content: flex-start;
  }

  .cdc-waffle-chart__subtext {
    font-style: italic;
    font-weight: bold;
    font-size: 0.75em;
    padding: 0 1em 1em;
  }

  .cdc-waffle-chart__chart {
    padding-right: 1rem;
  }
}

.cdc-waffle-chart__header {
  @at-root {
    .cdc-waffle-chart #{&} {
      width: 100%;
      padding-left: 0.7em;
      left: 0;
      top: 0;
      line-height: 2.2em;
      color: white;
    }

    .cdc-waffle-chart.theme-blue #{&} {background-color: $primary;}
    .cdc-waffle-chart.theme-purple #{&} {background-color: $purple-primary;}
    .cdc-waffle-chart.theme-amber #{&} {background-color: $amber-primary;}
    .cdc-waffle-chart.theme-orange #{&} {background-color: $orange-primary;}
    .cdc-waffle-chart.theme-brown #{&} {background-color: $brown-primary;}
    .cdc-waffle-chart.theme-teal #{&} {background-color: $teal-primary;}
    .cdc-waffle-chart.theme-pink #{&} {background-color: $pink-primary;}
    .cdc-waffle-chart.theme-slate #{&} {background-color: $slate-primary;}
    .cdc-waffle-chart.theme-indigo #{&} {background-color: $indigo-primary;}
    .cdc-waffle-chart.theme-cyan #{&} {background-color: $cyan-primary;}
    .cdc-waffle-chart.theme-green #{&} {background-color: $green-primary;}
    .cdc-waffle-chart.theme-purple #{&} {background-color: $purple-primary;}
  }
}

.cdc-waffle-chart__data {
  @at-root {
    .cdc-waffle-chart #{&} {
      width: 140px;
    }
    .cdc-waffle-chart.theme-blue #{&} { color: $primary; }
    .cdc-waffle-chart.theme-purple #{&} { color: $purple-primary; }
    .cdc-waffle-chart.theme-amber #{&} { color: $amber-primary; }
    .cdc-waffle-chart.theme-orange #{&} { color: $orange-primary; }
    .cdc-waffle-chart.theme-brown #{&} { color: $brown-primary; }
    .cdc-waffle-chart.theme-teal #{&} { color: $teal-primary; }
    .cdc-waffle-chart.theme-pink #{&} { color: $pink-primary; }
    .cdc-waffle-chart.theme-slate #{&} { color: $slate-primary; }
    .cdc-waffle-chart.theme-indigo #{&} { color: $indigo-primary; }
    .cdc-waffle-chart.theme-cyan #{&} { color: $cyan-primary; }
    .cdc-waffle-chart.theme-green #{&} { color: $green-primary; }
    .cdc-waffle-chart.theme-purple #{&} { color: $purple-primary; }
  }

  .cdc-waffle-chart__data--primary {
    font-size: 70px;
    font-weight: 400;
    line-height: 1em;
  }

  .cdc-waffle-chart__data--text {
    font-weight: 300;
    line-height: 1.25em;
  }
}
