.cdc-open-viz-module.type-map {
  .annotation__title-circle {
    align-items: center;

    border: 2px solid #666;
    border-radius: 50%;
    display: flex;
    font-size: 14px;
    height: 16px;
    justify-content: center;
    line-height: 1.5rem;
    margin-right: 5px;
    padding: 8px;
    text-align: center;
    width: 16px;
  }

  .annotation__title-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }

  .annotation__title-wrapper .annotation__title-text {
    font-size: 16px;
    margin-left: 5px;
  }

  .annotation__subtext {
    font-size: 12px;
  }

  .annotation-list {
    list-style: none;
  }

  .annotation-list li {
    margin-top: 5px;
  }

  .cove-component__content {
    container-name: content;
    container-type: inline-size;
  }
}
