/* KPI */
.kpis-container {
  column-gap: 30px;
  display: flex;
  flex-direction: row;
}

.cdc-open-viz-module {
  .sankey-chart {
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-xl: 24px;

    --storynode-font-size--small: 24px;
    --storynode-font-size--medium: 28px;
    --storynode-font-size--large: 32px;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    overflow: visible;

    .divider {
      border-top: 1px solid #000;
      margin: 10px 0;
    }

    .alert-dismissible {
      padding-right: 4rem !important;
    }

    svg.sankey-chart__diagram {
      font-family: 'Roboto', sans-serif;
      height: auto;
      position: relative;
      width: 100%;
    }

    .node-id {
      font-weight: var(--font-weight-bold);
    }

    .node-value {
      font-weight: var(--font-weight-normal);
    }

    .node-text {
      font-weight: var(--font-weight-normal);
    }

    .node-value--storynode {
      font-weight: var(--font-weight-bold);
    }

    /* Hover card */
    .sankey-chart__tooltip {
      color: black;
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    .sankey-chart__tooltip--tooltip-header {
      font-weight: var(--font-weight-bold);
    }

    .sankey-chart__tooltip--info-section {
      column-gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      max-width: 500px;
      word-wrap: break-word;
    }

    /* Autoscaling - large (default) */
    @media only screen and (min-width: 1200px) {
      min-width: none;

      .node-text {
        font-size: var(--font-size-xl);
      }

      .node-value--storynode {
        font-size: var(--storynode-font-size--large);
      }

      .node-id {
        font-size: var(--font-size-large);
      }

      .node-value {
        font-size: var(--font-size-large);
      }
    }

    /* Autoscaling - medium */
    @media only screen and (max-width: 1199px) {
      .node-text {
        font-size: var(--font-size-medium);
      }

      .node-value--storynode {
        font-size: var(--storynode-font-size--medium);
      }

      .node-id {
        font-size: var(--font-size-medium);
      }

      .node-value {
        font-size: var(--font-size-medium);
      }
    }

    /* Autoscaling - x-small */
    @media only screen and (max-width: 600px) {
      .popup {
        display: block;
      }
    }
  }
}

/* Pop up */
.popup {
  background-color: beige;
  border: 2px solid gray !important;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 999;
}

.popup-content {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
