@include breakpoint(md) {
  .editor-panel:not(.hidden) + .cdc-map-inner-container {
    padding-left: $editorWidth;
  }
  .editor-panel.hidden + .cdc-map-inner-container h1.site-title { padding-left: 3em; } 
}

.waiting {
  @include breakpoint(md) {
    padding-left: 350px;    
  }
  &.collapsed {
    padding: 2em;
  }
  text-align: center;
  position: absolute;
  z-index: 5;
  background: rgba(255,255,255,.8);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    max-width: 400px;
  }
  h3 {
    display: block;
    margin-bottom: .5em;
    font-size: 2em;
  }
  p {
    font-size: 1em;
    strong {
      font-weight: bold;
    }
  }
}

.geo-buttons {
  list-style: none;
  display: flex;
  img {
    display: block;
    max-width: 80px;
    max-height: 40px;
    margin: .5em auto;
    box-sizing: border-box;
  }
  li {
    border-radius: .4rem;
    padding: .3rem .75rem;
    display: flex;
    border: $mediumGray 1px solid;
    width: 40%;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
    transition: .2s all; 
    svg {
      display: block;
      height: 25px;
      margin: .5em auto;
      max-width: 100%;
    }
    span {
      text-transform: none;
      font-size: 1em;
    }
    &:hover {
      background: #F2F2F2;
      transition: .2s all;  
    }
    &.active {
      background: #fff;
      border-color: #005eaa;
      color: #005eaa;
      position: relative;
      path {
        fill: #005eaa;
      }
      &:before {
        content: " ";
        width: 5px;
        background: #005eaa;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
      }
    }
  }
}

.editor-toggle {
  background: #F2F2F2;
  border-radius: 60px;
  color: #000;
  font-size: 1em;
  border: 0;
  position: fixed;
  z-index: 100;
  transition: .1s background;
  cursor: pointer;
  width: 25px;
  height: 25px;
  left: 305px;
  top: 10px;
  box-shadow: rgba(0,0,0,.5) 0 1px 2px;
  &:before {
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "\00ab";
  }
  &.collapsed {
    left: 1em;
    margin-left: 0;  
    &:before {
    content: "\00bb";
   }
  }
  &:hover {
    background: rgba(255,255,255,1)
  }
}

.editor-panel {
  background: #fff;
  width: $editorWidth;
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
  position: fixed;
  z-index: 7;
  font-family: $fontStack;
  display: flex;
  flex-direction: column;
  left: 0;
  .accordion__heading {
    background: $lightGray;
  }
  .form-container {
    border-right: $mediumGray 1px solid;
    flex-grow: 1;
  }
  .guidance-link {
    font-family: $fontStack;
    margin: 2rem 1em 1rem;
    border-radius: .4rem;
    padding: .75rem 1rem;
    display: flex;
    text-decoration: none;
    color: #444;
    border: $mediumGray 1px solid;
    position: relative;
    overflow: hidden;
    transition: .2s all;
    &:hover {
      background: $lightGray;
      transition: .2s all;
    }
    &:before {
      content: " ";
      width: 5px;
      background: #005eaa;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }
    img {
      max-width: 40px;
      margin-right: 1em;
    }
    h3 {
      font-weight: 600;
      font-size: 1.1em;
    }
  }
  .warning {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: .75rem 1rem;
    margin: 1em 0;
    font-size: .8em;
    border: #D8000C 1px solid;
    border-radius: .4rem;
    strong {
      font-weight: 600;
      display: block;
    }
  }
  .accordion__button {
    cursor: pointer;
    font-size: 1.1em;
    padding: .5em 1em;
    width: 100%;
    text-align: left;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .accordion__button:before {
    display: inline-block;
    content: '';
    height: 7px;
    width: 7px;
    margin-right: 1em;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    right: 0;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: .1s all;
  }

  .accordion__button[aria-expanded='true']::before,
  .accordion__button[aria-selected='true']::before {
    transform: rotate(45deg) translateY(-50%);
    margin-right: 1.3em;
    transition: .1s all;
  }

  .accordion__panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em 1.25em 2em;
    animation: fadein 0.2s ease-in;
  }

  .advanced {
    padding: 0 1em 1em;
    text-align: left;
    .advanced-toggle-link {
      padding-top: 1em;
      display: block;
      text-align: left;
      cursor: pointer;
      color: rgba(0,0,0,.5);
      text-decoration: underline;
      span {
        text-decoration: none;
        display: inline-block;
        font-family: monospace;
        padding-right: 5px;
      }
      &:hover {
        color: rgba(0,0,0,.7);
      }
    }
    p, .warning {
      font-size: .8em;
    }
    p {
      margin-bottom: 1em;
    }
    textarea {
      height: 400px;
      width: 100%;
      font-size: .9em;
      padding: .5em;
      font-family: monospace;
      box-sizing: border-box
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  h2 {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    font-size: 1.1em;
    padding: .65rem 1em;
    position: relative;
    z-index: 3;
  }

  label {
    text-transform: uppercase;
    display: block;
    font-size: .8em;
    font-weight: 600;
    &:not(:first-child) {
      margin-top: 1.5em;
    }
    span.edit-label {
      margin-bottom: .3em;
      display: block;
    }
    span.column-heading {
      font-size: 1.15em;
    }
    &.checkbox {
      span {
        display: inline;
      }
      input {
        width: inherit;
        display: inline;
      }
    }
  }
  input[type="text"], input[role="combobox"], input[type="number"], textarea {
    padding: .5em .3em;
    min-width: 100%;
    max-width: 100%; // Doing this prevents width of textarea from being changed
    font-size: 1.2em;
    font-family: sans-serif;
    border: rgba(0,0,0,.3) 1px solid;
    &:focus {
      border: rgba(0,0,0,.7) 1px solid;
      outline: 0;
    }
  }
  textarea {
    min-height: 140px;
  }
  select {
    width: 100%;
    font-size: 1.4em;
    text-transform: none;
  }
  h5 {
    font-size: .8em;
  }
  .header .color-palette li {
    width: 21px;
    height: 21px;
    border-radius: 40px;
    margin-right: 2.8px;
  }
  .color-palette {
    display: flex;
    max-width: 100%;
    padding: 0;
    margin: .5em 0 0 0;
    list-style: none;
    flex-wrap: wrap;
    li {
      width: 45px;
      height: 23px;
      margin-right: 4px;
      margin-bottom: 10px;
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      .click-target {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      &.selected {
        border: rgba(0,0,0, .8) 2px solid;
      }
      span {
        width: 33.3%;
      }
    }
  }

  fieldset {
    display: block;
  }

  .primary-fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  ul.column-edit {
    list-style: none;
    li {
      margin-top: 1em;
    }
    .three-col {
      display: flex;
      justify-content: space-between;
      > label {
        margin-top: 0;
        width: 30%;
        display: inline-block;
        input[type="text"], input[type="number"] {
          width: 50px;
        }
      }
    }
  }

  &.hidden {
    display: none;
  }

  .remove-column {
    float: right;
    text-transform: uppercase;
    color: #C32B2B;
    font-size: .7em;
    line-height: 1.6em;
    border-radius: 5px;
    margin: 0 auto;
    transition: .1s all;
    border: 0;
    text-decoration: underline;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
  }

  .edit-block {
    padding-left: 1em;
    border-left: rgba(0, 0, 0, 0.2) 4px solid;
    transition: .2s all;
    &:not(:first-child) {
      margin-top: 2em;
    }
    input[type="text"], input[type="number"] {
      font-size: 1em;
    }
    label {
      margin-top: 0;
    }
    label + label {
      margin-top: 1em;
    }
    &:hover {
      border-left: rgba(0, 0, 0, 0.7) 4px solid;
      transition: .2s all;
    }
  }

  .data-toggle {
    list-style: none;
    li {
      padding-left: 2em;
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        border-left: rgba(0, 0, 0, 0.2) 4px solid;
        transition: .2s all;
      }
      &:after {
        content: " ";
        background: url(./images/inactive-checkmark.svg) no-repeat;
        width: 14px;
        height: 14px;
        background-size: 14px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 40;
        opacity: .5;
        transition: .2s opacity;
      }
      transition: .2s opacity;
      cursor: pointer;
      opacity: .7;
      &:not(:first-child) {
        margin-top: 1em;
      }
      input[type="text"], input[type="number"] {
        font-size: 1em;
      }
      label {
        margin-top: 0;
      }
      label + label {
        margin-top: 1em;
      }
      &:hover {
        &:before {
          border-left: rgba(0, 0, 0, 0.7) 4px solid;
          transition: .2s all;
        }
        &:after{
          opacity: 1;
          transition: .2s all;
        }
      }
      &.active {
        position: relative;
        opacity: 1;
        &:before {
          border-left: rgba(0, 0, 0, 0.7) 4px solid;
        }
        &:after {
          content: " ";
          background-image: url(./images/active-checkmark.svg);
          opacity: 1;
          transition: .2s opacity;
        }
      }
    }
  }

  span.subtext {
    display: block;
    color: rgba(0,0,0,.5);
    text-transform: none;
    font-weight: normal;
  }

  .btn {
    background: #005eaa;
    color: #fff;
    border: 0;
    padding: .4em 0;
    font-size: 1em;
    display: block;
    border-radius: 5px;
    margin-top: 1em;
    transition: .1s all;
    cursor: pointer;
    &.full-width {
      width: 100%;
    }
    &.secondary {
      font-size: .8em;
      padding: .3em 1em;
      background: rgba(0, 0, 0, 0.3);
      display: inline-block;
      margin-bottom: 1em;
      &:hover {
        background: rgba(0,0,0,.5);
      }
    }
    &:hover {
      transition: .1s all;
      background: lighten(#005eaa, 5%);
    }
  }
  
  .sort-list li {
    display: block;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;
    padding: .4em .6em;
    font-size: .8em;
    margin-right: .3em;
    margin-bottom: .3em;
    cursor: move;
    z-index: 999;
  }
  
  .info {
    font-size: .8em;
    line-height: 1.4em;
    font-style: italic;
    padding-top: 10px;
  }

  .react-tags__search {
    width: 100%;
  }

  .react-tags {
    position: relative;
    input {
      border: rgba(0, 0, 0, 0.3) 1px solid;
    }

    /* shared font styles */
    font-size: 1em;
    line-height: 1;

    /* clicking anywhere will focus the input */
    cursor: text;
    span {
      display: inline
    }
  }

  .react-tags.is-focused {
    border-color: rgba(0, 0, 0, 0.7);
  }

  .react-tags__selected {
    display: inline;
  }

  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;
    padding: .4em .6em;
    font-size: .8em;
    margin-right: .3em;
    margin-bottom: .3em;
  }

  .react-tags__selected-tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
  }

  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
    border-color: #B1B1B1;
  }

  .react-tags__search {
    display: inline-block;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
  }

  @media screen and (min-width: 30em) {

    .react-tags__search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }

  }

  .react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    outline: none;
    padding: .5em .3em;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .react-tags__search input::-ms-clear {
    display: none;
  }

  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: 30em) {

    .react-tags__suggestions {
      width: 240px;
    }

  }

  .react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  .react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
  }

  .react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }

  .react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
  }

  .react-tags__suggestions li.is-active {
    background: #b7cfe0;
  }

  .react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }

}
