.sr-only,
.sr-only-focusable:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.cdc-map-inner-container {
  @import "./tooltips";
  @import "./map";
  @import "./sidebar";
  @import "./datatable";
  @import "./animations";

  flex-grow: 1;
  text-rendering: geometricPrecision;
  color: #202020;
  border: 0;
  font-size: 14px;
  text-align: left;
  @include breakpoint(lg) {
    font-size: 16px;
  }
  .btn {
    padding: .375rem .75rem;
    border-radius: .3rem;
  }

  header.hidden {
    display: none;
  }

  .no-border {
    border: 0;
  }

  h1 {
    color: #fff;
    font-size: 1.1em;
    position: relative;
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
  }

  h1:not(:empty) {
    padding: .6rem .8rem;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

  .map-container {
    display: flex;
    position: relative;
    flex-direction: column;
    &.modal-background {
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.05);
        z-index: 7;
        @include breakpoint(md) {
          border-bottom: $mediumGray 1px solid;
          margin-bottom: -1px;
          bottom: 1px;
        }
      }
      .modal-content {
        background: #fff;
        position: absolute;
        z-index: 8;
        top: 50%;
        left: 50%;
        display: flex;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        border: rgba(0, 0, 0, 0.3) 1px solid;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 7px;
        opacity: 1;
        line-height: 1.4em;
        font-size: 1em;
        border-radius: 4px;
        min-width: 250px;
        padding: 16px 40px 16px 20px;
        .legend-color {
          @include legendDot;
          margin-right: .75em;
          margin-top: 3px;
          flex-shrink: 0;
        }
        @include breakpoint(sm) {
          transform: translate(-50%, -100%);
        }
        @include breakpoint(md) {
          transform: translate(-50%, -120%);
        }
        @include breakpoint(lg) {
          font-size: 1.3em;
          min-width: 300px;
          .legend-color {
            height: 1.3em;
            width: 1.3em;
          }
        }
        strong {
          font-weight: 600;
          font-size: 1.2em;
        }
        .modal-close {
          position: absolute;
          right: 20px;
          top: 18px;
          cursor: pointer;
        }
        span.navigation-link {
          text-decoration: underline;
          cursor: pointer;
          color: #075290;
          img {
            display: inline-block;
            max-width: 13px;
            vertical-align: baseline;
            margin-left: 5px;
          }
        }
        &.capitalize p {
          text-transform: capitalize;
        }
      }
    }
  }

  p.subtext {
    padding: 0 .8em .8em;
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
  }

  span.legend-color {
    margin-right: 5px;
    border-radius: 300px;
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
    border: rgba(0,0,0,.3) 1px solid;
  }

  .navigation-menu {
    background: #fff;
    position: relative;
    line-height: 1.3em;
    padding: 1em;
    z-index: 6;
    width: 100%;
    border-top: $mediumGray 1px solid;
    label {
      flex-grow: 1;
      > h5 {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: .75em; 
      }
    }
    form {
      max-width: 400px;
      display: flex;
      align-items: flex-end;
    }
    select {
      font-size: 1.2em;
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }
    input {
      color: #fff;
      font-weight: 700;
      padding: .4em .65em;
      font-size: .9em;
      border: 0;
      display: inline-block;
      border-radius: 7px;
      margin-left: .5em;
      cursor: pointer;
    }
  }

  .waiting {
    padding: 2em;
    text-align: center;
    position: absolute;
    z-index: 5;
    background: rgba(255,255,255,.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      max-width: 400px;
    }
    h3 {
      display: block;
      margin-bottom: .5em;
      font-size: 2em;
    }
    p {
      font-size: 1em;
      strong {
        font-weight: bold;
      }
    }
  }

  .error {
    padding: 2em;
    text-align: center;
    position: absolute;
    z-index: 9999;
    background: rgba(255,255,255,.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .container {
      position: absolute;
      top: 50%;
      transform: translateY(-70%);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}