/* Tooltip Styles - overrides some default ones provided by <ReactTooltip /> */
#tooltip {
  border: rgba(0,0,0,.3) 1px solid;
  box-shadow: rgba(0,0,0,.1) 3px 3px 7px;
  opacity: 1;
  line-height: 1.4em;
  font-size: 1em;
  border-radius: 4px;
  &:before, &:after {
    // Remove arrows for now
    display: none;
  }

  &.capitalize dl {
    text-transform: capitalize;
  }

  dl dt:not(:empty)::after {
    content: ":\00a0";
  }

  dl > div {
    display: flex;
  }

  strong {
    font-weight: 600;
  }
}

@include breakpoint(xs) {
  div#tooltip {
    display: none !important;
  }
}