.bar-chart-container {
  svg, .legend-container {
      display: inline-block;
  }

  .legend-container {
    padding: 15px;
    vertical-align: top;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
  }

  caption {
    caption-side: top;
    font-size: x-large;
    font-weight: bold;
    line-height: 2em;
    padding-left: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 0.25em 1em;

    .table-indicator {
      float: right;
      font-size: xx-large;
      font-weight: bold;
    }
  }

  th, td {
    border: 1px solid black;
  }
}