.error-box {
  display: flex;
  padding: .3rem 1rem;
  justify-content: space-between;
  background: #FFC2C2;
  font-size: .9rem;

  strong {
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  .dismiss-error {
    flex-shrink: 0;
    font-size: .8rem;
    cursor: pointer;
  }
}

.warning {
  color: #D8000C;
  background-color: #FFD2D2;
  border: #D8000C 1px solid;
  padding: .75em 1em;
  margin: 1em 0;
  font-size: .8em;
  border-radius: .4em;

  strong {
    font-weight: 600;
    display: block;
  }
}
