.cove-component {
  border-radius: 3px;
  // box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px; // no box shadows
}

.cove-component__header {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 3px 3px 0 0;
  font-size: 1.1rem;
  transition: background-color 200ms ease, border-color 200ms ease;
  color: #fff;
}

.cove-component__content {
  padding-top: 1rem;
  border: solid 1px #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;

  &.no-borders {
    border: none;
  }

  .cdc-data-bite-inner-container:not(.component--has-title) .cove-component__content:not(.no-borders) {
    border-top: 1px solid #ccc;
  }

  .cove-component__content:not(.component--hideBackgroundColor) {
    background: $lightestGray;
  }
}

.cove-component__content-wrap {
  padding: 0 1rem 1rem;
}
