.cove-component {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
}

.cove-component__header {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 3px 3px 0 0;
  font-size: 1.1rem;
  transition: background-color 200ms ease, border-color 200ms ease;
  color: #fff;
}

.cove-component__content {
  padding-top: 1rem;
  background: $lightestGray;
  border: solid 1px #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
}

.cove-component__content-wrap {
  padding: 0 1rem 1rem;
}
