@use 'sass:color';

.cove-data-table {
  position: relative;
}

.collapsed + .cove-data-table__table-wrapper {
  border-bottom: none;
}

.cove-data-table__table-wrapper {
  border-right: 1px solid $lightGray;
  border-left: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  overflow-x: auto;
}

.cove-data-table__table-heading {
  padding: 0.5em 0.7em;
  //TODO find fix
  //background-image: url(~@cdc/core/assets/icon-minus.svg);
  background-size: 15px 15px; // Need to define both for IE11
  background-position: right 0.7em center;
  background-repeat: no-repeat;
  border: $lightGray 1px solid;
  border-bottom: 0;
  cursor: pointer;

  &:focus {
    z-index: 2;
    position: relative;
  }

  &.collapsed {
    //TODO find fix
    //background-image: url(~@cdc/core/core/assets/icon-plus.svg);
    border-bottom: $lightGray 1px solid;
  }
}

.cove-data-table__table {
  width: 100%;
  background: #fff;
  position: relative;
  border: none;
  border-collapse: collapse;
  overflow: auto;
  appearance: none;

  * {
    box-sizing: border-box;
  }

  thead {
    color: #fff;
    background-color: $mediumGray;
    user-select: none;

    tr {
      text-align: left;
      background: none;
    }

    th,
    td {
      padding: 0.5em 1.3em 0.5em 0.7em;
      line-height: normal;
      position: relative;
      text-align: left;
      cursor: pointer;
      border-right: 1px solid $lightGray !important;

      svg {
        margin-left: 1rem;
      }
    }

    th:last-child,
    td:last-child {
      border-right: 0;
    }
  }

  tbody {
    tr {
      width: 100%;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  tr {
    border-bottom: solid 1px #e5e5e5;
    min-width: 100%; // Needed to fill content up

    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    position: relative;
    padding: 0.3em 0.7em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    a {
      padding: 0.3em 0.7em;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      color: inherit;
      text-decoration: none;
    }
  }

  th,
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:last-child {
      border-right: 0 !important;
    }

    &:first-child {
      flex-grow: 1;
    }
  }

  .table-link {
    text-decoration: underline;
    cursor: pointer;
    color: #075290;

    svg {
      max-width: 13px;
      vertical-align: baseline;
      margin-left: 5px;
    }
  }

  .sort {
    background-color: color.adjust($mediumGray, $lightness: -10%);
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 10px 5px;
  }

  .resizer {
    cursor: e-resize;
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    touch-action: none;
  }
}

.cove-data-table__footer {
  margin-top: 1rem;
}

.cove-data-table__pagination {
}

.cove-data-table__pagination--index {
}

.cove-data-table__no-data {
  position: relative;
  user-select: none;

  th,
  td {
    width: 50%;

    &::before {
      content: '\00a0';
    }
  }
}

.cove-data-table__no-data--message {
  @include emptyState;
}
