@import '@cdc/core/styles/base';

.legend-container {
  .legend-group {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0.5rem;

    .group-item > * {
      font-size: 0.889rem;
      font-weight: 90;
      line-height: 18px;
      margin-bottom: 0.5rem;
    }
  }

  .legend-group.top,
  .legend-group.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    &.group-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    & .inactive {
      opacity: 0.5;
      transition: 0.2s all;
    }
    & .highlighted {
      outline: 1px solid #005ea2;
      outline-offset: 5px;
      border-radius: 1px;
    }
  }
}
