.data-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;

  h2 {
    font-size: 1.3em;
    font-weight: 600;
  }

  .filter {
    align-self: flex-end;
    width: 30%;
    font-size: 1em;
  }
}
