.data-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-weight: 600;
    font-size: 1.3em;
  }
  .filter {
    align-self: flex-end;
    font-size: 1em;
    width: 30%;
  }
}

.data-table {
  tr {
    border-bottom: none !important;
    border-right: none !important;

    th {
      background: #565656;
    }
  
    th, 
    td {
      min-width: 100px !important;
      border-bottom: solid 1px #E5E5E5;
      border-right: solid 1px #E5E5E5
    }
  }
}