$xxs: 350px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$base-size: 16;

@function size($target, $context: $base-size) {
  @return calc($target / $context) * 1em;
}

$gbl-padding: size(30);
$table-padding: size(10);

// colors
$white: #fff;
$darkest-gray: #2e2e2e;
$gray: #333;
$light-gray: #797979;
$lighter-gray: #ebebeb;
$lightest-gray: #f5f5f5;

$light-yellow: #fde0b5;
$dark-yellow: #f59a23;
