@import 'variables';

.cdc-editor .choose-vis {
  padding: $gbl-padding;
  .capitalize {
    text-transform: capitalize;
  }
  ul + .heading-2 {
    margin-top: 1em;
  }
  .visualization-grid {
    margin-top: 1em;
    list-style: none;
    display: grid;
    &.category_general {
      grid-template-columns: repeat(4, 180px);
    }
    &.category_charts {
      grid-template-columns: repeat(7, 180px);
      grid-row-gap: 50px;
    }
    &.category_maps {
      grid-template-columns: repeat(5, 180px);
    }

    button {
      background-color: #fff;
      color: var(--baseColor);
      border: solid 1px;
      border-color: rgb(199, 199, 199);
      padding: 1.3em $gbl-padding;
      height: 100%;
      align-items: center;
      display: flex;
      border: var(--lightGray) 1px solid;
      margin-right: 1em;
      cursor: pointer;
      transition: 0.1s all;
      flex-direction: column;
      span {
        text-transform: none;
        font-size: 1em;
      }
      &:hover {
        background: #f2f2f2;
        border-color: #949494;
        transition: 0.1s all;
      }
      &.active {
        background: #fff;
        border-color: #005eaa;
        color: #005eaa;
        position: relative;
        path {
          fill: #005eaa;
        }
        &:before {
          content: ' ';
          width: 5px;
          background: #005eaa;
          left: 0;
          top: 0;
          bottom: 0;
          position: absolute;
        }
      }
      svg {
        display: block;
        margin: 0 auto 0.5em;
        box-sizing: border-box;
        width: 100px;
        height: 75px;
      }
    }
  }
}
