@import 'variables';

.cdc-editor .data-formatter {
    @import "data-table";
    display: flex;

    .left-col {
        background: #fff;
        padding-top: $gbl-padding;
        padding-bottom: $gbl-padding;
        width: 33.333%;
        border-right: $lightGray 1px solid;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        margin-top: 3rem;
        z-index: 1;
        overflow-y: auto;

        .btn {
            display: inline;
            margin: 0.25em;
        }

        .question {
            margin-bottom: 1em;
        }

        .table-button {
            display: inline-block;
            max-width: 275px;
            border: 1px solid #aaa;
            border-radius: 5px;
            background-color: #eee;
            padding: 1.5em 0.5em;
            margin: 0.5em;
            font-size: 0.8em;
            text-align: center;

            &.active {
                border: 2px solid #005eaa;
            }

            p {
                margin-bottom: 1em;
            }

            table {
                border: 1px solid #aaa;
                border-collapse: collapse;
                margin: auto;

                th {
                    background-color: #005eaa;
                    color: white;
                    text-align: left;
                }

                th, td {
                    border-top: 1px solid #aaa;
                    border-bottom: 1px solid #aaa;
                    padding: 0 5px;
                }
            }
        }
    }
    
    .right-col {
        position: relative;
        background-color: $lightest-gray;
        padding: $gbl-padding;
        flex-grow: 1;
        max-width: 66.667%;
    }

    &::before {
        content: " ";
        flex-shrink: 0;
        width: 33.33%; // Space pseudo element
    }
}