@import "variables";

.cdc-editor .data-designer {
    @import "data-table";
    display: flex;
    .left-col {
        background: #fff;
        padding-top: $gbl-padding;
        padding-bottom: $gbl-padding;
        width: 33.333%;
        border-right: $lightGray 1px solid;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        margin-top: 3rem;
        z-index: 1;
        overflow-y: auto;
        .tabs {
            > ul.nav {
                display: flex;
            }
            .nav-item {
                display: flex;
                justify-content: center;
                list-style: none;
                padding: .6rem 0;
                flex-grow: 1;
                border-bottom: $lightGray 1px solid;
                color: $mediumGray;
                align-items: center;
                svg {
                    margin-right: .3em;
                }
                &:hover {
                    border-bottom-color: $mediumGray;
                }
                &.active {
                    border-bottom-width: 5px;
                    border-bottom-color: $mediumGray;
                    color: $darkGray;
                }
            }

            .tab-content {
                padding-top: $gbl-padding;
                border-top: 1px solid $baseColor;
            }
        }
        .cdcdataviz-file-selector {
            padding: 1rem 3rem;
            text-align: center;
            border: $lightGray 2px dashed;
            border-radius: .2rem;
            cursor: pointer;
            font-size: 1em;
            color: $mediumGray;
            transition: .1s all;
            svg {
                max-width: 35px;
                margin: 0 auto .5em;
                color: $mediumGray;
                transition: .1s all;
                path {
                    fill: currentColor
                }
            }
            &.drag-active {
                background-color: $lightest-gray;
                svg {
                    transform: scale(.8);
                    transition: .1s all;
                }
            }
            span {
                white-space: pre;
                color: $blue;
                text-decoration: underline;
            }
        }
        .footnote {
            font-size: .8rem;
            font-style: italic;
            color: $mediumGray;
        }
        .btn {
            display: inline;
            margin: 0.25em;
        }
        .question {
            margin-bottom: 1em;
        }
        .table-button {
            display: inline-block;
            max-width: 275px;
            border: 1px solid #aaa;
            border-radius: 5px;
            background-color: #eee;
            padding: 1.5em 0.5em;
            margin: 0.5em;
            font-size: 0.8em;
            text-align: center;

            &.active {
                border: 2px solid #005eaa;
            }

            p {
                margin-bottom: 1em;
            }

            table + table {
                margin-top: 1em;
            }

            table {
                border: 1px solid #aaa;
                border-collapse: collapse;
                margin: auto;

                th {
                    background-color: #005eaa;
                    color: white;
                    text-align: left;
                }

                th, td {
                    border-top: 1px solid #aaa;
                    border-bottom: 1px solid #aaa;
                    padding: 0 5px;
                }
            }
        }
    }
    &::before {
        content: " ";
        flex-shrink: 0;
        width: 33.33%; // Space pseudo element
    }
    .right-col {
        position: relative;
        background-color: $lightest-gray;
        padding: $gbl-padding;
        flex-grow: 1;
        max-width: 66.667%;
    }

    .keep-url {
        font-size:.8rem;
        color: $mediumGray
    }

    .sample-data-list {
        margin-left: 1rem;
        font-size: .8rem;
        li {
            margin-top: .3rem;
            color: $blue;
            text-decoration: underline;
            cursor: pointer
        }
    }

    .file-loaded-area {
        margin-bottom: 20px;
    }

    .url-source-options,
    .data-source-options {
        display: grid;
        grid-template-columns: 1fr 100px;
        gap: 10px;
        margin-bottom: 20px;

        .btn {
            margin: 0;
        }

        .cdcdataviz-file-selector {
            padding: 8px;

            svg {
                position: relative;
                top: 4px;
                width: 20px;
                height: 20px;
                margin: 0;
            }
        }
    }
    .data-source-options {
        align-items: center;
    }
}
