@import 'variables';

.cdc-editor .data-designer {
  display: flex;
  justify-content: flex-end;
  .left-col {
    background: #fff;
    padding: $gbl-padding;
    width: 50%;
    border-right: var(--lightGray) 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    margin-top: 3rem;
    z-index: 1;
    overflow-y: auto;
    .dataset-name-input {
      width: 100%;
    }
    .heading-3 {
      font-weight: 600;
      margin-bottom: 0.5em;
      margin-top: 1em;
      border-top: 1px solid gray;
      padding-top: 0.5em;
    }
    .tabs {
      margin-bottom: 2em;
      > ul.nav {
        display: flex;
      }
      .nav-item {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0.6rem 0;
        flex-grow: 1;
        border-bottom: var(--lightGray) 1px solid;
        color: var(--mediumGray);
        align-items: center;
        svg {
          margin-right: 0.3em;
        }
        &:hover {
          border-bottom-color: var(--mediumGray);
        }
        &.active {
          border-bottom-width: 5px;
          border-bottom-color: var(--mediumGray);
          color: var(--darkGray);
        }
      }

      .tab-content {
        padding-top: $gbl-padding;
        border-top: 1px solid var(--baseColor);
      }
    }
    table {
      width: 100%;
      border: 1px solid gray;
      thead {
        background-color: rgb(220, 220, 200);
        border-bottom: 1px solid gray;
      }
      td {
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        button {
          font-size: 11pt;
        }
      }
    }
    .cdcdataviz-file-selector {
      padding: 1rem 3rem;
      text-align: center;
      border: var(--lightGray) 2px dashed;
      border-radius: 0.2rem;
      cursor: pointer;
      font-size: 1em;
      color: var(--mediumGray);
      transition: 0.1s all;
      svg {
        max-width: 35px;
        margin: 0 auto 0.5em;
        color: var(--baseColor);
        transition: 0.1s all;
        path {
          fill: currentColor;
        }
      }
      &.drag-active {
        background-color: $lightest-gray;
        svg {
          transform: scale(0.8);
          transition: 0.1s all;
        }
      }
      span {
        white-space: pre;
        color: var(--blue);
        text-decoration: underline;
      }
    }
    .footnote {
      font-size: 0.8rem;
      font-style: italic;
      margin: 1em 0 2em 0;
      color: var(--mediumGray);
    }
    .btn.active {
      $primary: #005eaa;
      background: darken($primary, 15%);
    }
    .input-group {
      display: flex;
      align-items: stretch;
      input[type='text'] {
        flex-grow: 1;
        border-right: 0;
      }
    }

    .keep-url {
      font-size: 0.8rem;
      color: var(--mediumGray);
    }

    .sample-data-list {
      font-size: 0.8rem;
      list-style: none;
      li {
        margin-top: 0.3rem;
        color: var(--blue);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .file-loaded-area {
      margin-bottom: 20px;
    }

    .edit-block {
      padding-left: 1em;
      border-left: rgba(0, 0, 0, 0.2) 4px solid;
      transition: 0.2s all;

      &:not(:first-child) {
        margin-top: 2em;
      }

      input[type='text'],
      input[type='number'] {
        font-size: 1em;
      }

      label {
        margin-top: 0;
      }

      label + label {
        margin-top: 1em;
      }

      &:hover {
        border-left: rgba(0, 0, 0, 0.7) 4px solid;
        transition: 0.2s all;
      }

      .column-heading {
        text-transform: uppercase;
        display: block;
      }

      select,
      input {
        width: 100%;
      }
    }

    .url-filters-block {
      font-size: 12.8px;

      .cove-icon {
        margin: 0 0.5rem;
      }

      .url-value-label {
        margin: 0 1em;
      }

      label {
        margin-top: 1em;
        display: inline-block;
        width: 100%;
      }
    }

    .url-source-options,
    .data-source-options {
      display: grid;
      grid-template-columns: 1fr 100px;
      gap: 10px;
      margin-bottom: 20px;

      .btn {
        margin: 0;
      }

      .cdcdataviz-file-selector.loaded-file {
        font-size: 0.9em;
        padding: 0.4rem 3rem;
        svg {
          position: relative;
          top: 4px;
          width: 1em;
          height: 1em;
          margin: 0;
        }
      }
    }
    .data-source-options {
      align-items: center;
    }
  }
  .right-col {
    position: relative;
    background-color: $lightest-gray;
    padding: $gbl-padding;
    width: 50% !important;
  }
}
