@import 'variables';

.cdc-editor .data-formatter {
    @import "data-table";
    display: flex;

    .left-col {
        background: #fff;
        padding-top: $gbl-padding;
        padding-bottom: $gbl-padding;
        width: 33.333%;
        border-right: $lightGray 1px solid;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        margin-top: 3rem;
        z-index: 1;
    }
    
    .right-col {
        position: relative;
        background-color: $lightest-gray;
        padding: $gbl-padding;
        flex-grow: 1;
        max-width: 66.667%;
    }

    &::before {
        content: " ";
        flex-shrink: 0;
        width: 33.33%; // Space pseudo element
    }
}