@import "_variables";

$light-yellow: #fde0b5;
$dark-yellow: #f59a23;

.cdc-editor .data-designer {
    .data-loader {
        padding-top: $gbl-padding;
        padding-bottom: $gbl-padding;

        .form-control {
            height: 2.65em;
        }

        .btn {
            padding-left: $gbl-padding;
            padding-right: $gbl-padding;
        }
        .tabs {
            .nav-item {
                display: flex;
                justify-content: center;
                list-style: none;
                cursor: pointer;
                padding: .6rem 0;
                svg {
                    margin-right: .3em;
                }
                &.active {
                    color: $white;
                    background: $baseColor;
                }
            }
        
            .tab-content {
                padding-top: $gbl-padding;
                border-top: 1px solid $baseColor;
            }
        }
    }

    .data-import-preview {
        padding-top: $gbl-padding;
        padding-bottom: $gbl-padding;
        background-color: $lightest-gray;
        .table-responsive {
            max-height: 70vh;
        }

        table {
            width: 100%;
            th {
                padding: $table-padding;
                border: solid 1px $light-gray;
                background: $lighter-gray;
                color: black;
                font-weight: bold;
    
                &:empty {
                    background: $light-yellow;
                    border-color: $dark-yellow;
                    border-width: medium;
                }
            }
        
            td {
                padding: $table-padding;
                border: solid 1px $light-gray;
                background: $white;
            }
    
            .index-col,
            tbody th {
                // width: 60px;
                font-size: size(14);
                text-align: center;
            }
    
            &.table-empty {
                filter: blur(2px);
            }
        }

        .overlay-empty {
            position: absolute;
            z-index: 2;
            text-shadow: 0 0 5px rgba(0,0,0,0.1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 1.5em;
            background: rgba($lightest-gray, 0.75);
            text-align: center;
            padding-top: 20%;
            
        }
    }

    .loaded {
        .upload-file-btn {
            display: none;
        }
    }

    .not-loaded {
        .loader-ui {
            display: none;
        }
    }

    .custom-file {
        height: calc(1.5em + 0.75rem + 6px) !important;
    
        label {
            height: 42px;
            line-height: 1.75;
    
            &:after {
                opacity: 0;
            }
        }
    }

    .data-error.alert-warning{
        background: $light-yellow;
    }
}