@import "~bootstrap/scss/bootstrap";
@import "@cdc/core/styles/base";
@import 'variables';
@import "bootstrap";

.cdc-editor {
  .dropdown {
    display: block;
    width: 100%;
    
    nav {
      display: none;

      button {
        display:block;
      }
    }

    &:focus-within nav {
      display: block
    }
  }
}