@import 'variables';

.cdc-open-viz-module.cdc-editor {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  .tabs {
    nav {
      display: flex;
    }
    .nav-item {
      user-select: none;
      cursor: pointer;
      &.disabled {
        cursor: not-allowed;
      }
      &.active {
        cursor: default;
      }
    }
  }
  // Top level tabs
  .top-level {
    position: absolute;
    width: 100%;
    z-index: 10;
    ul {
      display: flex;
      list-style: none;
      li {
        background: #f2f2f2;
        line-height: 3rem;
        border-bottom: 1px solid var(--lightGray);
        color: #333;
        flex-grow: 1;
        flex-shrink: 0;
        width: 25%;
        border-right: 1px solid var(--lightGray);
        text-align: center;
        &:last-child {
          border-right: none;
        }
        &.active {
          background-color: #565656;
          color: #fff;
        }
      }
    }
  }
  > .tab-content {
    flex-grow: 1;
    margin-top: 3rem;
    position: relative;
  }
  .dropdown {
    display: block;
    width: 100%;

    nav {
      display: none;

      button {
        display: block;
      }
    }

    &:focus-within nav {
      display: block;
    }
  }
  .info-box {
    border: var(--lightGray) 1px solid;
    padding: 1rem;
    font-size: 0.9rem;
    h4 {
      font-weight: 600;
      font-size: 1.2em;
    }
    ul {
      padding: inherit;
    }
  }

  .alert--info {
    color: #004085;
    background-color: #cce5ff;
    padding: 0.75em 1em;
    margin: 1em 0;
    font-size: 0.8em;
    border: #b8daff 1px solid;
    border-radius: 0.4em;
  }

  .link.link-upload {
    display: block;
    color: #005eaa;
    background: unset;
    padding-left: unset;
    margin-top: 0.3rem;
    color: #005eaa;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
  }

  .link.link-replace {
    display: block;
    color: #005eaa;
    background: unset;
    padding-left: unset;
    margin-top: 0.2rem;
    color: #005eaa;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
  }

  .value-list {
    list-style: none;
    border: #c7c7c7 1px solid;
    margin-bottom: 2em;

    li {
      padding: 0.3em 0.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9em;

      button {
        padding: 0 4px;
        font-size: 1.125rem;
        color: red;
        cursor: pointer;
      }
    }

    li + li {
      border-top: #c7c7c7 1px solid;
    }
  }
}

// Modal
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 500;
  backdrop-filter: blur(2px);
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  width: inherit;
  outline: 0;
  font-family: sans-serif;

  .modal {
    z-index: 100;
    background: #fff;
    position: relative;
    margin: auto;
    border-radius: 8px;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    box-shadow: rgb(0 0 0 / 20%) 3px 3px 7px;
    line-height: 1.4em;
    padding: 16px 20px;
    overflow: hidden;
  }

  .modal-header {
    justify-content: space-between;
    padding: 0.3rem 0 0 0;
  }

  .modal-close {
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
    width: 1em;
  }

  .confirmation-buttons {
    text-align: right;
  }

  // todo import global style
  .btn {
    background: #005eaa;
    color: #fff;
    border: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
    display: block;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;

    &.btn-inline {
      display: inline-block;
      margin: 10px 0 0 10px;
    }
  }
}

section.footnotes {
  border-top: 1px solid #ddd;
  margin-top: 70px;
  padding: 15px;
}
