@import '../../../core/styles/variables';

&.theme-blue {
  .bite-value {
    color: $primary;
  }
}

&.theme-purple {
  .bite-value {
    color: $purple-primary;
  }
}

&.theme-amber {
  .bite-value {
    color: $amber-primary;
  }
}

&.theme-orange {
  .bite-value {
    color: $orange-primary;
  }
}

&.theme-brown {
  .bite-value {
    color: $brown-primary;
  }
}

&.theme-teal {
  .bite-value {
    color: $teal-primary;
  }
}

&.theme-pink {
  .bite-value {
    color: $pink-primary;
  }
}

&.theme-slate {
  .bite-value {
    color: $slate-primary;
  }
}

&.theme-indigo {
  .bite-value {
    color: $indigo-primary;
  }
}

&.theme-cyan {
  .bite-value {
    color: $cyan-primary;
  }
}

&.theme-green {
  .bite-value {
    color: $green-primary;
  }
}

// TODO after v2 refactor remove header reference colors
// Use .font-color/.bg-color, etc. in color definitions or something similar
// Remove box shadows if we're no longer using them
.sidebar + .cove-component__content .bite-content-container:not(.component--hide-background-color) {
  margin: 3em auto 0;
  max-width: 35em;
}

.sidebar + .cove-component__content .bite-content-container:not(.component--hide-background-color) {
  background-color: white;
}

.cove-component__content {
  // Visual: Shadow
  &.shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
  }

  .cove-component__inner {
    padding: 1rem !important;
  }

  // General: Bite Style > Graphic
  &.bite__style--graphic {
    .bite-content {
      flex: 1;
    }
  }

  // General: Bite Style > End
  &.bite__style--end .bite-text {
    margin-bottom: 0 !important;
  }

  // General: Bite Style > Split
  &.bite__style--split {
    .bite-content {
      flex-direction: row !important;
    }
    .bite-value {
      flex-basis: 25%;
      align-self: center;
      text-align: center;
    }
    .bite-content__text-wrap {
      flex: 75% !important;
    }
  }

  // General: Compact View
  &.bite--isCompactStyle .bite .cove-component__content .bite-content {
    align-items: center;
    p.bite-text {
      margin-bottom: 0;
    }
  }

  &.bite--isCompactStyle .bite .cove-component__content {
    align-items: center;
  }

  .cove-component__header + .bite {
    border-top: 0;
  }
  .bite {
    position: relative;
    overflow: hidden;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &-header {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .bite-content-container.component--hideBackgroundColor {
      background: transparent;
    }

    &.no-borders {
      border: none;
    }

    &-content__text-wrap {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &.theme-blue {
      .bite-value {
        color: $primary;
      }
    }

    &.theme-purple {
      .bite-value {
        color: $purple-primary;
      }
    }

    &.theme-amber {
      .bite-value {
        color: $amber-primary;
      }
    }

    &.theme-orange {
      .bite-value {
        color: $orange-primary;
      }
    }

    &.theme-brown {
      .bite-value {
        color: $brown-primary;
      }
    }

    &.theme-teal {
      .bite-value {
        color: $teal-primary;
      }
    }

    &.theme-pink {
      .bite-value {
        color: $pink-primary;
      }
    }

    &.theme-slate {
      .bite-value {
        color: $slate-primary;
      }
    }

    &.theme-indigo {
      .bite-value {
        color: $indigo-primary;
      }
    }

    &.theme-cyan {
      .bite-value {
        color: $cyan-primary;
      }
    }

    &.theme-green {
      .bite-value {
        color: $green-primary;
      }
    }

    h3 {
      margin: 0;
      font-size: 1em;
    }

    .bite-image {
      width: 100%;
      min-width: 100px;
      align-self: center;
      border-radius: 0.3em;
    }

    .cove-component__content {
      display: flex;
      padding: 1em !important;
      justify-content: space-between;

      .bite-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .bite-value {
          font-size: 2em;
          font-weight: 800;
          line-height: 1.25em;
        }

        .data-bite-body {
          margin-right: 5px;
        }

        .bite-text {
          margin-bottom: 15px;
          color: #222;
        }

        .bite-subtext {
          font-size: 0.9em;
          font-style: italic;
          flex-basis: 100%;
          width: 100%;
          align-self: flex-end;
        }
      }
    }

    .callout {
      flex-shrink: 0;
    }

    &.bite-left .callout {
      width: 33%;
      margin-right: 1.5em;
    }

    &.bite-right {
      .callout {
        width: 33%;
        margin-left: 1.5em;
      }
      .cove-component__content {
        flex-direction: row-reverse;
      }
    }

    &.bite-top {
      .cove-component__content {
        flex-direction: column;

        .bite-image {
          margin: 0 0 0.6em 0;
        }

        .circle-callout {
          margin: 0 auto;
          max-width: 75%;
        }

        > :nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }

    &.bite-bottom {
      .cove-component__content {
        flex-direction: column;

        .bite-image {
          margin: 0;
        }

        .circle-callout {
          margin: 0 auto;
          max-width: 75%;
        }

        > :nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }

    &.bite-back {
      .cove-component__content {
        .bite-image {
          border-radius: 0 0 0.3em 0.3em;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    // General: Compact View
    &.bite--isCompactStyle .bite .cove-component__content .bite-content {
      align-items: center;
      p.bite-text {
        margin-bottom: 0;
      }
    }

    &.bite--isCompactStyle .bite .cove-component__content {
      align-items: center;
    }

    .cove-component__header + .bite {
      border-top: 0;
    }
  }
}

.cove-component__content {
  background: $lightestGray;

  &:not(.no-borders) {
    border-color: $lightGray;
    border-width: 1px;
    border-style: solid;
  }
}
