@import "../../../core/styles/variables";

.cdc-data-bite-inner-container {

  .bite {
    border-radius: .3em;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
    position: relative;
    overflow: hidden;
    border: solid 1px #ccc;
    border-top: none;
    background: $lightestGray;

    .bite-header {
      width: 100%;
      padding-left: 0.7em;
      left: 0;
      top: 0;
      line-height: 2.2em;
      color: white;
      &:empty {
        min-height: 5px;
      }
    }

    &.theme-blue {
      .bite-value {
        color: $primary;
      }

      .bite-header {
        background-color: $primary;
      }
    }

    &.theme-purple {
      .bite-value {
        color: $purple-primary;
      }
      .bite-header {
        background-color: $purple-primary;
      }
    }

    &.theme-amber {
      .bite-value {
        color: $amber-primary;
      }
      .bite-header {
        background-color: $amber-primary;
      }
    }

    &.theme-orange {
      .bite-value {
        color: $orange-primary;
      }
      .bite-header {
        background-color: $orange-primary;
      }
    }

    &.theme-brown {
      .bite-value {
        color: $brown-primary;
      }
      .bite-header {
        background-color: $brown-primary;
      }
    }

    &.theme-teal {
      .bite-value {
        color: $teal-primary;
      }
      .bite-header {
        background-color: $teal-primary;
      }
    }

    &.theme-pink {
      .bite-value {
        color: $pink-primary;
      }
      .bite-header {
        background-color: $pink-primary;
      }
    }

    &.theme-slate {
      .bite-value {
        color: $slate-primary;
      }
      .bite-header {
        background-color: $slate-primary;
      }
    }

    &.theme-indigo {
      .bite-value {
        color: $indigo-primary;
      }
      .bite-header {
        background-color: $indigo-primary;
      }
    }

    &.theme-cyan {
      .bite-value {
        color: $cyan-primary;
      }
      .bite-header {
        background-color: $cyan-primary;
      }
    }

    &.theme-green {
      .bite-value {
        color: $green-primary;
      }
      .bite-header {
        background-color: $green-primary;
      }
    }

    &.theme-purple {
      .bite-value {
        color: $purple-primary;
      }
      .bite-header {
        background-color: $purple-primary;
      }
    }

    h3 {
      margin: 0;
      font-size: 1em;
    }

    .bite-image {
      min-width: 100px;
      width: 100%;
      border-radius: .3em;
      opacity: .7;
    }

    p.subtext {
      font-style: italic;
      font-weight: bold;
      font-size: 0.75em;
      padding: 0 1em 1em;
    }

    .bite-content-container {
      display: flex;
      padding: 1em 1em;
      justify-content: space-between;
      .bite-content {

        .bite-value {
          font-size: 2em;
          font-weight: 800;
          line-height: 1.25em;
        }

        .data-bite-body {
          margin-right: 5px;
        }

        p {
          margin: 0;
          font-size: .7em;
          color: #222;
        }

        p.subtext {
          margin-top: 15px;
        }
      }
    }

    &.bite-left .bite-content-container > :nth-child(1) {
      width: 39%;
    }

    &.bite-left .bite-content-container > :nth-child(2) {
      width: 59%;
    }

    &.bite-right .bite-content-container > :nth-child(1) {
      width: 39%;
    }

    &.bite-right .bite-content-container > :nth-child(2) {
      width: 59%;
    }

    &.bite-right {
      .bite-content-container {
        flex-direction: row-reverse;
      }
    }

    &.bite-top {
      .bite-content-container {
        flex-direction: column;

        .bite-image {
          margin: 0 0 0.6em 0;
        }

        > :nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }

    &.bite-bottom {
      .bite-content-container {
        flex-direction: column;

        .bite-image {
          margin: 0 0 0 0;
        }

        > :nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }

    &.bite-back {
      .bite-content-container {
        .bite-image {
          border-radius: 0 0 0.3em 0.3em;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .cdc-data-bite-inner-container {
    .bite {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .cdc-data-bite-inner-container {
    .bite {
      box-shadow: none;
    }
  }
}