.cdc-data-bite-inner-container {

  .bite {
    background: #eee;
    padding: 2.8em 1em .6em .6em;
    border-radius: .3em;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
    border: solid 1px #ccc;
    position: relative;
    overflow: hidden;

    .bite-header {
      position: absolute;
      height: 2.2em;
      width: 100%;
      padding-left: 0.7em;
      left: 0;
      top: 0;
      line-height: 2.2em;
      color: white;
    }

    h3 {
      margin: 0;
      font-size: 1em;
    }

    .bite-image {
      min-width: 100px;
      height: 100px;
      border-radius: .3em;
      opacity: .7;
      margin: 0 .6em 0 0;
    }

    .bite-content-container {
      display: flex;

      .bite-content {
        flex-grow: 1;

        p {
          margin: 0;
          font-size: .7em;
          color: #222;
        }
      }
    }

    &.bite-right {
      .bite-content-container {
        flex-direction: row-reverse;

        .bite-image {
          margin-right: 0px;
          margin-left: 0.6em;
        }
      }
    }

    &.bite-top {
      .bite-content-container {


        .bite-image {
          margin: 0 0 0.6em 0;
        }
      }
    }

    &.bite-bottom {
      .bite-content-container {
        flex-direction: column;

        .bite-image {
          margin: 0.6em 0 0 0;
        }
      }
    }

    &.bite-back {
      .bite-content-container {
        .bite-image {
          border-radius: 0 0 0.3em 0.3em;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .cdc-data-bite-inner-container {
    .bite {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .cdc-data-bite-inner-container {
    .bite {
      box-shadow: none;
    }
  }
}