.cdc-open-viz-module.type-data-bite {
  @import 'bite';

  .tooltip {
    background-color: #fff;
    border: rgba(0, 0, 0, 0.3) 1px solid !important;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 7px;
    line-height: 1.4em;
    font-size: 1em !important;
    border-radius: 4px !important;
    padding: 8px 12px !important;
    opacity: 1;
  }
}
