@import '@cdc/core/styles/base';
@import '@cdc/core/styles/heading-colors';
@import '@cdc/core/styles/v2/themes/color-definitions';
@import 'variables';

.cdc-open-viz-module.type-data-bite {
  @import 'bite';
  // @import 'editor-panel';
  .visually-hidden {
    position: fixed;
    left: -10000px;
  }

  .checkbox-group {
    padding: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .loader {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: spin 1s linear infinite;

    &::before {
      content: '\21BB';
    }
  }

  .btn {
    background: #005eaa;
    color: #fff;
    border: 0;
    padding: 0.4em 0.8em;
    display: block;
    border-radius: 5px;
    transition: 0.1s all;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      z-index: -1;
      position: relative;
    }
  }

  .warning-icon {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-left: 5px;

    path {
      fill: #d8000c;
    }
  }

  .tooltip {
    background-color: #fff;
    border: rgba(0, 0, 0, 0.3) 1px solid !important;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 7px;
    line-height: 1.4em;
    font-size: 1em !important;
    border-radius: 4px !important;
    padding: 8px 12px !important;
    opacity: 1;
  }

  &.font-small .bite-content-container {
    font-size: 0.9em !important;
  }
  &.font-large .bite-content-container {
    font-size: 1.1em !important;
  }
  // Medium is just the default
}
