@import "@cdc/core/styles/base";

@mixin legendDot() {
  margin-right: 5px;
  border-radius: 300px;
  vertical-align: middle;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: rgba(0,0,0,.3) 1px solid;
}

.cdc-map-outer-container {
  @import "scss/loading";
  @import "scss/variables";
  @import "scss/heading_colors";

  position: relative;
  font-family: $fontStack;
  display: flex; // Needed for the main content
  font-size: 14px;
  @include breakpoint(lg) {
    font-size: 16px;
  }

  @import "scss/editor";
  @import "scss/main";
}