@import "variables";

.cdc-editor .data-designer {
  display: flex;
  justify-content: flex-end;

  .left-col {

    .data-question {
      margin-bottom: .5em;
    }

    .question {
      margin-bottom: 1em;
    }

    .table-button-container {
      display: flex;
      justify-content: space-between;

    }

    .table-button {
      width: 49%;
      border: 1px solid $lightGray;
      border-radius: .3em;
      background-color: $lightest-gray;
      padding: .75em;
      cursor: pointer;

      strong {
        font-weight: bold;
      }

      &.active {
        border: 2px solid #005eaa;
      }

      p {
        font-size: .8em;
        margin-bottom: 1em;
      }

      table + table {
        margin-top: 1em;
      }

      table {
        font-size: .8em;
        background-color: #fff;
        border: 1px solid $lightGray;
        border-collapse: collapse;
        margin: auto;

        th {
          background-color: $primary;
          color: white;
          text-align: left;
        }

        th, td {
          border-top: 1px solid $lightGray;
          border-bottom: 1px solid $lightGray;
          padding: 0 5px;
        }
      }
    }

    .keep-url {
      font-size: .8rem;
      color: $mediumGray
    }

    .file-loaded-area {
      margin-bottom: 20px;
    }

    .url-source-options,
    .data-source-options {
      display: grid;
      grid-template-columns: 1fr 100px;
      gap: 10px;
      margin-bottom: 20px;

      .btn {
        margin: 0;
      }

      .cdcdataviz-file-selector.loaded-file {
        font-size: .9em;
        padding: .4rem 3rem;

        svg {
          position: relative;
          top: 4px;
          width: 1em;
          height: 1em;
          margin: 0;
        }
      }
    }

    .data-source-options {
      align-items: center;
    }
  }

  .right-col {
    position: relative;
    background-color: $lightest-gray;
    padding: $gbl-padding;
    width: 66.667%;
    @import "data-table";
  }
}
