.cdc-callout {
  --cdc-callout-background: var(--colors-cyan-10, #eff9fa);
  --cdc-callout-border-color: var(--colors-cyan-15, #dff2f6);
  --cdc-callout-border-radius: 0.25rem;
  --cdc-callout-padding: 1.25rem;
  --cdc-callout-shadow: 0 2px 4px rgb(159 159 159 / 10%);

  background: var(--cdc-callout-background);
  border: 1px solid var(--cdc-callout-border-color);
  border-radius: var(--cdc-callout-border-radius);
  box-shadow: var(--cdc-callout-shadow);
  margin: 0;
  padding: var(--cdc-callout-padding);
  position: relative;
}

.cdc-callout .cdc-callout__flag {
  height: auto;
  position: absolute;
  right: 1.08rem;
  top: -0.36rem;
  width: 1.84rem;
}
