// Bootstrap5 margin/padding/font shims for Chronic pages still on TP4
// These are required because Chronic has pages that still use TP4 and these Bootstrap5 margin classes aren't defined on those pages
.cdc-open-viz-module {
  .me-0 { margin-right: 0 !important; }
  .me-1 { margin-right: 0.25rem !important; }
  .me-2 { margin-right: 0.5rem !important; }
  .me-3 { margin-right: 1rem !important; }
  .me-4 { margin-right: 1.5rem !important; }
  .me-5 { margin-right: 3rem !important; }
  .me-auto { margin-right: auto !important; }
  .ms-0 { margin-left: 0 !important; }
  .ms-1 { margin-left: 0.25rem !important; }
  .ms-2 { margin-left: 0.5rem !important; }
  .ms-3 { margin-left: 1rem !important; }
  .ms-4 { margin-left: 1.5rem !important; }
  .ms-5 { margin-left: 3rem !important; }
  .ms-auto { margin-left: auto !important; }
  .pe-0 { padding-right: 0 !important; }
  .pe-1 { padding-right: 0.25rem !important; }
  .pe-2 { padding-right: 0.5rem !important; }
  .pe-3 { padding-right: 1rem !important; }
  .pe-4 { padding-right: 1.5rem !important; }
  .pe-5 { padding-right: 3rem !important; }
  .pe-auto { padding-right: auto !important; }
  .ps-0 { padding-left: 0 !important; }
  .ps-1 { padding-left: 0.25rem !important; }
  .ps-2 { padding-left: 0.5rem !important; }
  .ps-3 { padding-left: 1rem !important; }
  .ps-4 { padding-left: 1.5rem !important; }
  .ps-5 { padding-left: 3rem !important; }
  .ps-auto { padding-left: auto !important; }
  .fw-bold { font-weight: 700 !important; }
}

.cove-component {
  border-radius: 3px;
}

.cove-component__content {
  border: solid 1px #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;

  &.no-borders {
    border: none !important;
  }

  .cove-component__content:not(.component--hideBackgroundColor) {
    background: var(--lightestGray);
  }
}

.cove-component__content-wrap {
  padding: 0 1rem 1rem;
}
