//# Must be loaded outside of Tooltip component for animation availability

.cove-tooltip {
  position: relative;
}

.cove-tooltip--target {
  cursor: pointer;
}

.cove-tooltip__content {
  max-width: 280px;
  padding: 10px 8px;
  text-align: left;
  font-size: 0.875rem;
  color: var(--cove-baseColor);
  background-color: var(--cove-white);
  border-radius: 5px;
  user-select: none;
  cursor: default;
  opacity: 0;

  &.place-top {
    &.has-shadow {
      box-shadow: var(--cove-shadow-tooltip-top);
    }

    &.show {
      animation: tooltip-btt 500ms cubic-bezier(0.16, 1, 0.3, 1) 50ms 1 forwards;
    }
  }

  &.place-right {
    &.has-shadow {
      box-shadow: var(--cove-shadow-tooltip-right);
    }

    &.show {
      animation: tooltip-ltr 500ms cubic-bezier(0.16, 1, 0.3, 1) 50ms 1 forwards;
    }
  }

  &.place-bottom {
    &.has-shadow {
      box-shadow: var(--cove-shadow-tooltip-bottom);
    }

    &.show {
      animation: tooltip-ttb 500ms cubic-bezier(0.16, 1, 0.3, 1) 50ms 1 forwards;
    }
  }

  &.place-left {
    &.has-shadow {
      box-shadow: var(--cove-shadow-tooltip-left);
    }

    &.show {
      animation: tooltip-rtl 500ms cubic-bezier(0.16, 1, 0.3, 1) 50ms 1 forwards;
    }
  }
}

.interactive {
  a {
    pointer-events: all;
  }
}

.cove-tooltip--border-0 {
  border-width: 0;
}

.cove-tooltip--border-1 {
  border-width: 1px;
}

.cove-tooltip--border-2 {
  border-width: 2px;
}

@keyframes tooltip-ltr {
  0% {
    opacity: 0;
    transform: translateX(-8px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tooltip-rtl {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tooltip-ttb {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tooltip-btt {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
