@mixin cove-visualization-body-padding {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;

  &.component--has-legacy-border,
  &.component--has-border-color-theme,
  &.component--has-background,
  &.component--has-accent {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  &.no-borders:not(.component--has-legacy-border):not(.component--has-border-color-theme):not(.component--has-background):not(.component--has-accent) {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
  }
}

@mixin cove-visualization-body-wrap-inline-padding {
  padding: 0;

  .cove-visualization__body.component--has-legacy-border &,
  .cove-visualization__body.component--has-border-color-theme &,
  .cove-visualization__body.component--has-background &,
  .cove-visualization__body.component--has-accent & {
    padding-inline: 1rem;
  }
}