.cdc-open-viz-module.markup-include {
  height: 100vh;
  .spacing-wrapper {
    background-color: var(--lightGray) !important;
  }
  .cove-tooltip-variable {
    position: relative;
    display: inline;
    background: var(--orange-tertiary);
    .cove-tooltip-value {
      display: none;
      position: absolute;
      background: var(--white);
      border: 1px solid black;
      padding: 10px;
      width: 100vw;
      max-width: 500px;
      z-index: 9999;
    }
  }
  .cove-tooltip-variable:hover > .cove-tooltip-value {
    display: block;
  }

  /* .sidebar + .cove-component__content .bite-content-container:not(.component--hide-background-color) { */
  .sidebar + .markup-include-component.cove-component__content {
    .markup-include-content-container {
      margin: 3em auto 0;
      max-width: 35em;
      min-height: 300px;
      height: fit-content;
    }
    .markup-include-content-container:not(.component--has-background) {
      background-color: white;
    }
  }
}
