.zoom-controls {
  bottom: 2em;
  display: flex;
  left: 1em;
  position: absolute;
  z-index: 4;
  > button.reset {
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    margin-left: 5px;
    transition: 0.2s all;
    &:hover {
      background: rgba(0, 0, 0, 0.8);
      transition: 0.2s all;
    }
    &:active {
      transform: scale(0.9);
    }
    &:focus {
      background: #005eaa;
    }
  }
  > button:not(.reset) {
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    border: 0;
    border-radius: 100%;
    color: #fff;
    display: flex;
    height: 1.75em;
    justify-content: center;
    padding: 0.2em;
    transition: 0.2s all;
    width: 1.75em;
    &:hover {
      background: rgba(0, 0, 0, 0.8);
      transition: 0.2s all;
    }
    &:active {
      transform: scale(0.9);
    }
    svg {
      height: 1.75em;
      width: 1.75em;
    }
    &:focus {
      background: #005eaa;
    }
  }
  > button:first-child {
    margin-right: 0.25em;
  }
}

.zoom-controls--top-right {
  bottom: auto;
  left: auto;
  right: 1em;
  top: 1em;
}

.zoom-controls--top-right > button.reset {
  background: #005eaa;
}

.zoom-controls--top-right > button.reset:hover,
.zoom-controls--top-right > button.reset:focus {
  background: #004b88;
}
