.shared-filter-modal__title,
.cdc-open-viz-module .shared-filter-modal__title,
.cove .shared-filter-modal__title {
  margin: unset;
}

.shared-filter-modal__fieldset,
.cdc-open-viz-module .shared-filter-modal__fieldset,
.cove .shared-filter-modal__fieldset {
  padding: unset;

  span.edit-label {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 2px;
    width: 100%;
  }

  label {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  h2 {
    margin: unset;
  }

  select {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.shared-filter-modal__right-buttons,
.cdc-open-viz-module .shared-filter-modal__right-buttons,
.cove .shared-filter-modal__right-buttons {
  float: right;
  overflow: auto;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.shared-filter-modal,
.cdc-open-viz-module .shared-filter-modal,
.cove .shared-filter-modal {
  .btn--submit,
  .btn--warn,
  .btn--cancel {
    border-radius: 3px;
  }
}
