.cdc-open-viz-module {
  .cdc-chart-inner-container .cove-component__content {
    padding: 25px 15px 25px 0 !important;
  }
  &.isEditor {
    overflow: auto;
    display: grid;
    transition: grid-template-columns 400ms ease-in-out;
    min-height: 100vh;

    .editor-panel__toggle {
      transition: left 400ms ease-in-out;
    }

    .sidebar {
      transition: left 400ms ease-in-out;
    }

    &.editor-panel--visible {
      grid-template-areas: 'panel content';
      grid-template-columns: 350px calc(100% - 350px);
      overflow: hidden;
    }

    &.editor-panel--hidden {
      grid-template-areas: 'panel content';
      grid-template-columns: 0px 100%;
    }

    .cove-editor__content,
    .cove-component__content {
      grid-area: content;
      position: relative;
      left: 0;
      width: 100% !important;
      grid-area: content;
    }
  }
}
