.cdc-open-viz-module.isEditor {
  $transitionSpeed: 400ms;

  overflow: auto;
  display: grid;
  transition: grid-template-columns $transitionSpeed ease-in-out;

  .editor-panel__toggle {
    transition: left $transitionSpeed ease-in-out;
  }

  .sidebar {
    transition: left $transitionSpeed ease-in-out;
  }

  &.editor-panel--visible {
    grid-template-areas: 'panel content';
    grid-template-columns: 350px calc(100% - 350px);
  }

  &.editor-panel--hidden {
    grid-template-areas: 'panel content';
    grid-template-columns: 0px 100%;
  }

  .cove-editor__content,
  .cove-component__content {
    grid-area: content;
    position: relative;
    left: 0;
    width: 100% !important;
    padding-left: 0px !important;
    grid-area: content;
  }
}
