@import '@cdc/core/styles/base';

.markup-include {
  .hide {
    display: none;
  }

  .checkbox-group {
    padding: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .cove-component__content-wrap {
    padding: 1rem;

    h1,
    h2,
    h3 {
      margin-top: 0;
    }

    p {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .cove-component__content {
    background-color: #f2f2f2;
    font-size: 14px;
  }
  .cove-component__content.component--hideBackgroundColor {
    background: transparent;
  }

  .cove-editor__content .cove-editor__content-wrap {
    margin: 0 auto;
  }

  .cove-editor .cove-editor__content {
    position: unset;
    left: unset;
    width: 100%;
  }
}

.cove-accordion__panel-section {
  overflow: auto;

  label {
    display: block;
    float: left;
  }
}
.cove-editor .cove-editor__content {
  padding-left: 350px;
  display: flex;
}
