@import '@cdc/core/styles/layout/wrapper-padding';

.cove-visualization.type-markup-include {
  .cove-visualization__body {
    @include cove-visualization-body-padding;
  }

  .cove-visualization__body-wrap {
    @include cove-visualization-body-wrap-inline-padding;

    h1,
    h2,
    h3 {
      margin-top: 0;
    }

    p {
      margin-top: auto;
      margin-bottom: auto;
    }

    // keep markup include images inlines on dashboards
    // e.g. requested to help here: https://www.cdc.gov/fluview/surveillance/2026-week-10.html
    // needed for backwards compatibility with existing dashboards, but also to prevent any future issues with images in markup include visualizations being forced to display as blocks
    span>img {
      display: inline;
    }
  }

  .cove-visualization__body.component--hide-background-color {
    background: transparent;
  }

  .cove-editor__content .cove-editor__content-wrap {
    margin: 0 auto;
  }

  .cove-editor .cove-editor__content {
    position: unset;
    left: unset;
    width: 100%;
  }
}

.cove-accordion__panel-section {
  overflow: auto;

  label {
    display: block;
    float: left;
  }
}

.cove-editor .cove-editor__content {
  padding-left: 350px;
  display: flex;
}