.cove .cove-component__content,
.cdc-open-viz-module .cove-component__content {
  padding: 1rem;
  border-radius: 0 0 3px 3px;
  // box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px; // no box shadows
}

.cove-component__content:not(.component--has-background) {
  background-color: #f2f2f2;
}

.cove-component__content.component--hideBackgroundColor {
  background: transparent;
}

.cove-component {
  border-radius: 3px;
  // box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px; // no box shadows
}

.cove-component__content.sparkline {
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}
