.sort-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  svg {
    fill: rgba(255, 255, 255, 0.5);
    height: 0.75rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 0.75rem;

    &.active {
      fill: white;
    }
  }

  svg.up,
  svg.down {
    margin: 0 !important;
  }
}
