.world {
  &.data .geography-container {
    border-bottom: var(--cove-lightGray) 1px solid;
  }
  .geography-container {
    cursor: move;
    flex-grow: 1;
    position: relative;
    width: 100%;
    .geo-point {
      transition: 0.3s all;
      circle {
        fill: inherit;
        transition: 0.1s transform;
      }
      &:hover {
        transition: 0.2s all;
      }
    }
    .map-logo {
      display: block;
      margin: 0 0 0 auto;
      max-height: 35px;
    }
  }
}


