$btn-radius: 6px;

.cdc-open-viz-module .btn-group {
  display: inline-flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 6px;
  background-color: transparent;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8px 14px;
    margin: 0;
    color: inherit;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: $btn-radius;
    user-select: none;
    align-self: stretch;
    flex: 1 0 auto;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: $btn-radius;
      box-shadow: none;
      transition: box-shadow 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      z-index: -1;
    }

    &:hover {
      background-color: #fff;

      &::before {
        box-shadow: 0 5px 12px -8px rgba(0, 0, 0, .5);
      }
    }

    &:first-of-type:not(:last-of-type) {
      border-radius: $btn-radius 0 0 $btn-radius;
    }

    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
      border-left: 0;
    }

    &:last-of-type:not(:first-of-type) {
      border-radius: 0 $btn-radius $btn-radius 0;
      border-left: 0;
    }
  }

  .btn__icon {
    display: inline;
    width: 18px;
    height: auto;
  }
}
