.cdc-open-viz-module .cdc-map-inner-container .filters-section,
.cove .cdc-map-inner-container .filters-section {

  &__title {
    margin: 15px 0;
  }

  &__wrapper {
    hr {
      margin-bottom: 20px;
    }

    label {
      display: inherit;
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 16px;
    }
  }

  @include breakpoint(md) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }


  label:not(:empty) {
    margin-right: 0.4em;
  }

  .single-filter {
    margin-bottom: 0.5em;
  }
}
