@import '@cdc/core/styles/utils/breakpoints';
@import 'editor-panel';
@import '@cdc/core/styles/utils/accessibility';
@import '@cdc/core/styles/layout/wrapper-padding';

.type-map--has-error {
  .waiting {
    display: flex;
    overflow: hidden !important;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
  }
}

.cdc-map-outer-container {
  position: relative;
  display: flex; // Needed for the main content

  .loading>div.la-ball-beat {
    margin-top: 20%;
  }

  @include breakpointClass(md) {
    .visualization-container.modal-background::before {
      border-bottom: var(--lightGray) 1px solid;
      margin-bottom: -1px;
      bottom: 1px;
    }
  }
}

.cdc-map-inner-container {
  @import './map';
  flex-grow: 1;
  border: 0;
  text-align: left;
  max-width: 100%;
  background-color: white;

  .cove-visualization__title,
  .cove-visualization__header {
    margin-bottom: 0 !important;
  }

  .cove-visualization__message-section {
    padding-bottom: var(--cove-visualization-section-gap, 1.5rem) !important;
  }

  .cove-visualization__body-wrap > :first-child {
    padding-top: var(--cove-visualization-section-gap, 1.5rem) !important;
  }

  .cove-visualization__body.cove-visualization__body--no-subtext > .cove-visualization__body-wrap > :last-child {
    padding-bottom: var(--cove-visualization-section-gap, 1.5rem) !important;
  }

  .cove-visualization__body-wrap > .cove-visualization__content-section + .cove-visualization__body-subtext-section,
  .cove-visualization__body-wrap > .cove-visualization__content-section + .cove-visualization__body-footer-section,
  .cove-visualization__body-wrap > .cove-visualization__body-subtext-section + .cove-visualization__body-footer-section,
  .cove-visualization__body > .cove-visualization__subtext-section {
    padding-top: var(--cove-visualization-section-gap, 1.5rem) !important;
  }

  &.theme-blue {
    --map-theme-color: #005eaa;
    --map-theme-bg: #d9ebf9;
  }

  &.theme-purple {
    --map-theme-color: #712177;
    --map-theme-bg: #f3e4f4;
  }

  &.theme-brown {
    --map-theme-color: #705043;
    --map-theme-bg: #f0e6e1;
  }

  &.theme-teal {
    --map-theme-color: #00695c;
    --map-theme-bg: #d9f2ef;
  }

  &.theme-pink {
    --map-theme-color: #af4448;
    --map-theme-bg: #fde7e8;
  }

  &.theme-orange {
    --map-theme-color: #bb4d00;
    --map-theme-bg: #fff0dd;
  }

  &.theme-slate {
    --map-theme-color: #29434e;
    --map-theme-bg: #e3e8ea;
  }

  &.theme-indigo {
    --map-theme-color: #26418f;
    --map-theme-bg: #e5eaf8;
  }

  &.theme-cyan {
    --map-theme-color: #007b91;
    --map-theme-bg: #dff3f7;
  }

  &.theme-green {
    --map-theme-color: #4b830d;
    --map-theme-bg: #e8f3dc;
  }

  &.theme-amber {
    --map-theme-color: #fbab18;
    --map-theme-bg: #fff6da;
  }

  .cove-visualization__body {
    @include cove-visualization-body-padding;

    &:not(.no-borders) {
      border: 1px solid var(--lightGray);
    }

    &.component--has-border-color-theme:not(.no-borders) {
      border-color: var(--map-theme-color, var(--lightGray));
    }

    &.component--has-accent {
      border-left: 0.5rem solid var(--map-theme-color, var(--blue));
    }

    &.component--has-background:not(.component--hide-background-color) {
      background-color: var(--map-theme-bg, var(--lightestGray));
    }

    &.component--hide-background-color {
      background-color: transparent;
    }
  }

  header.hidden {
    display: none;
  }

  .no-border {
    border: 0;
  }

  .visualization-container {
    display: flex;
    position: relative;
    flex-direction: column;

    &.bottom {
      flex-direction: column;
      row-gap: var(--cove-visualization-section-gap, 1.5rem);

      > .legends {
        margin-top: var(--cove-visualization-section-gap, 1.5rem) !important;
      }
    }

    &.top {
      flex-direction: column-reverse;
      row-gap: var(--cove-visualization-section-gap, 1.5rem);
    }

    &.modal-background {
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 7;
      }

      .modal-content {
        background: #fff;
        position: absolute;
        z-index: 8;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 16px 40px;
        min-width: 250px;
        width: auto;
        max-height: 90vh;
        /* Constrain the modal's height to 90% of the viewport */
        overflow-y: auto;
        /* Enable vertical scrolling if content overflows */
        font-size: 1rem;
        line-height: 1.4em;
      }

      .modal-content .content {
        flex-grow: 1;
      }

      .modal-content .legend-item {
        margin-right: 0.75em;
        margin-top: 3px;
        flex-shrink: 0;
      }

      .modal-content strong {
        font-weight: 600;
        font-size: 1.2em;
      }

      .modal-content .modal-close {
        position: absolute;
        right: 20px;
        top: 18px;
        cursor: pointer;
        width: 1em;
      }

      .modal-content a.navigation-link {
        text-decoration: underline;
        cursor: pointer;
        color: #075290;
        display: flex;
      }

      .modal-content a.navigation-link svg {
        display: inline-block;
        max-width: 13px;
        margin-left: 0.5em;
      }

      /* Responsive adjustments for smaller screens */
      @media (max-width: 1048px) {
        .modal-content {
          width: 90%;
          /* Adjust width to fit smaller screens */
          top: 10%;
          /* Offset from the top for better usability */
          transform: translate(-50%, 0);
          /* Remove vertical centering */
        }
      }
    }
  }

  .visualization-container.legend-wrapped-bottom > .legends,
  .legends.legend-wrapped-bottom {
    margin-top: var(--cove-visualization-section-gap, 1.5rem) !important;
  }

  p.subtext {
    em {
      font-style: italic;
    }

    strong {
      font-weight: bold;
    }
  }

  span.legend-item {
    border-radius: 300px;
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
    min-width: 1em;
    min-height: 1em;
    max-width: 1em;
    max-height: 1em;
    border: rgba(0, 0, 0, 0.3) 1px solid;
  }

  .navigation-menu {
    background: #fff;
    position: relative;
    line-height: 1.3em;
    padding: 1em;
    z-index: 6;
    width: 100%;
    border-top: var(--lightGray) 1px solid;

    label {
      flex-grow: 1;

      >div.select-heading {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 0.75em;
      }
    }

    form {
      max-width: 400px;
      display: flex;
      align-items: flex-end;
    }

    select {
      font-size: 1.2em;
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }

    input {
      color: #fff;
      font-weight: 700;
      padding: 0.4em 0.65em;
      font-size: 0.9em;
      border: 0;
      display: inline-block;
      border-radius: 7px;
      margin-left: 0.5em;
      cursor: pointer;
    }
  }

  [tabIndex]:focus {
    outline-color: rgb(0, 95, 204);
  }
}
