@include breakpointClass(md) {
  // Data Specific
  .map-container.data {
    &.side {
      flex-direction: row;
    }
  }
  .map-container.map {
    &.side {
      flex-direction: row;
    }
  }
  // Bubble Specific
  .map-container.bubble {
    &.side {
      flex-direction: row;
    }
  }

  .map-container.us-geocode {
    &.side {
      flex-direction: row;
    }
  }
}

$small: 500px;
$medium: 768px;

.single-geo {
  transition: 0.2s fill;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.territories-label {
  font-size: 0.8rem;
  font-weight: 700;
}

@include breakpointClass(sm) {
  .territories-label {
    font-size: 1rem;
  }
}

// Cities and Territories
.territories {
  gap: 0.5em;
  svg {
    max-width: 30px;
    min-width: 30px;
    transition: 0.3s all;

    text {
      font-size: var(--territory-label-font-size);
      font-weight: 900;
      @include breakpointClass(sm) {
        font-size: var(--territory-label-font-size-mobile);
      }
    }
  }
}

@include breakpointClass(sm) {
  .zoom-controls > button:not(.reset) {
    height: 2.5em;
    width: 2.5em;
    svg {
      height: 2.5em;
      width: 2.5em;
    }
  }
  .territories {
    svg {
      max-width: 45px;
    }
  }
}

.state {
  &--inactive:hover path {
    cursor: pointer;
    transition: fill 0.5s;
  }
}

.county--path {
  fill: white;
}

.btn--reset {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}


.county-borders {
  fill: none;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

canvas {
  width: 100%;
}

.county-map-canvas + .tooltip {
  position: fixed;
  background-color: white;
  pointer-events: none;
  display: none;
}
