.map-container.world aside.side {
  border-top: 0;
}
@include breakpointClass(md) {
  .map-container.world aside.side {
    border-top: $lightGray 1px solid;
    position: absolute;
  }
}

aside {
  background-color: #fff;
  z-index: 6;
  border-top: $lightGray 1px solid;
  @include breakpointClass(md) {
    &.bottom {
      margin: 0 1em;
      border: #c2c2c2 1px solid;
    }
    &.side {
      z-index: 1;
      box-sizing: content-box;
      max-width: 450px;
      margin-right: 1em;
      margin-top: 2em;
      margin-bottom: 2em;
      align-self: flex-start;
      z-index: 4;
      right: 1em;
      border: $lightGray 1px solid;
      box-shadow: rgba(0, 0, 0, 0.2) 0 10px 18px;
      width: 50%;
      margin-right: 1rem;
      top: 2em;
      right: 1em;
    }
  }
  @include breakpointClass(lg) {
  }

  .legend-section {
    padding: 1em;
    position: relative;
    .heading-2 {
      font-size: 1.3em;
      padding-bottom: 0;
      display: inline-block;
    }
    .heading-2 + p, .heading-2 + ul, p + ul, p + p {
      padding-top: 1em;
    }
    .clear {
      font-size: .8em;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      right: 1em;
      background: rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      transition: .3s all;
      padding: .375em .65em;
      &:hover {
        background: rgba(0,0,0,.15);
        transition: .3s all;
      }
    }
    p {
      line-height: 1.4em;
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        flex-shrink: 0;
        display: inline-block;
        padding-right: 1em;
        padding-bottom: 1em;
        vertical-align: middle;
        transition: .1s opacity;
        display: flex;
        align-items: center;
        &.single-legend {
          cursor: pointer;
        }
        .color {
          flex-shrink: 0;
          @include legendDot;
        }
        &.disabled {
          opacity: .4;
        }
      }
    }
  }

  @include breakpointClass(sm) {
    .legend-section ul {
      align-items: flex-start;
      justify-content: space-between;
      li {
        width: 48%;
        padding-right: .5em;
        &:nth-last-of-type(-n+2) {
          padding-bottom: 0
        }
      }
      &.single-column {
        flex-direction: column;
        padding-right: 3em;
        li {
          width: 100%;
          &:nth-last-of-type(-n+2) {
            padding-bottom: 1em;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .filters-section {
    padding: 0 1em .5em;
    .heading-3 {
      font-weight: bold;
      margin-bottom: .5em;
    }
    form {
      line-height: 2em;
    }
    form section {
      display: inline-block;
    }
    label:not(:empty) {
      margin-right: .4em;
    }
    select {
      font-size: 1em;
      margin-right: 1em;
    }
  }
}
