/* Tooltip Styles - overrides some default ones provided by <ReactTooltip /> */
.tooltip {
  opacity: 1 !important;
  border: rgba(0,0,0,.3) 1px solid;
  box-shadow: rgba(0,0,0,.1) 3px 3px 7px;
  opacity: 1;
  line-height: 1.4em;
  font-size: 1em;
  border-radius: 4px;
  padding: 8px 12px;
  z-index: 1;

  &:before, &:after {
    display: none;
  }

  &.capitalize dl {
    text-transform: capitalize;
  }

  [class*="styles-module_arrow"] {
    border-left: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
  }

  dl dt:not(:empty)::after {
    content: ":\00a0";
  }

  dl > div {
    display: flex;
  }

  strong {
    font-weight: 600;
  }
}
