@import "../../themes/theme-colors";

.cove-input {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0.5em 0.5em;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
  font-size: 0.875rem;
  color: $baseColor;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcbcb;
  border-radius: 0.1875rem;
  transition: border-color 200ms $transition-expo-out;

  &::placeholder {
    color: #b3b3b3;
    transition: opacity 400ms $transition-expo-out;
    opacity: 1;
  }

  &:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #4c4c4c;
    outline: 0;

    &::placeholder {
      opacity: 0;
    }
  }

  &[disabled] {
    background-color: #e4e4e4;
  }

  &.input--small {
    padding: 0;
  }

  @at-root {
    .cove-list-group #{&} {
      font-size: 0.75rem;
      margin-bottom: 0;
    }
  }
}

.cove-input--error {
  color: #d13442;
  background-color: #f8d7da;
  border-color: #d13442;
}

.cove-input--textarea {
  width: 100%;
  max-width: 100%;
  min-height: 140px;
  line-height: 1.5em;
  color: $baseColor;
}

.cove-input--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -999;
}
