@import "../../utils/variables.scss";

.cove-input__toggle-group {
  display: block;
  margin-bottom: 1.5rem;

  .cove-label {
    display: block;
  }

  &[flow="left"],
  &[flow="right"] {
    display: flex;
    align-items: center;

    .cove-label {
      display: inline-block;
      margin-bottom: 0;
    }

    .cove-input__toggle-group__label {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &[flow="left"] {
    .cove-input__toggle-group__label {
      margin-right: 0.5rem;

      &[data-has-tooltip="true"] {
        margin-right: 1.5rem;
      }
    }
  }

  &[flow="right"] {
    .cove-input__toggle-group__label {
      margin-left: 0.5rem;
    }
  }
}

.cove-input__toggle {
  display: inline-flex;
  flex-flow: row nowrap;
  position: relative;
  width: 30px;
  height: 14px;
  padding: 3px;
  cursor: pointer;
  z-index: 0;

  &.cove-input__toggle--active {
    .cove-input__toggle-spacer {
      flex-grow: 1
    }

    .cove-input__toggle-track {
      background-color: #75b936;
    }
  }

  &.cove-input__toggle--block {
    width: 30px;
    padding: 4px;
    aspect-ratio: 1.85/1;

    .cove-input__toggle-button {
      border-radius: 10%;
    }

    .cove-input__toggle-track {
      border-radius: 4px;
      box-shadow: 0 0 0 transparent;
    }
  }

  &.cove-input__toggle--pill {
    .cove-input__toggle-button {
      border-radius: 999px;
      aspect-ratio: 1.5/1;
    }

    &.cove-input__toggle--medium,
    &.cove-input__toggle--large,
    &.cove-input__toggle--xlarge {
      .cove-input__toggle-button {
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 5px;
          width: 1px;
          height: calc(100% - 10px);
          background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 30%, rgba(227, 227, 227, 1) 70%, rgba(255, 255, 255, 1) 100%);
        }

        &::before {
          left: 42%;
        }

        &::after {
          right: 42%;
        }
      }
    }
  }

  &.cove-input__toggle--3d {
    margin-right: 3px;
    margin-left: 3px;

    .cove-input__toggle-button {
      top: -30%;
      height: 160%;
      background: radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 1) 45%, rgb(200 200 200) 100%);
      transform: translateX(-20%);
      box-shadow: 0 1px 3px 1px rgb(0 0 0 / 40%), inset 0 0 3px 2px #fff;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        margin: 3px;
        border: 1px solid #ececec;
        border-radius: 999px;
      }
    }

    .cove-input__toggle-track {
      box-shadow: inset 1px 1px 3px rgb(0 0 0 / 40%)
    }

    &.cove-input__toggle--active {
      .cove-input__toggle-button {
        transform: translateX(20%);
      }

      .cove-input__toggle-track {
        box-shadow: inset 1px 1px 3px rgb(0 0 0 / 60%)
      }
    }
  }
}

.cove-input__toggle-spacer {
  flex-grow: 0;
  transition: all 200ms $transition-expo-out;
}

.cove-input__toggle--pill {
  width: 36px;
  height: 14px;
}

.cove-input__toggle--medium {
  @extend .cove-input__toggle;
  width: 40px;
  height: 20px;

  &.cove-input__toggle--block {
    width: 40px;

    .cove-input__toggle-button {
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    }
  }

  &.cove-input__toggle--pill {
    width: 45px;
    height: 20px;
  }

  &.cove-input__toggle--3d {
    width: 44px;
    height: 18px;
  }
}

.cove-input__toggle--large {
  @extend .cove-input__toggle;
  width: 60px;
  height: 26px;

  &.cove-input__toggle--flat {
    width: 50px;
    height: 26px;
  }

  &.cove-input__toggle--block {
    width: 50px;

    .cove-input__toggle-button {
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    }
  }

  &.cove-input__toggle--pill {
    width: 60px;
    height: 25px;

    .cove-input__toggle-button {
      aspect-ratio: 1.75/1;
    }
  }

  &.cove-input__toggle--3d {
    margin-right: 5px;
    margin-left: 5px;

    .cove-input__toggle-button {
      box-shadow: 0 1px 2px 2px rgb(0 0 0 / 22%), inset 0 0 3px 2px #fff;

      &:after {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        margin: 2px;
      }
    }
  }
}

.cove-input__toggle--xlarge {
  @extend .cove-input__toggle;
  width: 80px;
  height: 35px;

  &.cove-input__toggle--flat {
    width: 65px;
  }

  &.cove-input__toggle--block {
    width: 65px;

    .cove-input__toggle-button {
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    }
  }

  &.cove-input__toggle--3d {
    margin-right: 8px;
    margin-left: 8px;

    .cove-input__toggle-button {
      &:after {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin: 4px;
      }
    }
  }
}

.cove-input__toggle-button {
  position: relative;
  left: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 100%;
  transition: all 200ms $transition-expo-out;
  box-shadow: -2px 4px 10px -7px rgb(0 0 0);
  z-index: 2;
  aspect-ratio: 1/1;
}

.cove-input__toggle-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 999px;
  transition: all 200ms $transition-expo-out;
}
