.cdc-open-viz-module .annotation__desktop-label {
  line-height: 1.1rem;
  font-size: 16px;
}

.cdc-open-viz-module {
  .annotation__mobile-label-circle {
    stroke-width: 1;
  }

  .annotation__has-dropdown-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #666;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
  }
}
