.cdc-open-viz-module.type-chart {
  .annotation__title-circle {
    align-items: center;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    font-size: 14px;
    height: 24px;
    justify-content: center;
    line-height: 1.5rem;
    margin-right: 5px;
    padding: 8px;
    text-align: center;
    width: 24px;
  }

  .annotation__title-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }

  .annotation__title-wrapper .annotation__title-text {
    margin-left: 5px;
  }

  .annotation-list {
    list-style: none;
  }

  .annotation-list li {
    margin-top: 5px;
  }

  .cove-component__content {
    container-name: content;
    container-type: inline-size;
  }
}
