.cdc-open-viz-module {
  .annotation__dropdown-list {
    border: 1px solid red;
    list-style: none;
  }

  .annotation-dropdown__panel {
    padding: 10px;
  }

  .data-table-heading.annotation__dropdown-list {
    border-bottom: #c7c7c7 1px solid;
  }
}
