@import '../../themes/theme-colors';

.cove-modal__content {
  .dataset-selector-container {
    padding: 1em;

    .dataset-selector {
      max-width: 10em;
      padding: 0.5em;
      margin: 0 0.5em;
    }
  }

  .cove-data-designer__container {
    padding: 1em;
  }
}

.cove-data-designer__container {
  margin-bottom: 2rem;

  .fw-bold {
    font-weight: bold;
  }

  .fw-normal {
    font-weight: normal;
  }

  .column {
    grid-column-end: span 6;
  }
}

.cove-data-designer__button {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  cursor: pointer;

  strong {
    font-weight: bold;
  }

  .cove-card {
    box-sizing: border-box;
    position: relative;
    padding: 1em;
    text-align: left;
    border: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid $lightGray;
      border-radius: 0.25rem;
    }
  }

  &.active {
    .cove-card::after {
      border: 2px solid #005eaa;
    }
  }

  p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  table + table {
    margin-top: 1em;
  }

  table {
    border-collapse: collapse;
    font-size: 0.8rem;
    background-color: #fff;
    border: 1px solid $lightGray;

    th {
      text-align: left;
      color: white;
      background-color: $primary;
    }

    th,
    td {
      padding: 0 5px;
      border-top: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;
    }
  }
}

.cove-data-designer__ignored-keys {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  list-style-type: none;

  li {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.cove-data-designer__ignored-keys-tag.cove-button {
  justify-content: space-between;
  min-height: unset;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #d73636;
  background-color: #ffe2e2;
  border: 1px solid #ffc4c4;
  border-radius: 20px;
  outline: none !important;

  &:focus::after {
    border-radius: 20px !important;
  }

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #d73636;
    border: 1px solid #d73636;
  }
}

.cove-data-designer__ignored-keys-tag--name {
  margin-right: 0.75rem;
}

.cove-data-designer__ignored-keys-tag--icon {
}
