.cove.markup-include {
  .section-border {
    border: 1px solid black;
    padding: 10px;
  }
  .error {
    display: inline-block;
    color: red;
    border: 1px solid red;
    padding: 0px 10px;
  }
  span.edit-label {
    margin-bottom: 0.3em;
    display: block;
  }
}
