.cdc-open-viz-module.isEditor {
  background: transparent;
}

.cove-accordion__panel-section {
  overflow: auto;

  .cove-input__checkbox--small {
    float: left;
    display: block;
    margin-right: 5px;
  }
}

.cdc-open-viz-module.type-filtered-text {
  .cove-accordion__panel-section .cove-input__checkbox--small {
    // float: initial;
    // display: initial;
    float: none;
  }
  .cove-component__content.body:not(:empty) {
    padding: 1rem !important ;
  }
}
