@import '@cdc/core/styles/layout/wrapper-padding';

.cove-visualization.is-editor {
  background: transparent;
}

.cove-accordion__panel-section {
  overflow: auto;

  .cove-input__checkbox--small {
    float: left;
    display: block;
    margin-right: 5px;
  }
}

.cove-visualization.type-filtered-text {
  .cove-visualization__body {
    @include cove-visualization-body-padding;
  }

  .cove-accordion__panel-section .cove-input__checkbox--small {
    // float: initial;
    // display: initial;
    float: none;
  }
}
