// buttons that appear above data tables
.download-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;

  .btn:not(:last-child) {
    margin-right: 10px;
  }
  .btn-download {
    float: unset;
  }
  .download-button-link {
    background: transparent;
    border: 0;
    color: var(--colors-link-blue, var(--colors-blue-vivid-60));
    cursor: pointer;
    font-size: var(--download-link-font-size);
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  .download-button-link:not(:last-child) {
    margin-right: 10px;
  }
}

// links that appear above data tables
.download-links {
  justify-content: flex-end;
  line-height: 1;
  a:not(:last-child) {
    margin-right: 10px;
  }
  & a {
    font-size: var(--download-link-font-size);
  }
}

// odd wrapper thats different on dashboards
.cdc-dashboard-inner-container {
  .download-links {
    padding: unset;
    margin-bottom: 5px;
  }
  .download-buttons {
    margin: unset;
  }
}
