.collapsed + .table-container {
  border-bottom: none;
}
.table-container {
  overflow-x: auto;
  border-right: 1px solid $lightGray;
  border-left: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
}

div.data-table-heading {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.5em 0.7em;
  border: $lightGray 1px solid;
  border-bottom: 0;
  cursor: pointer;

  svg {
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    right: 1em;
  }

  &:focus {
    z-index: 2;
    position: relative;
  }
  @include breakpoint(xs) {
    font-size: $font-small + 0.2em;
  }
}

table.horizontal {
  th,
  td {
    min-width: 200px;
  }
}

table.data-table {
  min-width: 100%;
  background: #fff;
  position: relative;
  border: none;
  overflow-x: auto;
  border-collapse: collapse;
  overflow: auto;
  appearance: none;
  table-layout: fixed;
  * {
    box-sizing: border-box;
  }

  thead {
    user-select: none;
    -moz-user-select: none;
    user-select: none;

    button {
      background: none;
      font-size: initial;
      color: #fff;
      border: 0;
    }

    tr {
      background: none;
    }
  }
  thead {
    color: #fff;
    background-color: $mediumGray;
    .resizer {
      cursor: e-resize;
      width: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      touch-action: none;
    }
    tr {
      text-align: left;
    }
    th,
    td {
      padding: 0.5em 1.3em 0.5em 0.7em;
      line-height: normal;
      position: relative;
      text-align: left;
      cursor: pointer;
      border-right: 1px solid $lightGray !important;
      svg {
        margin-left: 1rem;
      }
    }

    th.sort {
      background-color: darken($mediumGray, 10%);
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 10px 5px;
    }

    // format the white triangle sort icon in data table headers
    .sort-icon {
      fill: white;
      width: 30px;
      float: right;
      align-self: center;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    th:last-child,
    td:last-child {
      border-right: 0;
    }
  }

  tbody {
    tr {
      width: 100%;
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  tr {
    border-bottom: solid 1px #e5e5e5;
    min-width: 100%; // Needed to fill content up
    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    padding: 0.3em 0.7em;

    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    width: 1% !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:last-child {
      border-right: 0 !important;
    }

    @include breakpoint(xs) {
      font-size: $font-small;
    }
  }
  tr {
    & > * {
      width: 100%;
    }
  }
  th {
    flex-grow: 1;
  }

  td {
    position: relative;
    flex-grow: 1;
  }

  td a {
    padding: 0.3em 0.7em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    color: inherit;
    text-decoration: none;
  }

  td span.table-link {
    text-decoration: underline;
    cursor: pointer;
    color: #075290;
    svg {
      max-width: 13px;
      vertical-align: baseline;
      margin-left: 5px;
    }
  }

  .boxplot-td {
    //display: inline-block;
    //box-sizing: border-box;
    table-layout: fixed;
    width: 200;
    //min-width: 150px;
    //max-width: 400px;
  }
}

.no-data {
  position: relative;
  .no-data-message {
    @include emptyState;
    h3 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }
  }
  tr:hover {
    background: #fff;
  }
  th,
  td {
    width: 50%;
    &::before {
      content: '\00a0';
    }
  }
}

.data-table-pagination {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    margin: 0 1rem 0 0;
    display: flex;
    li + li {
      margin-left: 0.3rem;
    }
    button {
      background: $mediumGray;
      padding: 0.6rem 0.8rem;
      &:hover {
        background: lighten($mediumGray, 5%);
      }
    }
    button.btn-next {
      &::before {
        content: ' ';
        background-image: url(../assets/icon-caret-filled-up.svg);
        background-size: 10px 5px;
        width: 10px;
        height: 5px;
        display: block;
        transform: rotate(90deg);
      }
    }
    button.btn-prev {
      &::before {
        content: ' ';
        background-image: url(../assets/icon-caret-filled-up.svg);
        background-size: 10px 5px;
        width: 10px;
        height: 5px;
        display: block;
        transform: rotate(-90deg);
      }
    }
    button[disabled] {
      background: $mediumGray;
      opacity: 0.3;
      cursor: default;
      &:hover {
        background: $mediumGray;
      }
    }
  }
}

.btn-download {
  color: #fff;
  float: right;
  text-decoration: none;
  transition: 0.3s all;
  margin: 1em 0;
  &:hover {
    transition: 0.3s all;
  }
}
.cove,
.cdc-open-viz-module {
  .download-links a:not(:last-child) {
    margin-right: 10px;
    display: inline-block;
  }
}
