table.data-table {
  width: 100%;
  background: #fff;
  position: relative;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  border: 1px solid $lightGray;
  align-items: stretch;
  border-collapse: collapse;
  overflow: auto;
  appearance: none;
  * {
    box-sizing: border-box
  }

  thead {
    user-select: none;
    -moz-user-select: none;
    user-select: none;
    tr {
      background: none;
    }
  }
  
  thead {
    color: #fff;
    display: flex;
    background-color: $mediumGray;
    .resizer {
      cursor: e-resize;
      width: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      touch-action:none;
    }
    tr {
      text-align: left;
    }
    th,
    td {
      padding: .5em 1.3em .5em .7em;
      line-height: normal;
      position: relative;
      text-align: left;
      cursor: pointer;
      border-right: 1px solid $lightGray !important;
      svg {
        margin-left: 1rem;
      }
    }
    
    th.sort {
      background-color: darken($mediumGray, 10%);
      background-repeat: no-repeat;
      background-position: right .5em center;
      background-size: 10px 5px;
    }

    th.sort-asc,
    td.sort-asc {
      background-image: url(~@cdc/core/assets/asc.svg);
    }
    
    th.sort-desc,
    td.sort-desc {
      background-image: url(~@cdc/core/assets/desc.svg);
    }
    
    th:last-child,
    td:last-child {
      border-right: 0
    }
  }
  
  tbody {
    display: flex;
    flex-direction: column;
    tr {
      width: 100%;
      &:hover {
        background: rgba(0, 0, 0, 0.05)
      }
    }
  }

  tr {
    display: flex;
    border-bottom: solid 1px #E5E5E5;
    &:last-child {
      border-bottom: 0
    }
  }
  
  td {
    padding: .3em .7em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:last-child {
      border-right: 0 !important;
    }
  }

  td {
    position: relative;
  }

  td a {
    padding: .3em .7em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    color: inherit;
    text-decoration: none;
  }
  
  td span.table-link {
    text-decoration: underline;
    cursor: pointer;
    color: #075290;
    svg {
      max-width: 13px;
      vertical-align: baseline;
      margin-left: 5px;
    }
  }
}

.no-data {
  position: relative;
  .no-data-message {
    @include emptyState;
    h3 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: .3rem;
    }
  }
  tr:hover {
    background: #fff;
  }
  th, td {
    width: 50%;
    &::before {
      content: "\00a0";
    }
  }
}

.data-table-pagination {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    margin: 0 1rem 0 0;
    display: flex;
    li + li {
      margin-left: .3rem;
    }
    button {
      background: $mediumGray;
      padding: .6rem .8rem;
      &:hover {
        background: lighten($mediumGray, 5%);
      }
    }
    button.btn-next {
      &::before {
        content: " ";
        background-image: url(~@cdc/core/assets/asc.svg);
        background-size: 10px 5px;
        width: 10px;
        height: 5px;
        display: block;
        transform: rotate(90deg);
      }
    }
    button.btn-prev {
      &::before {
        content: " ";
        background-image: url(~@cdc/core/assets/asc.svg);
        background-size: 10px 5px;
        width: 10px;
        height: 5px;
        display: block;
        transform: rotate(-90deg);
      }
    }
    button[disabled] {
      background: $mediumGray;
      opacity: .3;
      cursor: default;
      &:hover {
        background: $mediumGray;
      }
    }
  }
}

table.editor.data-table {
  tr {
    width: 100% !important;
  }
}