$colors: (
  'baseColor': #333,
  'blue': #005eaa,
  'lightestGray': #f2f2f2,
  'gray2': #f5f5f5,
  'lightGray': #c7c7c7,
  'mediumGray': #565656,
  'darkGray': #333,
  'red': #d8000c,
  'white': #fff,

  'primary': #005eaa,
  'secondary': #88c3ea,
  'tertiary': #c0e9ff,
  'quaternary': #edf9ff,

  'purple-primary': #712177,
  'purple-secondary': #b890bb,
  'purple-tertiary': #e3d3e4,
  'purple-quaternary': #f7f2f7,

  'brown-primary': #705043,
  'brown-secondary': #ad907b,
  'brown-tertiary': #d7ccc8,
  'brown-quaternary': #f2ebe8,

  'teal-primary': #00695c,
  'teal-secondary': #4ebaaa,
  'teal-tertiary': #ceece7,
  'teal-quaternary': #ebf7f5,

  'pink-primary': #af4448,
  'pink-secondary': #e57373,
  'pink-tertiary': #ffc2c2,
  'pink-quaternary': #ffe7e7,

  'orange-primary': #bb4d00,
  'orange-secondary': #ffad42,
  'orange-tertiary': #ffe97d,
  'orange-quaternary': #fff4cf,

  'slate-primary': #29434e,
  'slate-secondary': #7e9ba5,
  'slate-tertiary': #b6c6d2,
  'slate-quaternary': #e2e8ed,

  'indigo-primary': #26418f,
  'indigo-secondary': #92a6dd,
  'indigo-tertiary': #dee8ff,
  'indigo-quaternary': #f2f6ff,

  'cyan-primary': #006778,
  'cyan-secondary': #65b0bd,
  'cyan-tertiary': #cce5e9,
  'cyan-quaternary': #ebf5f6,

  'green-primary': #4b830d,
  'green-secondary': #84bc49,
  'green-tertiary': #dcedc8,
  'green-quaternary': #f1f8e9,

  'amber-primary': #fbab18,
  'amber-secondary': #ffd54f,
  'amber-tertiary': #ffecb3,
  'amber-quaternary': #fff7e1,

  'cool-gray-90': #1c1d1f,
  'cool-gray-50': #71767a,
  'cool-gray-30': #a9aeb1,
  'cool-gray-10': #dfe1e2,
  'colors-blue-vivid-60': #005ea2
);

@mixin theme() {
  :root {
    @each $key, $value in $colors {
      --#{$key}: #{$value};
    }
  }
}

@include theme();

:root {
  // Spacing
  --editorContentPadding: 30px;
  --editorWidth: 350px;
  --space-between-legend-item-rows: 1rem;
  --space-between-legend-item-columns: 1.5rem;
  // Breakpoints
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1170px;
  --breakpoint-xl: 1280px;
  // Font
  --app-font-main: 'Nunito', sans-serif;
  --app-font-secondary: 'Poppins', sans-serif;
  // Font sizes
  --legend-title-font-size: 1rem;
  --legend-description-font-size: 1rem;
  --legend-item-font-size: 0.889rem;
  --download-link-font-size: 0.772rem;
  --filter-select-font-size: 0.833rem;
  --filter-label-font-size: 0.889rem;
  --filter-buttons-font-size: 0.889rem;
  --superTitle-font-size: 0.833rem;
  --title-font-size: 1.222rem;
  --territory-label-font-size: 0.809rem;
  --territories-text-font-size: 0.722rem;
}
