strong {
  font-weight: 600;
}

.subtext {
  margin-top: 1em;
}

.error-box {
  background: #ffc2c2;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  strong {
    font-weight: 600;
  }
  p {
    margin: 0;
  }
  .dismiss-error {
    flex-shrink: 0;
    font-size: 0.8rem;
    cursor: pointer;
  }
}

.cdcdataviz-sr-only,
.cdcdataviz-sr-only-focusable:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  display: flex;
}
.cdcdataviz-sr-only-focusable:focus {
  width: fit-content;
  margin-bottom: 0.5em;
  margin-left: 1em;
}
.inline-icon {
  width: 1em !important;
  height: auto !important;
  @media all and (-ms-high-contrast: none) {
    height: 30px !important;
  }
  font-size: 1rem;
  color: inherit;
  path {
    fill: currentColor;
  }
}

.btn {
  background: #005eaa;
  color: #fff;
  border: 0;
  padding: 0.4em 0.8em;
  font-size: 1em;
  display: block;
  border-radius: 0.3em;
  transition: 0.1s background-color;
  cursor: pointer;
  &.full-width {
    width: 100%;
  }
  &:hover {
    transition: 0.1s background-color;
  }
  &.secondary {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-bottom: 1em;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  &.danger {
    background-color: $red;
    padding: 0em 0.6em 0em;
    height: 1.6em;
    font-size: 0.8 em;
    color: #fff;
    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &:hover {
    transition: 0.1s all;
    background: lighten(#005eaa, 5%);
  }

  svg {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}

input[type='text'],
input[type='date'],
input[role='combobox'],
input[type='number'],
input[type='search'],
textarea {
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-weight: normal;
  font-family: sans-serif;
  border: rgba(0, 0, 0, 0.3) 1px solid !important;
  &:focus {
    border: rgba(0, 0, 0, 0.7) 1px solid !important;
    outline: 0;
  }
}
textarea {
  min-height: 140px;
}
select {
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  text-transform: none;
  border: rgba(0, 0, 0, 0.3) 1px solid !important;
}

.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.guidance-link {
  margin: 2em 0 1em;
  padding: 0.75em 1em;
  display: flex;
  text-decoration: none;
  color: #444;
  border: $lightGray 1px solid;
  position: relative;
  transition: 0.2s all;
  font-size: 1em;
  &:before {
    content: ' ';
    width: 5px;
    background: $blue;
    left: -1px;
    top: -1px;
    bottom: -1px;
    position: absolute;
  }
  &:hover {
    background: $lightestGray;
    transition: 0.2s all;
    color: #444;
  }
  > div {
    font-size: 0.9em;
  }
  svg {
    width: 60px;
    color: $blue;
    margin-right: 1rem;
    path {
      fill: currentColor;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

section.introText {
  width: 100%;
  margin-bottom: 25px;
}

section.footnotes {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 15px;
}

.cdc-chart-inner-container .subtext {
  padding: 15px 0;
}

.margin-left-href {
  margin-left: 15px;
}
