.cdc-open-viz-module {
  margin: 0;
  font-family: var(--app-font-main);
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;

}
.cdc-open-viz-module {
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  legend,
  caption,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--app-font-main);
    font-weight: normal;
    vertical-align: baseline;
  }

  * {
    box-sizing: border-box;
  }

  sub,
  sup {
    /* Specified in % so that the sup/sup is the
      right size relative to the surrounding text */
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
      interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
      the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
      is already set and you can emove this rule */
    vertical-align: baseline;
  }

  sup {
    /* Move the superscripted text up */
    top: -0.5em;
  }

  sub {
    /* Move the subscripted text down, but only
      half as far down as the superscript moved up */
    bottom: -0.25em;
  }
}
