.cdc-open-viz-module {
  margin: 0;
  font: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;

  // match cdc site outline
  :focus,
  [tabindex]:focus-visible {
    outline: 2px solid rgba(255, 102, 1, 0.9) !important;
  }

  .outline-none {
    outline: none !important;
  }
}
.cdc-open-viz-module {
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-weight: normal;
    vertical-align: baseline;
  }

  button {
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }

  * {
    box-sizing: border-box;
  }

  sub,
  sup {
    /* Specified in % so that the sup/sup is the
      right size relative to the surrounding text */
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
      interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
      the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
      is already set and you can emove this rule */
    vertical-align: baseline;
  }

  sup {
    /* Move the superscripted text up */
    top: -0.5em;
  }

  header sup {
    /* Allow line breaks using html in the header. */
    top: initial;
    line-height: initial;
  }

  sub {
    /* Move the subscripted text down, but only
      half as far down as the superscript moved up */
    bottom: -0.25em;
  }

  ul > li:first-child {
    margin-top: auto;
  }
  ul > li:last-of-type {
    margin-bottom: auto;
  }
}
