&.font-small {
  .chart-container {
    font-size: 0.9em !important;
  }
}

&.font-medium {
  font-size: 1em !important;
}

&.font-large {
  .chart-container {
    font-size: 1.1em !important;
  }
}

.subtext {
  font-style: italic;
  font-size: 0.9em !important;
}

// TODO: when we have updated each section to use the new font, we can transition to using a global style
.chart-container {
  .legend-container {
    font-family: var(--app-font-main);
    h3,
    p {
      font-family: var(--app-font-main);
    }
  }
}
