// TODO: when we have updated each section to use the new font, we can transition to using a global style
.chart-container,
.map-container {
  .legend-container {
    font-family: var(--app-font-main);
    h3,
    p,
    span {
      font-family: var(--app-font-main);
    }
  }
  svg {
    font-family: var(--app-font-main);
  }
}

.subtext p,
p.subtext {
  font-family: var(--app-font-main);
}

.data-table-container {
  font-family: var(--app-font-main);
}

.download-links a {
  font-family: var(--app-font-main);
}

section.footnotes {
  font-family: var(--app-font-main);
}
