$baseColor: #333;
$blue: #005eaa;
$lightestGray: #f2f2f2;
$lightGray: #c7c7c7;
$mediumGray: #565656;
$darkGray: #333;
$red: #d8000c;
$white: #fff;

$primary: #005eaa !default;
$secondary: #88c3ea !default;
$tertiary: #c0e9ff !default;
$quaternary: #edf9ff !default;

$purple-primary: #712177 !default;
$purple-secondary: #b890bb !default;
$purple-tertiary: #e3d3e4 !default;
$purple-quaternary: #f7f2f7 !default;

$brown-primary: #705043 !default;
$brown-secondary: #ad907b !default;
$brown-tertiary: #d7ccc8 !default;
$brown-quaternary: #f2ebe8 !default;

$teal-primary: #00695c !default;
$teal-secondary: #4ebaaa !default;
$teal-tertiary: #ceece7 !default;
$teal-quaternary: #ebf7f5 !default;

$pink-primary: #af4448 !default;
$pink-secondary: #e57373 !default;
$pink-tertiary: #ffc2c2 !default;
$pink-quaternary: #ffe7e7 !default;

$orange-primary: #bb4d00 !default;
$orange-secondary: #ffad42 !default;
$orange-tertiary: #ffe97d !default;
$orange-quaternary: #fff4cf !default;

$slate-primary: #29434e !default;
$slate-secondary: #7e9ba5 !default;
$slate-tertiary: #b6c6d2 !default;
$slate-quaternary: #e2e8ed !default;

$indigo-primary: #26418f !default;
$indigo-secondary: #92a6dd !default;
$indigo-tertiary: #dee8ff !default;
$indigo-quaternary: #f2f6ff !default;

$cyan-primary: #006778 !default;
$cyan-secondary: #65b0bd !default;
$cyan-tertiary: #cce5e9 !default;
$cyan-quaternary: #ebf5f6 !default;

$green-primary: #4b830d !default;
$green-secondary: #84bc49 !default;
$green-tertiary: #dcedc8 !default;
$green-quaternary: #f1f8e9 !default;

$amber-primary: #fbab18 !default;
$amber-secondary: #ffd54f !default;
$amber-tertiary: #ffecb3 !default;
$amber-quaternary: #fff7e1 !default;

/// Fonts
$font-small: 0.7em;
