// Shared warning icon component
// Used across: chart, dashboard, data-bite packages
.warning-icon {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-left: 5px;

  path {
    fill: #d8000c;
  }
}
