@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 960px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1300px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

// Imports
@import "reset";
@import "variables";

.cdc-open-viz-module {
  color: $baseColor;
}

.inline-icon {
  width: 1em;
  height: auto;
  font-size: 1rem;
  color: inherit;
  path {
    fill: currentColor;
  }
}
