@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 960px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1300px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

// Imports
@import "reset";
@import "variables";

@mixin emptyState {
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}

.cdc-open-viz-module {
  color: $baseColor;
  @import "data-table";
  @import "global";
}