.filters-section {
  &__wrapper {
    flex-wrap: wrap;
    display: flex;
    gap: 18px 27px;
    label {
      display: inherit;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: var(--filter-label-font-size);
    }
  }

  &__intro-text {
    display: block;
    width: 100%;
  }

  &__buttons {
    width: 100%;
    font-size: var(--filter-buttons-font-size);
    .apply {
      margin-right: 10px;
    }
  }
}

div.single-filters {
  label {
    width: 100%;
    font-weight: 700;
  }

  &__tab-bar {
    &:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
  & > select.cove-form-select,
  & > div.nested-dropdown {
    width: fit-content;
  }
}

.single-filters--tab {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .tab {
    width: 25%;
    min-height: 40px;
    border: none;
    padding: 0.5em 0;
    background: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
    font-family: var(--app-font-secondary);
    font-size: 1rem;
    text-align: center;
  }

  .tab--active {
    border-bottom: none;
  }
}

.single-filters--tab-simple {
  flex-basis: 100%;
}

.tab-simple-container {
  border-bottom: 1px solid var(--cool-gray-10);
  flex-wrap: wrap;

  .tab.tab--simple {
    background: none;
    border: none;
    font-family: var(--app-font-secondary);
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 1rem;
    width: auto;
    cursor: pointer;
    border-radius: 6px 6px 0 0;

    @include breakpointClass(xs) {
      font-size: 0.778em;
      padding: 0.5rem 0.778em;
    }

    &:hover {
      color: var(--colors-blue-vivid-60, #005ea2);
      background: var(--colors-cyan-cool-10, #eff9fa);
    }
    // TODO - focus styles have to be heavy handed to override the project's global styles
    &:focus:not(:focus-visible) {
      outline: none !important;
    }
    &:focus-visible {
      outline: 2px dashed var(--colors-blue-vivid-60, #005ea2) !important;
      outline-offset: 3px;
    }

    &.tab--active {
      font-weight: 500;
      border-bottom: 0.3rem solid var(--colors-blue-vivid-60, #005ea2);
      z-index: 1;
    }
  }
}
.cdc-open-viz-module {
  @include breakpointClass(xs) {
    .single-filters--tab-simple .tab-simple-container .tab.tab--simple {
      font-size: 0.778em;
      padding: 0.5rem 0.778em;
    }
  }
}

.single-filters--pill {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .pill {
    border: none;
    width: 95%;
    height: 60px;
    background: none;
    border-radius: 30px;
    box-shadow: 0 2px 5px #d3d3d3;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: break-spaces;
    word-break: break-word;

    &__wrapper {
      width: 25%;
    }
  }
}

.single-filters__tab-bar {
  background: #f2f2f2;
  display: flex !important;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 15px;

  button.button__tab-bar {
    flex: 1 1 0px;
    padding: 10px;
    background: none;
    transition: background 2s;
    &--active {
      background: #fff;
      border-radius: 15px;
    }
  }
}
