@import './variables';

$black: #000;
$light-yellow: #fde0b5;
$dark-yellow: #f59a23;

.data-loader {
    padding-top: $gbl-padding;
    padding-bottom: $gbl-padding;
}

.data-import-preview {
    padding-top: $gbl-padding;
    padding-bottom: $gbl-padding;
    background-color: $lightest-gray;
    
    // overflow: auto;

    .table-responsive {
        max-height: 70vh;
    }

    table {
        // display: table;   
        th {
            padding: $table-padding;
            border: solid 1px $light-gray;
            background: $lighter-gray;
            color: black;
            font-weight: bold;

            &:empty {
                background: $light-yellow;
                border-color: $dark-yellow;
                border-width: medium;
            }
        }
    
        td {
            padding: $table-padding;
            border: solid 1px $light-gray;
            background: $white;
        }

        .index-col,
        tbody th {
            // width: 60px;
            font-size: size(14);
            text-align: center;
        }
    }
}

.close {
    float: none;
}

// .fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
//     display: none;
// }

.loaded {
    .upload-file-btn {
        display: none;
    }
}

.not-loaded {
    .loader-ui {
        display: none;
    }
}

.custom-file {
    height: calc(1.5em + 0.75rem + 6px) !important;

    label {
        height: 42px;
        line-height: 1.75;

        &:after {
            opacity: 0;
        }
    }

}

.data-error.alert-warning{
    background: $light-yellow;
    color: $black;
}

// this style may need to move to tab component
// if others will follow the same look
.tab-content {
    padding-top: $gbl-padding;
    border-top: 1px solid $black;
}
.nav-item {
    list-style: none;
    height: 55px;
    line-height: 55px;
    margin: 0 !important;
    cursor: pointer;

    &.active {
        color: $white;
        background: $black;
    }
}