@import './variables';

.data-loader {
    padding-top: $gbl-padding;
    padding-bottom: $gbl-padding;
}

.data-import-preview {
    padding-top: $gbl-padding;
    padding-bottom: $gbl-padding;
    background-color: $lightest-gray;

    table {
        // display: table;   
        th {
            padding: $table-padding;
            border: solid 1px $light-gray;
            background: $lighter-gray;
            color: black;
            font-weight: bold;
        }
    
        td {
            padding: $table-padding;
            border: solid 1px $light-gray;
            background: $white;
        }

        .index-col,
        tbody th {
            width: 60px;
            font-size: size(14);
            text-align: center;
        }
    }
}

.close {
    float: none;
}

// .fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
//     display: none;
// }

.loaded {
    .upload-file-btn {
        display: none;
    }
}

.not-loaded {
    .loader-ui {
        display: none;
    }
}

.custom-file {
    height: calc(1.5em + 0.75rem + 6px) !important;

    label {
        height: 42px;
        line-height: 1.75;

        &:after {
            opacity: 0;
        }
    }

}