@import '../utils/variables';
@import '../themes/index';

.sbdocs .cove-button {
  margin-right: 1rem;
  margin-bottom: 1rem;

  &.fluid {
    width: 100%;
    margin-right: 0;
  }
}

.cove-button {
  display: inline-block;
  position: relative;
  min-height: 2.125rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #fff;
  background-color: $primary;
  border-radius: 0.1875rem;
  border: 0;
  outline: none;
  transition: all 500ms $transition-expo-out;

  * {
    pointer-events: none;
    user-select: none;
  }

  &:disabled {
    background-color: #959595 !important;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: lighten($primary, 5%);
  }

  &:not(.loading) {
    &:focus,
    &:active {
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        outline: 2px solid rgba(161, 161, 161, 0.6);
        border-radius: 0.3125em;
        margin: -2px;
        pointer-events: none;
      }
    }
  }

  &.loading:disabled {
    cursor: default;
  }

  &.fluid {
    width: 100%;
  }

  &.success {
    background-color: #44aa41;

    &:hover {
      background-color: lighten(#44aa41, 5%);
    }
  }

  &.warn {
    background-color: #d73636;

    &:hover {
      background-color: darken(#d73636, 5%);
    }
  }

  &.muted {
    background-color: #a0a0a0;

    &:hover {
      background-color: darken(#a0a0a0, 5%);
    }
  }

  &.cove-button--flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.cove-button__text {
  position: relative;
  transition: width 500ms $transition-expo-out;
  align-self: stretch;

  .cove-button__text--loading {
    opacity: 0;
  }

  .cove-button__text--children {
    opacity: 1;
  }

  .cove-button__text--loading,
  .cove-button__text--children {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    transition: all 500ms $transition-expo-out;
  }
}

.cove-button__load-spin {
  display: flex;
  width: 0;
  overflow: hidden;
}

.cove-button__text--loading,
.cove-button__load-spin {
  white-space: nowrap;
  transition: all 500ms $transition-expo-out;
  opacity: 0;
}
