@import "../utils/variables";
@import "../themes/index";

.sbdocs .cove-button {
  margin-right: 1rem;
  margin-bottom: 1rem;

  &.fluid {
    width: 100%;
    margin-right: 0;
  }
}

.cove-button {
  display: inline-block;
  position: relative;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #fff;
  background-color: $primary;
  border-radius: 0.1875rem;
  border: 0;
  transition: all 500ms $transition-expo-out;
  user-select: none;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover {
    background-color: lighten($primary, 5%);
  }

  &:active,
  &:focus {
    background-color: lighten($primary, 5%);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      outline: 2px solid rgba(161, 161, 161, 0.6);
      border-radius: .3125em;
      margin: -2px;
      pointer-events: none;
    }
  }

  &.fluid {
    width: 100%;
  }

  &.success {
    background-color: #44aa41;

    &:hover {
      background-color: lighten(#44aa41, 5%);
    }
  }

  &.warn {
    background-color: #d73636;

    &:hover {
      background-color: darken(#d73636, 5%);
    }
  }

  &.muted {
    background-color: #a0a0a0;

    &:hover {
      background-color: darken(#a0a0a0, 5%);
    }
  }

  &.cove-button--has-icon {
    display: inline-flex;
    align-items: center;
  }
}

/* Old Styles ------------------------------------------
.btn {
  display: block;
  padding: .4em .8em;
  font-size: 1em;
  color: #fff;
  background: #005eaa;
  border: 0;
  border-radius: .3em;
  transition: .1s background-color;
  cursor: pointer;

  &.full-width {
    width: 100%;
  }

  &:hover {
    transition: .1s background-color;
  }

  &.secondary {
    font-size: .8em;
    padding: .3em 1em;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-bottom: 1em;

    &:hover {
      background: rgba(0, 0, 0, .5);
    }
  }

  &.danger {
    background-color: $red;
    color: #fff;

    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &:hover {
    transition: .1s all;
    background: lighten(#005eaa, 5%);
  }

  svg {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}*/
