@use 'sass:string';

@import "../utils/_variables.scss";
@import "../themes";

$componentBorderRadius: 3px;

.cove-component {
  border-radius: $componentBorderRadius;
  box-shadow: rgb(0 15 30 / 25%) 0 5px 15px -5px;

  &[data-shadow="false"] {
    box-shadow: none;
  }

  @at-root {
    .cove-editor #{&} {
      transition: box-shadow 500ms $transition-expo-out;
    }
  }
}

.cove-component__container {
  height: auto;
  border-radius: $componentBorderRadius;
  overflow: hidden;
}

.cove-component__header {
  padding: 0.6rem 0.8rem;
  font-size: 1.1rem;
  color: #fff;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  transition: background-color 200ms ease, border-color 200ms ease;
  //border-radius: $componentBorderRadius $componentBorderRadius 0 0;
}

.cove-component__content {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: $componentBorderRadius;
  transition: background-color 200ms ease;

  &[data-bg="none"] {
    background-color: transparent;
  }

  @at-root {
    .cove-component[data-border="theme"] #{&},
    .cove-component[data-border="none"] #{&} {
      border: 0;
    }

    .cove-component__header + #{&} {
      border-top: none;
      border-radius: 0 0 $componentBorderRadius $componentBorderRadius;
    }

    .cove-component[data-accent="top"] #{&} {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .cove-component[data-accent="right"] #{&} {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .cove-component[data-accent="bottom"] #{&} {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .cove-component[data-accent="left"] #{&} {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.cove-component__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// Apply Themes
@each $theme-name, $theme-colors in $theme {
  .cove-theme--#{$theme-name} {
    &.cove-component[data-border="theme"] .cove-component__container {
      border: 1px solid string.unquote(nth($theme-colors, 1));
    }

    &.cove-component[data-accent="top"] .cove-component__container {
      border-top: 0.75rem solid string.unquote(nth($theme-colors, 1));
      box-shadow: 0 3px 0 string.unquote(nth($theme-colors, 2)) inset;
      padding-top: 3px;
    }

    &.cove-component[data-accent="right"] .cove-component__container {
      border-right: 0.5rem solid string.unquote(nth($theme-colors, 1));
    }

    &.cove-component[data-accent="bottom"] .cove-component__container {
      border-bottom: 0.5rem solid string.unquote(nth($theme-colors, 1));
    }

    &.cove-component[data-accent="left"] .cove-component__container {
      border-left: 0.5rem solid string.unquote(nth($theme-colors, 1));
    }

    .cove-component__header {
      background-color: string.unquote(nth($theme-colors, 1));
      border-color: string.unquote(nth($theme-colors, 2));
    }

    .cove-component__content[data-bg="theme"] {
      background: string.unquote(nth($theme-colors, 4));
    }
  }
}
