@import "../utils/variables";
@import "../themes/index";

.cove-editor {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "panel content";
  position: relative;
  height: 100vh;
}

.cove-editor__toggle {
  position: absolute;
  top: 10px;
  left: 307px;
  width: 25px;
  height: 25px;
  background-color: #f2f2f2;
  border-radius: 60px;
  color: #000;
  font-size: 1em;
  border: 0;
  cursor: pointer;
  transition: left 400ms ease 65ms, background-color 200ms ease;
  box-shadow: rgba(0, 0, 0, .5) 0 1px 2px;
  user-select: none;
  z-index: 8;

  &:before {
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "\00ab";
  }

  &.collapsed {
    left: 1em;
    margin-left: 0;

    &:before {
      content: "\00bb";
    }
  }

  &:hover {
    background-color: #ffffff
  }
}

.cove-editor__panel {
  grid-area: panel;
  width: 0;
  background-color: #fff;
  border-right: 1px solid #c2c2c2;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 500ms ease;
  z-index: 7;

  @at-root {
    .cove-editor.panel-shown #{&}{
      width: $editorWidth;
    }
  }
}

.cove-editor__panel-container {
  width: $editorWidth;
  min-width: $editorWidth;
}

.cove-editor__panel-config {} //TODO: COVE Refactor - Is this needed in DOM at all?

.cove-editor__divider {
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.cove-editor__content {
  position: relative;
  grid-area: content;
  background-color: #fff;
  transition: background-color 500ms $transition-expo-out;

  @at-root {
    .cove-editor.panel-shown #{&}{
      background-color: #e7e7e7;
    }
  }
}

.cove-editor__content-wrap {
  position: relative;
  margin: 3rem auto;
  min-width: 35rem;
  max-width: 50%;
}

.cove-editor__heading {
  padding: .625rem 1.125rem;
  color: #fff;
  font-size: 1.125em;
  background-color: $mediumGray;
  user-select: none;
}

// TODO: What is this stuff? -----------------------------------------------
.TODO-make-components {
  .divider-heading {
    display: block;
    font-size: 1em;
    margin-top: 1em;
  }

  .sort-list {
    list-style: none;

    > li {
      margin-right: .3em;
      margin-bottom: .3em;
    }

    li > div {
      display: block;
      box-sizing: border-box;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      background: #F1F1F1;
      padding: .4em .6em;
      font-size: .8em;
      margin-bottom: .3em;
      cursor: move;
    }
  }

  .info {
    font-size: .8em;
    line-height: 1.4em;
    font-style: italic;
    padding-top: 10px;
  }

  .react-tags__search {
    width: 100%;
  }

  .react-tags {
    position: relative;
    cursor: text;

    input.react-tags__search-input {
      font-size: .8rem;
    }

    span {
      display: inline
    }

    &.is-focused {
      border-color: rgba(0, 0, 0, 0.7);
    }
  }

  .react-tags__selected {
    display: inline;
  }

  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;
    padding: .4em .6em;
    font-size: .8em;
    margin-right: .3em;
    margin-bottom: .3em;

    &::after {
      content: '\2715';
      color: #AAA;
      margin-left: 8px;
    }

    &:hover,
    &:focus {
      border-color: #B1B1B1;
    }
  }

  .react-tags__search {
    display: inline-block;
    max-width: 100%;

    input {
      max-width: 100%;
      margin: 0;
      outline: none;
      padding: .5em .3em;
      font-size: inherit;
      line-height: inherit;
    }

    input::-ms-clear {
      display: none;
    }
  }

  @media screen and (min-width: 30em) {
    .react-tags__search {
      position: relative;
    }
  }

  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    ul {
      margin: 4px -1px;
      padding: 0;
      list-style: none;
      background: white;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    li {
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;

      &:hover {
        cursor: pointer;
        background: #eee;
      }

      &.is-active {
        background: #b7cfe0;
      }

      &.is-disabled {
        opacity: 0.5;
        cursor: auto;
      }

      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 30em) {
    .react-tags__suggestions {
      width: 240px;
    }
  }
}

// TODO: Advanced??? What is this? -----------------------------------------------
.advanced {
  padding: 0 1em 1em;
  text-align: left;

  p {
    font-size: .8rem;
  }

  .advanced-toggle-link {
    padding-top: 1em;
    display: block;
    text-align: left;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    text-decoration: underline;

    span {
      text-decoration: none;
      display: inline-block;
      font-family: monospace;
      padding-right: 5px;
    }

    &:hover {
      color: rgba(0, 0, 0, .7);
    }
  }

  textarea {
    height: 400px;
    width: 100%;
    font-size: .9em;
    padding: .5em;
    font-family: monospace;
    box-sizing: border-box
  }
}
