@import '../utils/variables';
@import '../themes/color-definitions';

.cove-guidance-block {
  display: block;
  position: relative;
  padding: 0.75rem 1rem;
  margin-left: 5px;
  color: #444;
  text-decoration: none;
  border: $lightGray 1px solid;
  border-left: none;
  border-radius: 0 0.1875rem 0.1875rem 0;
  transition: all 200ms $transition-expo-out;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -5px;
    bottom: -1px;
    width: 5px;
    background: $blue;
    border-radius: 0.1875rem 0 0 0.1875rem;
  }

  &:hover,
  &:focus,
  &:active {
    background: $lightestGray;
    color: #444;
    transition: 0.2s all;
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    margin: -4px;
    border-radius: 0.1875rem;
    outline: 2px solid transparent;
    transition: outline 200ms $transition-expo-out;
    pointer-events: none;
  }

  &:focus,
  &:active {
    outline: none;

    &:after {
      outline: 2px solid rgba(161, 161, 161, 0.6);
    }
  }

  svg {
    width: 60px;
    color: $blue;
    margin-right: 1rem;

    path {
      fill: currentColor;
    }
  }
}

.cove-guidance-block__header {
  font-weight: bold;
  font-size: 1.125rem;
}

.cove-guidance-block__content {
  font-size: 0.875rem;
}
