.cove-icon {
  display: inline-flex;
  width: 1rem;
  height: auto;
  justify-content: center;
  align-items: center;

  @media all and (-ms-high-contrast: none) {
    height: 30px;
  }

  > svg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
  }
}
