@import "../utils/variables";
@import "../themes/index";

input, datalist, textarea, select {
  transition: border-color 200ms $transition-expo-out;
  font-family: sans-serif;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="search"],
datalist, textarea, select {
  padding: 0.5em 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcbcb;
  border-radius: 3px;
  width: 100%;

  &::placeholder {
    transition: opacity 400ms $transition-expo-out;
    color: #b3b3b3;
    opacity: 1;
  }

  &:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #4c4c4c;
    outline: 0;

    &::placeholder {
      opacity: 0;
    }
  }

  &[disabled] {
    background-color: #e4e4e4;
  }
}

select {
  &.input--small {
    padding: 0;
  }
}

textarea {
  width: 100%;
  min-height: 140px;
  max-width: 100%;
  line-height: 1.5em;
}

label {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  user-select: none;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.cove-input-group {
  &:not(:last-child) {
    margin-bottom: 1.5em;
  }

  > label {
    margin-bottom: 0.5rem;
  }

  .cove-input-group--checkbox:last-of-type,
  .cove-input-group--radio:last-of-type {
    margin-bottom: 0;
  }
}

.cove-input-group--checkbox {
  margin-bottom: 1rem;
}

.cove-input-group--checkbox,
.cove-input-group--radio {
  display: flex;
  align-items: center;

  label,
  input[type="checkbox"],
  input[type="radio"] {
    cursor: pointer;
    user-select: none;
  }

  label {
    padding-right: 6px;

    + input[type="checkbox"],
    + input[type="radio"] {
      margin-left: 0;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;

    + label {
      padding-right: 0;
      padding-left: 6px;
    }
  }

  input[type="radio"] {
    margin-bottom: 5px;
  }
}

.cove-input--hidden {
  position: absolute;
  z-index: -999;
  width: 1px;
  height: 1px;
  margin: 0;
  opacity: 0;
  pointer-events: none;
}

.cove-input__slider {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 26px;
  padding: 3px;
  cursor: pointer;

  &.active {
    .cove-input__slider-button {
      left: 100%;
      transform: translateX(-100%);
    }

    .cove-input__slider-track {
      background-color: #75b936;
    }
  }

  &.slider--block {
    width: unset;
    aspect-ratio: 1.85/1;
    padding: 4px;

    .cove-input__slider-button {
      border-radius: 10%;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    }

    .cove-input__slider-track {
      border-radius: 4px;
      box-shadow: 0 0 0 transparent;
    }

    &.active {
      .cove-input__slider-track {
        box-shadow: inset -40px 0 10px -10px rgb(0 0 0 / 15%);
      }
    }
  }

  &.slider--pill {
    width: 60px;
    height: 25px;

    .cove-input__slider-button {
      border-radius: 999px;
      aspect-ratio: 1.75/1;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: calc(100% - 10px);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 30%, rgba(227, 227, 227, 1) 70%, rgba(255, 255, 255, 1) 100%);
        position: absolute;
        top: 5px;
      }

      &::before {
        left: 42%;
      }

      &::after {
        right: 42%;
      }
    }
  }

  &.slider--3d {
    .cove-input__slider-button {
      background: radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 1) 45%, rgb(200 200 200) 100%);
      box-shadow: 0 1px 3px 1px rgb(0 0 0 / 40%), inset 0 0 3px 2px #fff;
      height: 160%;
      top: -30%;
      transform: translateX(-20%);

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        border: 1px solid #ececec;
        border-radius: 999px;
        margin: 3px;
      }
    }

    .cove-input__slider-track {
      box-shadow: inset 1px 1px 3px rgb(0 0 0 / 40%)
    }

    &.active {
      .cove-input__slider-button {
        transform: translateX(-80%);
      }

      .cove-input__slider-track {
        box-shadow: inset 1px 1px 3px rgb(0 0 0 / 60%)
      }
    }
  }
}

.cove-input__slider--small {
  @extend .cove-input__slider;
  width: 40px;
  height: 20px;

  &.slider--pill {
    width: 45px;
    height: 20px;

    .cove-input__slider-button {
      aspect-ratio: 1.5/1;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  &.slider--3d {
    .cove-input__slider-button {
      box-shadow: 0 1px 2px 2px rgb(0 0 0 / 22%), inset 0 0 3px 2px #fff;

      &:after {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        margin: 2px;
      }
    }
  }
}

.cove-input__slider--large {
  @extend .cove-input__slider;
  width: 80px;
  height: 35px;

  &.slider--pill {
    width: 80px;
    height: 30px;
  }

  &.slider--3d {
    .cove-input__slider-button {

      &:after {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin: 4px;
      }
    }
  }
}

.cove-input__slider-button {
  position: relative;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #fff;
  box-shadow: -2px 4px 10px -7px rgb(0 0 0);
  border-radius: 100%;
  transition: all 200ms $transition-expo-out;
  z-index: 2;
}

.cove-input__slider-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 999px;
  transition: all 200ms $transition-expo-out;
}

.cove-input__checkbox {
  display: inline-block;
  width: 1.75rem;
  aspect-ratio: 1/1;
  cursor: pointer;

  &--small {
    @extend .cove-input__checkbox;
    width: 1.25rem;
  }

  &--large {
    @extend .cove-input__checkbox;
    width: 2.25rem;
  }

  &.active {
    .cove-input__checkbox-box {
      background-color: #fff;

      &.custom-color {
        box-shadow: none;
      }
    }

    .cove-input__checkbox-check {
      opacity: 1;
      transform: translateY(-1px);
    }
  }
}

.cove-input__checkbox-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #c4c4c4;
  transition: all 150ms $transition-expo-out;
}

.cove-input__checkbox-check {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 3px;
  fill: #fff;
  pointer-events: none;
  transform: translateY(-1px);
  transition: all 250ms $transition-expo-out;
  opacity: 0;
}
