@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
