@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
