$grid-gap-offset: 8;
$grid-gap-max: 64;
$grid-columns: 12;

@mixin create-grid-selectors($breakpoint: null) {
  $infix: if($breakpoint == null, '', '-#{$breakpoint}');

  @for $i from 1 through $grid-columns {
    .col#{$infix}-#{$i} {
      grid-column-end: span $i;
    }
    .col-offset#{$infix}-#{$i} {
      grid-column-start: $i + 1;
    }
    .row#{$infix}-#{$i} {
      grid-row-end: span $i;
    }
    .row-offset#{$infix}-#{$i} {
      grid-row-start: $i + 1;
    }
  }
}

@mixin grid-gaps() {
  $i: 0;
  @while ($i * $grid-gap-offset) <= $grid-gap-max {
    .grid-gap-#{$i} {
      grid-gap: #{($i * $grid-gap-offset) + 'px'};
      gap: #{($i * $grid-gap-offset) + 'px'};
    }
    $i: $i + 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
}

@include create-grid-selectors;
@include grid-gaps;

@each $breakpoint, $width in $cove-breakpoints {
  @media (min-width: $width) {
    @include create-grid-selectors($breakpoint);
  }
}
