// Content Spacer Classes
$cove-spacers-offset: 8;
$cove-spacers-max: 64;

@mixin spacers($className, $styleNameCollection) {
  $i: 0;
  @while ($i * $cove-spacers-offset) <= $cove-spacers-max {
    #{$className + $i} {
      @each $styleName in $styleNameCollection {
        #{$styleName}: #{($i * $cove-spacers-offset) + 'px'} !important;
      }
    }
    $i: $i + 1;
  }
}

@include spacers('.p-', 'padding');
@include spacers('.pt-', 'padding-top');
@include spacers('.pr-', 'padding-right');
@include spacers('.pb-', 'padding-bottom');
@include spacers('.pl-', 'padding-left');
@include spacers('.px-', ('padding-left', 'padding-right'));
@include spacers('.py-', ('padding-top', 'padding-bottom'));

@include spacers('.m-', 'margin');
@include spacers('.mt-', 'margin-top');
@include spacers('.mr-', 'margin-right');
@include spacers('.mb-', 'margin-bottom');
@include spacers('.ml-', 'margin-left');
@include spacers('.mx-', ('margin-left', 'margin-right'));
@include spacers('.mx-', ('margin-top', 'margin-bottom'));
