$editorWidth: 350px;

$baseColor: #333;
$blue: #005EAA;
$lightestGray: #F2F2F2;
$lightGray: #C7C7C7;
$mediumGray: #565656;
$darkGray: #333;
$red: #d8000c;
$white: #fff;

$transition-expo-out: cubic-bezier(0.16, 1, 0.3, 1);

@import "../themes/color-definitions";
