@import 'utils';
@import 'base';
@import 'themes';

.cove {
  color: $baseColor;
  font-size: 16px;
  line-height: 1.4;

  @import 'layout';

  @include breakpointClass(md) {
    font-size: 16px;
  }
}
