.filters-section__note-text {
  display: block;
  flex-basis: 100%;
  max-width: 20rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  white-space: normal;
  overflow-wrap: break-word;
}
